.styleguide {
  padding: 3rem;
}

.styleguide-container {
  width: 1024px;
  margin: auto;
}

.styleguide-section {
  margin-bottom: 3rem;
}

.styleguide-form {
  width: 50%;
}

.styleguide-ap-btn {
  display: inline-block;
  margin-right: 2rem;
}

.styleguide__input-box {
  flex-direction: column;
}

.styleguide__pane {
  border: 1px solid var(--border__color);
  padding: 15px;
}

.styleguide__icons:nth-child(n+2) {
  margin-top: 15px;
}

.styleguide__pane-icons{
  border: 1px solid var(--border__color);
  padding: 5px;
}

.styleguide__icons{
  border: 1px solid var(--border__color);
  padding: 15px;
}

.styleguide__icon{
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom:15px;
  width:25%;
}

.styleguide__icon span:nth-of-type(2){
  visibility: hidden;
}
.styleguide__icon:hover span:nth-of-type(2){
  visibility: visible;
}

.styleguide__icon .ap-icon,
.styleguide__icon .ap-icon--info{
  width:50px;
  height:50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleguide__icon .ap-icon--star{
  position: relative;
  top: 0;
  right: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.styleguide__icon .ap-icon svg{
  width:20px;
  height: 20px; 
}

.styleguide__icon .ap-icon--sendWithBorder svg,
.styleguide__icon .ap-icon--receiveWithBorder svg,
.styleguide__icon .ap-icon--depositWithBorder svg,
.styleguide__icon .ap-icon--withdrawWithBorder svg,
.styleguide__icon .ap-icon--open-buy svg,
.styleguide__icon .ap-icon--open-sell svg{
  width: 36px;
  height: 36px;
}

.styleguide__icon .ap-icon--logo-powered svg{
  width: 100px;
}