.btz-button {
  border-radius: 3px;
}

.btz-button__medium {
  padding: 8px 16px;
  font-size: 14px;
}

.btz-button__small {
  font-size: 12px;
  padding: 6px 12px;
}

.btz-button__large {
  font-size: 16px;
  padding: 12px 24px;
}

.btz-button__full-width {
  width: 100%;
}

.btz-button__contain {
  color: #fff;
  background-image: linear-gradient(110deg, #00c18a, #00a494);
  
}

.btz-button__contain:hover,
.btz-button__contain:focus {
  background-image: linear-gradient(110deg, #72d09e, #7fc6ae);
}

.btz-button__contain.disabled {
  cursor: unset;
  color: #626262 !important;
  background-color: #3b3b3b !important;
  background-image: none !important;
}

.btz-button__outline {
  color: #00a494;
  border: 1px solid #00a494;
  background-color: transparent;
  background-image: none;
}

.btz-button__outline:hover,
.btz-button__outline:focus {
  color: #fff;
  border: 1px solid transparent;
  background-image: linear-gradient(110deg, #72d09e, #7fc6ae);
}

.btz-button__outline.disabled {
  cursor: unset;
  color: #626262 !important;
  background-color: transparent !important;
  border: 1px solid #3b3b3b !important;
}

.btz-button__link {
  color: #fff;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: none;
}

.btz-button__link:hover,
.btz-button__link:focus {
  color: #00a494;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: none;
}

.btz-button__link.disabled {
  cursor: unset;
  color: #626262 !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}