.ap-datepicker-dropdown__select-wrapper {
  margin-bottom: 2rem;
}

.ap-datepicker-dropdown__select {
  margin-right: 1rem;
}

.ap-datepicker-dropdown__select:last-child {
  margin: 0;
}

.ap-datepicker-dropdown__error {
  color: var(--danger__color);
  padding-top: 0.5rem;
  display: inline-block;
}

.ap-datepicker-dropdown__info {
  padding-top: 0.5rem;
}