.pdpa__text {
  max-width: 580px;
  font-size: 16px;
  line-height: 1.5;
}

.pdpa__modal__footer {
  margin-right: 2.5rem;
}

.pdpa__modal__btn {
  background: var(--success__bg-color) !important;
  min-width: unset;
  float: right;
}

.pdpa__modal__content {
  padding: 0px;
}

.pdpa__iframe {
  width: 850px;
  height: 500px;
}


@media only screen and (max-width: 768px) {
  .pdpa__iframe {
    width: 600px;
    height: 600px;
  }

}

@media only screen and (max-width: 480px) {
  .pdpa__iframe {
    width: 320px;
    height: 320px;
  }
}