.buy-sell__container {
  height: 100%;
  background: var(--component__header-bg-color);
  border-radius: 1rem;
}

.buy-sell__tab-wrapper {
  display: inline-flex;
  width: 100%;
}

.buy-sell__buy-sell-hr {
  margin-top: 0;
}

.buy-sell__tab {
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  border-bottom: 1px solid var(--buy-sell__border-color);
  color: var(--font__color-secondary);
  font-weight: bold;
  text-transform: uppercase;
}

.buy-sell__vertical-divider {
  width: 1px;
  background: var(--buy-sell__border-color);
}

.buy-sell__tab--buy-selected {
  color: var(--font__color-primary);
  border-bottom: 2px solid var(--exchange-colors__buy);
}

.buy-sell__tab--sell-selected {
  color: var(--font__color-primary);
  border-bottom: 2px solid var(--exchange-colors__sell);
}

.buy-sell__tab:hover {
  color: var(--font__color-primary);
  cursor: pointer;
}

.buy-sell__crypto-container {
  margin: 3.2rem;
}

.buy-sell__extra-info-container {
  margin: 2.4rem 3.2rem 0;
}

.buy-sell__confirm-button-container {
  padding: 3.2rem 3.2rem 3.4rem;
}

.buy-sell__amount-header {
  margin: 4.5rem 3.3rem 1.2rem;
  color: var(--font__color-secondary);
  font-size: 1.4rem;
  padding-right: 2.6rem;
  display: flex;
  justify-content: space-between;
}

.buy-sell__form-header {
  padding: 2.8rem 3.3rem;
  color: var(--font__color-primary);
  font-size: 1.8rem;
}

.buy-sell__amount-container {
  border: 1px solid var(--border__color);
  margin: 0 3.2rem;
  display: block;
  background-color: var(--secondary__bg-color);
  border-radius: var(--component__border-radius);
}

.buy-sell__amount-row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border__color);
  padding: 1rem 1.6rem;
  height: 4.4rem;
  color: var(--font__color-secondary);
}

.buy-sell__amount-row--active,
.buy-sell__input--active {
  color: var(--font__color-primary);
}

.buy-sell__input--disable {
  color: var(--font__color-secondary);
}

.buy-sell__amount-row div {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding-bottom: 0.1rem;
}

.buy-sell__amount-row div:nth-of-type(2) {
  min-width: 7.2rem;
  text-align: right;
  width: 50%;
}

.buy-sell__amount-row div:nth-of-type(3) {
  min-width: 9rem;
  text-align: right;
  width: 50%;
}

.buy-sell__amount-row:not(.buy-sell__amount-row--one-input-layout):not(.buy-sell__amount-row--two-inputs-layout) div:nth-of-type(2),
.buy-sell__amount-row:not(.buy-sell__amount-row--two-inputs-layout) div:nth-of-type(3) {
  padding-right: 1rem;
}

.buy-sell__amount-row:last-child {
  border: 0;
}

.buy-sell__input {
  letter-spacing: 0.1rem;
  max-width: 80%;
  margin-left: 20%;
  margin-bottom: 6px;
  text-align: right;
  font-size: 1.5rem;
  border: 1px solid transparent;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 3.2rem;
  border-radius: var(--component__border-radius);
}

.buy-sell__input-wrapper {
  margin: 0;
  align-content: center;
}

.buy-sell__first-in-row .ap-radio__label {
  padding-right: 0;
  /* width: 10%; */
}

.buy-sell__verification {
  max-width: 90%;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: var(--component__border-radius);
}

.buy-sell__btn {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  border-radius: var(--component__border-radius);
  font-weight: bold;
  font-size: 1.5rem;
}

.buy-sell__container .ap-select__select {
  background-color: var(--secondary__bg-color);
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 4rem;
}

.buy-sell__container .ap-radio__check {
  border: 0 solid transparent;
  background: var(--buy-sell__radio-bg-color);
}

.ap-radio__checked {
  background-color: var(--buy-sell__radio-check-bg-color--selected);
}

.ap-radio input[type='radio']:checked ~ label > .ap-radio__check {
  background-color: var(--buy-sell__radio-bg-color--selected);
  border: 3px solid var(--buy-sell__radio-border-color--action);
}

.ap-radio__label:hover .ap-radio__check {
  border: 2px solid var(--buy-sell__radio-check-border-color--action);
  background-color: var(--buy-sell__radio-check-bg-color--selected);
}

.buy-sell__select-label {
  font-size: 1.4rem;
}

.buy-sell__select {
  -webkit-appearance: none;
  border-radius: 4px;
}

.buy-sell__triangles-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.3rem;
  bottom: 1.25rem;
  pointer-events: none;
}

.buy-sell__arrow {
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-right: -2.5rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  transition: var(--transition__settings);
}

.buy-sell__icon {
  padding-right: 3rem;
}

.buy-sell__container--alt-layout {
  background: none;
}

.buy-sell__vertical-divider--alt-layout,
.buy-sell__amount-header--alt-layout {
  display: none;
}

.buy-sell__amount-container--alt-layout {
  margin-top: 3.2rem;
  background-color: var(--component__header-bg-color);
}

.buy-sell__input--alt-layout {
  background-color: var(--secondary__bg-color);
  border: 1px solid var(--border__color);
}

.flex-table.buy-sell-popup {
  -webkit-overflow-scrolling: touch;
  max-height: 35rem;
}

.buy-sell__instrument-selector {
  margin-top: 2rem;
  padding: 0 3.2rem;
  height: 3.6rem;
}

.buy-sell__instrument-selector .instrument-selector-popover__popover {
  width: 25rem;
  border: var(--instrument-selector__popover-border);
  border-radius: var(--component__border-radius);
}

.buy-sell__instrument-selector .instrument-selector__trigger {
  border-bottom: 0;
  background: var(--secondary__bg-color);
  border-radius: var(--component__border-radius);
  height: 3.4rem;
  min-height: 3.4rem;
  padding:0 1rem;
}

.buy-sell__instrument-selector .instrument-selector-popover__content {
  top: 4.2rem;
}

.buy-sell-popup__header-column--coin {
  flex-grow: 1.5;
}

.buy-sell-popup__column--coin {
  flex-grow: 1.5;
}


/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {

  .buy-sell__instrument-selector {
    padding: 0 2.4rem;
  }

  .buy-sell__instrument-selector .instrument-selector-popover__content {
    left: -16px;
  }

  .buy-sell-popup {
    width: 35rem;
    overflow-x: auto;
  }
  
  .buy-sell__crypto-container {
    margin: 3rem 2.4rem 2rem;
  }

  .buy-sell__amount-header {
    margin: 1rem 1.2rem;
  }

  .buy-sell__amount-container {
    margin: 0 2.4rem;
  }

  .buy-sell__amount-header {
    margin: 4.5rem 3.2rem 1.2rem;
  }

  .buy-sell__confirm-button-container {
    padding: 2.5rem 3.2rem 2.4rem;
  }

  .buy-sell__amount-row {
    padding: 1rem;
  }

  .buy-sell__arrow {
    margin-right: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .buy-sell__input {
    margin-left: unset;
    max-width: unset;
  }

  .buy-sell__container--layout-style-2 {
    background: var(--secondary__bg-color);
  }

  .buy-sell__amount-container--layout-style-2 {
    margin: 2.3rem 2.4rem 0;
  }

  .buy-sell__extra-info-container--layout-style-2 {
    margin: 1.6rem 2.4rem 0;
  }
}
