.settings-layout__layout {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.settings-layout__body {
  display: flex;
  height: var(--body__content-height);
}

.settings-layout__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: var(--component__border);
}
