.merchant__container {
  height: auto;
  background: var(--component__header-bg-color);
  /* border-radius: 1rem; */
}

.dashboard-page__merchant-overview-container-left.bg-dark {
  position: relative;
  background: var(--body__gradient);
}

.merchant__divider {
  margin: 3rem 0 1rem 0;
}

.merchant__tab-wrapper {
  display: inline-flex;
  width: 100%;
}

.merchant__content-wrapper {
  padding: 3.2rem;
  background-color: var(--balance-item__container-bg-color);
}

.merchant__request-quote__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  font-size: 1.8rem;
}

.merchant__merchant-quote:disabled {
  background-color: #2c514a;
  background-image: none;
}

.merchant__buy-sell-hr {
  margin-top: 0;
}

.merchant__tab {
  font-size: 1.4rem;
  width: 50%;
  text-align: center;
  height: 7rem;
  line-height: 7rem;
  border-bottom: 2px solid #4a4a49;
  color: var(--font__color-secondary);
  font-weight: bold;
  text-transform: uppercase;
}

.merchant__vertical-divider {
  width: 1px;
  background: #1c1c1c;
}

.merchant__tab--buy-selected {
  color: var(--font__color-primary);
  border-bottom: 2px solid var(--exchange-colors__buy);
}

.merchant__tab--sell-selected {
  color: var(--font__color-primary);
  border-bottom: 2px solid var(--exchange-colors__sell);
}

.merchant__tab:hover {
  color: var(--font__color-primary);
  cursor: pointer;
}

.merchant__crypto-container {
  margin: 3.2rem;
}

.merchant__extra-info-container {
  margin: 2.4rem 3.2rem 0;
}

.merchant__confirm-button-container {
  padding: 3.2rem 3.2rem 3.4rem;
}

.merchant__amount-header {
  margin: 4.5rem 3.3rem 1.2rem;
  color: var(--font__color-secondary);
  font-size: 1.4rem;
  padding-right: 2.6rem;
  display: flex;
  justify-content: space-between;
}

.merchant__form-header {
  padding: 2.8rem 3.3rem;
  color: var(--font__color-primary);
  font-size: 1.8rem;
}

.merchant__amount-container {
  border: 1px solid var(--border__color);
  margin: 0 3.2rem;
  display: block;
  background-color: var(--secondary__bg-color);
  border-radius: var(--component__border-radius);
}

.merchant__amount-row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border__color);
  padding: 1rem 1.6rem;
  height: 4.4rem;
  color: var(--font__color-secondary);
}

.merchant__amount-row--active,
.merchant__input--active {
  color: var(--font__color-primary);
}

.merchant__input--disable {
  color: var(--font__color-secondary);
}

.merchant__amount-row div {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding-bottom: 0.1rem;
}

.merchant__amount-row div:nth-of-type(2) {
  min-width: 7.2rem;
  text-align: right;
  width: 50%;
}

.merchant__amount-row div:nth-of-type(3) {
  min-width: 9rem;
  text-align: right;
  width: 50%;
}

.merchant__amount-row:not(.merchant__amount-row--one-input-layout):not(.merchant__amount-row--two-inputs-layout)
  div:nth-of-type(2),
.merchant__amount-row:not(.merchant__amount-row--two-inputs-layout) div:nth-of-type(3) {
  padding-right: 1rem;
}

.merchant__amount-row:last-child {
  border: 0;
}

.merchant__input {
  letter-spacing: 0.1rem;
  max-width: 80%;
  margin-left: 20%;
  margin-bottom: 6px;
  text-align: right;
  font-size: 1.5rem;
  border: 1px solid transparent;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 3.2rem;
  border-radius: var(--component__border-radius);
}

.merchant__input-wrapper {
  margin: 0;
  align-content: center;
}

.merchant__first-in-row .ap-radio__label {
  padding-right: 0;
  /* width: 10%; */
}

.merchant__verification {
  max-width: 90%;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: var(--component__border-radius);
}

.merchant__btn {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  border-radius: var(--component__border-radius);
  font-weight: bold;
  font-size: 1.5rem;
}


.merchant__btn-wrapper {
  display: flex;
  margin-top: 2rem;
  background-color: #1c1c1c;
}

.merchant__container .ap-select__select {
  /* background-color: var(--secondary__bg-color); */
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 4rem;
}

.merchant__container .ap-radio__check {
  border: 0 solid transparent;
  background: var(--buy-sell__radio-bg-color);
}

.ap-radio__checked {
  background-color: var(--buy-sell__radio-check-bg-color--selected);
}

.ap-radio input[type='radio']:checked ~ label > .ap-radio__check {
  background-color: var(--buy-sell__radio-bg-color--selected);
  border: 3px solid var(--buy-sell__radio-border-color--action);
}

.ap-radio__label:hover .ap-radio__check {
  border: 2px solid var(--buy-sell__radio-check-border-color--action);
  background-color: var(--buy-sell__radio-check-bg-color--selected);
}

.merchant__select-label {
  font-size: 1.4rem;
}

.merchant__select {
  -webkit-appearance: none;
  border-radius: 4px;
}

.merchant__triangles-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.3rem;
  bottom: 1.25rem;
  pointer-events: none;
}

.merchant__arrow {
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-right: -2.5rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  transition: var(--transition__settings);
}

.merchant__icon {
  padding-right: 3rem;
}

.merchant__container--alt-layout {
  background: none;
}

.merchant__vertical-divider--alt-layout,
.merchant__amount-header--alt-layout {
  display: none;
}

.merchant__amount-container--alt-layout {
  margin-top: 3.2rem;
  background-color: var(--component__header-bg-color);
}

.merchant__input--alt-layout {
  background-color: var(--secondary__bg-color);
  border: 1px solid var(--border__color);
}

.merchant__merchant-quote {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 4.8rem;
  font-size: 1.8rem;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  color: #fff;
  background: var(--success__bg-color);
}

.merchant__withdraw-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--balance-item__container-bg-color);
}

.merchant__withdraw-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .merchant__content-wrapper {
    padding: 1rem;
  }

  .merchant__crypto-container {
    margin: 3rem 2.4rem 2rem;
  }

  .merchant__amount-header {
    margin: 1rem 1.2rem;
  }

  .merchant__amount-container {
    margin: 0 2.4rem;
  }

  .merchant__amount-header {
    margin: 4.5rem 3.2rem 1.2rem;
  }

  .merchant__confirm-button-container {
    padding: 2.5rem 3.2rem 2.4rem;
  }

  .merchant__amount-row {
    padding: 1rem;
  }

  .merchant__arrow {
    margin-right: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .merchant__input {
    margin-left: unset;
    max-width: unset;
  }

  .merchant__container--layout-style-2 {
    background: var(--secondary__bg-color);
  }

  .merchant__amount-container--layout-style-2 {
    margin: 2.3rem 2.4rem 0;
  }

  .merchant__extra-info-container--layout-style-2 {
    margin: 1.6rem 2.4rem 0;
  }
}
