.merchant-modal__container {
  padding: 1rem;
  width: 470px;
  border-radius: 3px;
}

.merchant-modal__content {
  padding: 0;
}

.merchant-modal__invoice-content {
  padding: 1rem 0 0 0;
}

.merchant-modal__row {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  padding: 0 2rem;
  border-bottom: 1px solid #1c1c1c;
}

.merchant-modal__row.row {
  padding: 0 2rem;
}

.merchant-modal__row.row .col-12 {
  padding: 0;
}

.merchant-modal__row:first-child {
  margin-top: 0;
}

.merchant-modal__row-title {
  color: #868686;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.4rem;
}

.merchant-modal__row-content {
  color: #fff;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.4rem;
  text-align: right;
}

.merchant-modal__row-content.text-bold {
  font-weight: bold;
}

.merchant-modal__row-content.is-sell {
  color: var(--exchange-colors__sell);
}

.merchant-modal__row-content.is-buy {
  color: var(--exchange-colors__buy);
}

.merchant-modal__qr-code {
  margin-bottom: 2rem;
  margin: 0 auto;
}

.merchant-modal__btn-confirm {
  position: relative;
  border-radius: 3px;
  width: 100%;
  height: 4.8rem;
  font-size: 1.8rem;
  font-family: 'Inter UI', sans-serif;
  margin: 2rem 0;
  /* font-weight: bold; */
  color: #fff;
  background: var(--exchange-colors__buy);
}

.merchant-modal__btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;
  width: 100%;
  height: 4.8rem;
  font-size: 1.2rem;
  font-family: 'Inter UI', sans-serif;
  margin: 2rem 0;
  /* font-weight: bold; */
  color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  background: transparent;
}

.merchant-modal__address {
  color: var(--font__color-primary);
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.merchant-modal__copy-address-payload {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 480px) {

  .merchant-modal__invoice-content {
    padding: 0;
  }

  .merchant-modal__row {
    align-items: center;
    margin: 0;
    padding: 0 2rem;
    height: 5rem;
    border-bottom: 1px solid #aaa;
  }

  .merchant-modal__btn-link {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2rem 0 0 0;
  }

  .merchant-modal__row-title,
  .merchant-modal__row-content {
    margin-bottom: 0;
  }

  .merchant-modal__container {
    padding: 0.25rem;
    width: 320px;
    border-radius: 3px;
  }

  .merchant-modal__row-content.col-12 {
    text-align: left;
  }
}
