.send-receive-details {
}

.send-receive-details__header {
  padding: 5rem 2.5rem 2.5rem;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
  color: var(--font__color-primary);
}

.send-receive-details__body {
  padding: 0 2.5rem 5rem;
  border-bottom: 1px solid var(--border__color);
  margin-bottom: 0.4rem;
}

.send-receive-details__details-row:first-child {
  border-top: 1px solid var(--border__color);
  border-bottom: 1px solid var(--border__color);
}

.send-receive-details__lwt-container {
  display: flex;
  height: 3.4rem;
  align-items: center;
  border-bottom: 1px solid var(--border__color);
  flex-direction: row;
  justify-content: space-between;
}

.send-receive-details__lwt-label {
  font-size: 1.2rem;
  color: var(--font__color-primary);
  line-height: 1.5;
  letter-spacing: -0.4px;
  margin: 0;
}

.send-receive-details__lwt-text {
  font-size: 1.3rem;
  color: var(--font__color-primary);
  line-height: 1.5;
  letter-spacing: -0.4px;
  padding-left: 1rem;
}
