
.instant-pay-response-modal {
  min-width: 40rem;
  border-radius: 1rem;
}

.instant-pay-response-modal__header {
  border-bottom: 2px solid var(--tab__border-color--selected);
}

.instant-pay-response-modal__content {
  padding: 2.8rem;
}

.instant-pay-response-modal__title {
  font-size: 1.4rem;
  color: var(--font__color-primary);
  margin-bottom: 2rem;
}

.instant-pay-response-modal__footer {
  margin-right: 2.5rem;
}

.instant-pay-response-modal__btn {
  width: 100%;
  align-items: center;
  border-radius: 0.5rem;
  height: 5rem;
  justify-content: center;
  font-size: 1.4rem;
  background: var(--success__bg-color);
}

.instant-pay-response-modal__content-text {
  text-align: center;
  max-width: 35.1rem;
  border-radius: 6px;
  border: solid 1px #394154;
  padding: 2rem;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .instant-pay-response-modal {
    min-width: 32rem;
    max-width: 32rem;
  }
}