.ap-phone-input__input {
  background: var(--input__bg-color);
  font-size: var(--input__font-size);
  height: var(--input__height);
  padding: 0 1rem;
  border-radius: 2px;
  flex-shrink: 0;
  color: var(--input__color);
  background: var(--input__bg-color);
  border: 1px solid var(--input__border-color);
}

.kyc-form__input-box .ap-phone-input__input {
  width: 11.8rem;
}

.ap-phone-input__input:hover {
  background: var(--input__bg-color--hover);
  border: 1px solid var(--input__border-color--hover);
}

.ap-phone-input__error {
  color: var(--danger__color);
  padding-top: 0.5rem;
  display: inline-block;
}

.ap-phone__form-text-muted {
  display: inline-block;
  color: var(--font__color-secondary);
  padding-top: 0.5rem;
}

.react-phone-number-input__icon {
  border: none;
}
