.login-form__form {
  margin: 0;
}

.login-form__container {
  border-radius: var(--standalone-form__border-radius);
  width: 700px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.login-form__container-left {
  width: 350px;
  background-color: #232222;
  padding: 3.8rem 3.8rem 5.8rem 3.8rem;
}

.login-form__container-left-header {
  color: white;
  text-align: center;
}

.login-form__container-left-header h1 {
  font-size: 3.5rem;
  font-weight: 100;
}
.login-form__container-left-header p {
  font-size: 1.4rem;
  margin: 12px 0px 40px 0px;
}

.login-form__label {
  color: white;
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}

.login-form__input {
  background-color: white;
  color: rgb(var(--pc__background-primary));
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--border__color);
}

.login-form__input:focus, .login-form__input:hover {
  background-color: white;
  color: rgb(var(--pc__background-primary));
}

.login-form__icon {
  color: var(--font__color-secondary);
}

.login-form__icon--active {
  color: rgb(var(--pc__background-primary));
}

.login-form__input-wrapper {
  padding-bottom: 3.6rem;
  margin: 0;
}

.login-form__btn {
  height: 4rem;
  border-radius: 5px;
  font-size: 1.4rem;
  background: #74CDA1;
}

.login-form__container-left-footer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.login-form__link {
  padding: 0px 12px;
  font-size: 1.2rem;
  color: white;
}

.login-form__container-right {
  width: 350px;
  background-color: var(--secondary__bg-color);
  display: flex;
  align-items: center;
}

.login-form__container-right img {
  width: 100%;
  padding: 100px;
}

@media only screen and (max-width: 480px) {
  .login-form__container {
    width: 350px;
  }

  .login-form__container-right {
    display: none;
  }
}