.user-profile-form-static {
  height: 100%;
}

.user-profile-form-static__row {
  border-bottom: solid 1px var(--border__color);
}

.user-profile-form-static__lwt-container {
  justify-content: flex-start;
  display: flex;
  height: 100%;
  padding: 2.5rem 0 2.5rem 2rem;
  flex-wrap: wrap;
}

.user-profile-form-static__lwt-label {
  width: 14rem;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

.user-profile-form-static__lwt-text {
  font-size: 1.6rem;
  flex: 1 1 auto;
  min-width: 50%;
}

.user-profile-form-static__btn {
  margin: 3.6rem 2.4rem;
  padding: 0 3.4rem;
  font-size: larger;
  letter-spacing: 0.1rem;
}
