.ap-password-input__icon {
  display: flex;
  align-items: center;
  margin-left: -2.5rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: var(--font__color-secondary);
}

.ap-password-input__icon--active {
  color: var(--font__color-primary);
}
