.pika-single {
  z-index: var(--z-index__date-picker);
}

.pika-single.is-hidden {
  display: none;
}

.ap-datepicker__error--dpk-error {
  color: var(--danger__color);
  padding-top: 0.5rem;
  display: inline-block;
}

.ap-datepicker__form-text-muted {
  display: inline-block;
  color: var(--font__color-secondary);
  padding-top: 0.5rem;
}

.ap-datepicker__icon-container {
  position: absolute;
  right: 0;
  height: 2.8rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--input__border-color);
  cursor: pointer;
}

.pika-single.retail {
  width: 25.6rem;
  background-color: var(--retail-datapicker__body-background);
  box-shadow: var(--component__box-shadow);
  border-radius: 4px;
  border: none;
}

.pika-single.retail .pika-lendar {
  margin: 0;
}

.pika-single.retail .pika-title {
  padding: 8px 8px 0;
  background-color: var(--retail-datapicker__title-color);
  width: 25.6rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.pika-single.retail .pika-label {
  background-color: initial;
  color: var(--font__color-primary);
  font-size: 1.2rem;
}

.pika-single.retail .pika-table {
  width: 25.6rem;
}

.pika-single.retail tr {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pika-single.retail .pika-row {
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid var(--border__color);
  height: 3.1rem;
}

.pika-single.retail .pika-row:last-child {
  border: none;
}

.pika-single.retail thead {
  background-color: var(--retail-datapicker__title-color);
}

.pika-single.retail th {
  color: var(--font__color-primary);
}

.pika-single.retail abbr {
  text-decoration: none;
  font-size: 1rem;
}

.pika-single.retail tbody {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pika-single.retail .pika-button,
.pika-single.retail td {
  background: transparent;
  color: var(--font__color-secondary);
  text-align: center;
  box-shadow: none;
  height: 2.4rem;
  width: 2.8rem;
}

.pika-single.retail .pika-button:hover {
  background: var(--retail-datapicker__button-hover-background);
  color: var(--font__color-primary);
}

.pika-single.retail .is-selected .pika-button {
  background: var(--retail-datapicker__button-active-background);
  color: var(--font__color-primary);
}

.pika-single .pika-select.pika-select-year option,
.pika-single .pika-select.pika-select-month option{
  color: var(--font__color-primary);
}