.instrument-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--instrument-row__background-color);
  min-height: var(--instrument-selector__trigger-height);
  width: 100%;
}
