
.verification-required-at-dashboard__container {
  min-width: 100%;
  max-width: 100%;
}

.verification-required-at-dashboard,
.verification-required-at-dashboard__no-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 2.5rem;
  background: var(--nav-header__bg-color);
  transition: var(--transition__settings);
  font-size: 1.9rem;
}

.verification-required-at-dashboard {
  cursor: pointer;
  display: flex;
}

.verification-required-at-dashboard:hover {
  background: var(--verification-required__bg-color--hover);
}

.verification-required-at-dashboard__no-link *,
.verification-required-at-dashboard * {
  color: var(--verification-required__font-color);
}

.verification-required-at-dashboard__warning--alert {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  flex-grow: 1;
}

.verification-required-at-dashboard__not-verified {
  margin-bottom: 0;
  flex-grow: 9;
  flex-shrink: 1;
}
