
.site-selector__popover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px
}

.site-selector__popover-menu-trigger:hover {
  color: var(--component__color-primary);
  background: var(--component__bg-color);
}

.site-selector__popover-menu-trigger:focus {
  color: var(--component__color-primary);
  background: var(--component__bg-color);
}

.site-selector__content {
  z-index: 2000;
  right: 12px;
  top: 46px;
}

.site-selector__content > div {
  background: var(--user-summary__content-bg-color);
}
.site-selector__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.site-selector__item-label {
  color: #7b7b7b;
}

.site-selector__item:hover .site-selector__item-label, 
.site-selector__item:focus .site-selector__item-label, 
.site-selector__item:active .site-selector__item-label {
  color: var(--link__color--hover);
}

.site-selector__flag {
  width: 36px;
  padding: 6px;
  background: var(--nav-item__bg-color--hover);
  border-radius: 50%;
}

.site-selector__menu-item-flag {
  width: 16px;
  margin-right: 16px;
}

@media only screen and (min-width: 992px) {
  .site-selector__popover {
    padding: 0px 18px
  }
}