.advanced-order-form__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 1rem 0 3rem 3.3rem;
  margin-top: 2rem;
  height: 100%;
}

.advanced-order-form__input-box {
  flex-direction: column;
}

.advanced-order-form__main-section {
  display: flex;
  flex-shrink: 0;
}

.advanced-order-form__main-section-limit-price {
  padding-left: 3rem;
}

.advanced-order-form__row {
  width: 100%;
  padding-bottom: 2rem;
}

.advanced-order-form--with-padding {
  padding-bottom: 2rem;
}

.advanced-order-form--with-small-padding {
  padding-bottom: 1rem;
}

.advanced-order-form__user-balance-container {
  width: 34rem;
  padding-top: 3.8rem;
  padding-bottom: 0.5rem;
}

.advanced-order-form__select-wrapper,
.advanced-order-form__input-wrapper {
  display: inline-flex;
  align-items: baseline;
  margin: 0;
}

.advanced-order-form__input,
.advanced-order-form__select {
  width: 22rem;
}

.advanced-order-form__select-label,
.advanced-order-form__label {
  width: 12rem;
  height: 1rem;
  margin: 0;
}

.advanced-order-form__select-container--short
  .advanced-order-form-select__value-container {
  width: 5rem;
}

.advanced-order-form__limit-price-block {
  width: 18.6rem;
  border-radius: 3px;
  padding: 1.25rem 0 1rem 1.5rem;
  background: var(--advanced-order__limited-price-bg-color);
}

.advanced-order-form__limit-price-block-label {
  padding-bottom: 0.5rem;
  color: var(--font__color-secondary);
}

.advanced-order-form__limit-price-block-value {
  font-size: 2.2rem;
  color: var(--font__color-primary);
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.advanced-order-form__lwt-container {
  width: 34rem;
  line-height: 2.2rem;
  flex-shrink: 0;
}

.advanced-order-form__lwt-label {
  margin: 0;
}

.advanced-order-form__lwt-text {
  letter-spacing: 0.6px;
  color: var(--font__color-primary);
}

.advanced-order-form__input--with-right-label {
  width: 17rem;
}

.advanced-order-form__btn {
  width: 20rem;
  margin-bottom: 0;
  margin-top: 2rem;
  flex-shrink: 0;
}

.advanced-order-form__verification-required {
  width: 100%;
}

.advanced-order-form__verification-required .verification-required__container {
  max-width: 20rem;
  min-width: 20rem;
}


/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
  .advanced-order-form__main-section {
    display: block;
    width: 100%;
  }

  .advanced-order-form__main-section-limit-price {
    padding-top: 3rem;
    padding-left: unset;
  }

  .advanced-order-form__limit-price-block{
    width: 100%;
  }

  .advanced-order-form__body{
    padding: 3.3rem;
    margin-top: 0;
  }

  .advanced-order-form__select-wrapper,
  .advanced-order-form__input-wrapper{
    display: block;
  }
  
  .advanced-order-form__select-label, 
  .advanced-order-form__label{
    margin-bottom:1rem;
  }

  .advanced-order-form--with-padding{
    width: 100%;
  }

  .advanced-order-form__input, 
  .advanced-order-form__select{
    width: 100%;
  }

  .advanced-order-form__lwt-container{
    width: 100%;
  }

  .advanced-order-form__user-balance-container{
    width: 100%;
  }
}
