.order-history-table__table {
  width: 100%;
}

.order-history-table__column {
  flex: 1 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-history-table__row {
  height: 2.8rem;
}

.order-history-table__row .flex-table__row {
  line-height: auto;
}

.order-history-table__th {
  padding: 0 0.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--font__color-secondary);
  border-bottom: 1px solid var(--table__row-separator-color);
}

.order-history-table__td {
  padding: 0 0.4rem;
  text-align: center;
}

.order-history-table__td--size,
.order-history-table__td--price {
  text-align: right;
  padding: 0 1rem;
  width: 8rem;
}

.order-history-table__td--exchange-colors__buy {
  color: var(--exchange-colors__buy);
}

.order-history-table__td--exchange-colors__sell {
  color: var(--exchange-colors__sell);
}

.order-history-table__td--action {
  width: 8rem;
  padding: 0 1rem;
  text-align: center;
}

.order-history-table__buy {
  color: var(--exchange-colors__buy);
}

.order-history-table__sell {
  color: var(--exchange-colors__sell);
}

.order-history-table__size,
.order-history-table__price {
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-history-table__body--multipage {
  overflow: hidden;
}

.order-history-table__body--single-page {
  height: 100%;
  overflow: auto;
}

.order-history-table__body {
  -webkit-overflow-scrolling: touch;
}

.order-history-table__table-header:not(.flex-table__header--background) {
  height: var(--component__sub-header-height);
  margin-top: calc(var(--component__sub-header-height) * -1);
}

.order-history-table__header-column {
  border-left: 1px solid var(--component__sub-header-border-color);
  height: var(--component__sub-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-history-table__header-column:first-of-type {
  border-left: 0;
}
.flex-table__header-cell.order-history-table__fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.order-history-table-pagination__content {
  height: calc(100% - 3.6rem);
}


/* BROWSER QUERIES */

/* IE10+ specific styles */
_:-ms-fullscreen, :root .order-history-table__fixed{
  position: relative;
  text-align: center;
}