.order-history__tab {
  height: 100%;
  background: var(--primary__bg-color);
  border-top: var(--component__border);
}

@media only screen and (max-width: 968px) {
  .order-history__tab {
    height: 270px;
    min-height: 270px;
  }
}

.order-history__tab-content .flex-table__wide-row-container::-webkit-scrollbar {
  height: 0.5rem;
}

.order-history__menu {
  overflow-x: auto;
  max-width: var(--balances-order-history-tab-menu__max-width);
}

.order-history__menu::-webkit-scrollbar-corner { 
  background: transparent; 
}

.order-history__tab--full-height {
  flex: 1;
  min-height: auto;
  max-height: unset;
  height: auto;
  border-top: 1px solid var(--table__header-separator-color);
}

.order-history__tab-content {
  height: calc(100% - 3.7rem);
  min-height: 10rem;
}

.order-history__table-td--tooltip {
  text-align: left;
}

.order-history__menu-item{
  padding: 0 1rem;
}

.order-history__menu-item--full-height {
  position: relative;
  border-right: 0;
  letter-spacing: 0.04rem;
  max-width: 15rem;
  padding: 0 1rem;
}

.order-history__menu-item--full-height::after {
  content: '';
  width: 1px;
  height: 112%;
  position: absolute;
  top: -2px;
  right: 0;
  bottom: 0;
  border-right: 1px solid var(--table__row-separator-color);
}

.order-history__header-with-filter {
  display: flex;
  height: 5.2rem;
  align-items: center;
  justify-content: space-between;
  background: var(--tab__bg-color);
}

.order-history__header-with-filter-title {
  padding-left: 2.3rem;
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  color: var(--font__color-primary);
}

.order-history__header-with-filter-datapicker {
  display: flex;
  padding-right: 1.2rem;
} 

.order-history__from__dpk-wrapper,
.order-history__to__dpk-wrapper  {
  display: flex;
  align-items: center;
}

.order-history__to__dpk-wrapper {
  margin-left: 1.1rem;
}

.order-history__from__dpk-label,
.order-history__to__dpk-label {
  margin: 0;
  padding-right: 1.1rem;
}

.order-history__from__dpk-input,
.order-history__to__dpk-input {
  width: 12.8rem;
}

.order-history__clear__btn {
  margin-left: 2rem;
}

.order-history-table__image--cancel,
.order-history-table__image--cancel svg {
  width: 1.4rem;
  height: 1.4rem;
}
