.to-sign-in {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 968px) {
  .to-sign-in {
    height: 270px;
    min-height: 270px;
  }
}