
.kyc-view-detail {
  overflow-y: auto;
  padding: 3rem 3rem 12rem 3rem;
}

.kyc-view-detail__sub-title {
  padding: 1.75rem 0;
  font-size: 16px;
  font-weight: bold;
}

.kyc-view-detail__column-feild {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 0;
  font-size: 16px;
  border-bottom: 1px solid #444;
}

.kyc-view-detail__row-feild {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 0;
  font-size: 16px;
  border-bottom: 1px solid #444;
}

.kyc-view-detail__text-primary {
  color: #fff;
}

.kyc-view-detail__text-secondary {
  color: #9e9e9e;
}
