.btz_announcement__slick li button:before {
  opacity: .25;
  font-size: 8px;
  color: white;
}

.btz_announcement__slick li.slick-active button:before {
  opacity: 1;
  color: #7ec2b1;
}

.btz_announcement__slick .slick-arrow {
  z-index: 100;
  width: 32px;
  height: 32px;
}

.btz_announcement__slick .slick-arrow:before {
  font-size: 32px;
}

.btz_announcement__slick .slick-next {
  right: 25px;
}

.btz_announcement__slick .slick-prev {
  left: 15px;
}

.btz_announcement__banner-container {
  position: relative;
}

.btz_announcement__banner-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
}

.btz_announcement__banner-text p {
  font-size: 14px;
}

.btz_announcement__img {
  width: 100%;
}

.slick-active {
  z-index: 1;
}


@media (min-width: 768px) {
  .btz_announcement__banner-text p {
    font-size: 18px;
  }
}