
.aspect-ratio__16-9 {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.aspect-ratio__content {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}