

.bitazza-btn {
  font-family: "db_airystd", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 1.6;
  border-radius: 5px;
  padding: 0px 24px;
  transition: all 0.2s ease-in-out;
  color: var(--public-page-contrast-text);
  /* primary */
  background-color: var(--public-page-primary);
  border: 1px solid var(--public-page-primary);
  box-shadow: none;
  text-align: center;
}

.bitazza-btn:hover {
  color: #fff;
  background-color: var(--public-page-primary-hover);
  border-color: var(--public-page-primary-hover);
}

.bitazza-btn-link {
  color: var(--public-page-contrast-text);
  background-color: transparent;
  border-color: transparent;
}

.bitazza-btn-link:hover {
  color: var(--public-page-primary);
  background-color: transparent;
  border-color: transparent;
} 

.bitazza-btn-outline {
  color: var(--public-page-contrast-text);
  background-color: transparent;
  border-color: #666;
}

.bitazza-btn-outline:hover {
  color: #fff;
  background-color: var(--public-page-primary);
  border-color: var(--public-page-primary);
}
  
.bitazza-btn-select {
  padding-right: 32px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, var(--public-page-primary) 50%),
    linear-gradient(135deg, var(--public-page-primary) 50%, transparent 50%);
  background-position:
    calc(100% - 15px) 16px,
    calc(100% - 11px) 16px;
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
}

.bitazza-link {
  font-family: "db_airystd", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 1.25;
  transition: all 0.2s ease-in-out;
  color: var(--public-page-contrast-text);
  /* primary */
  box-shadow: none;
}

.bitazza-link:hover, .bitazza-link.active {
  color: var(--public-page-primary);
}

.bitazza-link.disabled {
  filter: brightness(0.5);
  pointer-events: none;
}