.btz-chart-block {
  position: relative;
  width: 100%;
  padding: 16px;
  min-height: 180px;
  border-radius: 8px;
  background-color: #252525;
}

.btz-chart-block__coin-icon {
  width: 25px;
  filter: invert(1);
}

.btz-chart-block__chart-container {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 80px;
}

.btz-chart-block__text-muted {
  color: #ccc;
}

.btz-chart-block__positive {
  color: var(--exchange-colors__buy);
}

.btz-chart-block__negative {
  color: var(--exchange-colors__sell);
}

.btz-chart-block__divider {
  border-right: solid 2px rgba(256, 256, 256, 0.6);
}
