
.bitazza-divider {
  width: 100px;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  background-image: linear-gradient(to right, #dfe77d 0%, #7fc4b3 100%);
}

@media (min-width: 768px) {
  .bitazza-divider {
    width: 164px;
    height: 5px;
  }
}
