.faq-block {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.faq-block__header {
  font-family:  "db_airystd_bd", "Helvetica", sans-serif;
  font-weight: bold;
  color: #454545;
  white-space: initial;
  font-size: 20px;
  padding: 12px 20px;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-block__header:hover {
  color: #454545;
}

.faq-block__header.active {
  color: var(--public-page-primary);
}

.faq-block__des {
  font-family:  "db_airystd", "Helvetica", sans-serif;
  border-top: 1px solid rgba(0,0,0,.125);
  color: #454545;
  font-size: 18px;
  padding: 20px;
}