.footer-container .left-menu {
  padding-top: 30px;
  min-height: 350px;
  background-color: #232222;
} 

.footer-container .right-menu {
  padding-top: 20px;
  min-height: 350px;
  background-color: #000;
}

.footer-container img.footer-logo-bitazza {
  width: 100px;
  margin-top: -6px;
  margin-left: 6px;
}

.footer-container img.footer-logo-line {
  opacity: 0.6;
  width: 26px;
  height: 26px;
}

@media (min-width: 768px) {
  .footer-container .left-menu {
    padding-top: 70px;
  }
  .footer-container .right-menu {
    padding-top: 70px;
  }
}
