.jumbotron {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin-top: -2px;
  padding-top: 90px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 480px) {
  .jumbotron {
    padding-top: 0px;
  }
  #home_page-img{
    padding-top: 90px;
  }
}