.bitazza-ranking-tabs {
  margin: 4em 0;
}

.tab-content__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  width: 100%;
}

.tab-content__inner .rank-image {
  height: 163px;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.rank-image.earlyadopter {
  padding: 2em;
  width: 200px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#7ec2b1), to(#dfe67d)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom,#7ec2b1, #dfe67d) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#7ec2b1, #dfe67d) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #7ec2b1, #dfe67d) 1 100%;
border-image:
  linear-gradient(to top, #7ec2b1, #dfe67d) 1 100%;
}

.rank-image.bronze {
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#614420), to(#9c6450)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom,#614420, #9c6450) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#614420, #9c6450) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #614420, #9c6450) 1 100%;
border-image:
  linear-gradient(to top, #614420, #9c6450) 1 100%;
}

.rank-image.silver {
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#252525), to(#858585)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom,#252525, #858585) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#252525, #858585) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #252525, #858585) 1 100%;
border-image:
  linear-gradient(to top, #252525, #858585) 1 100%;
}

.rank-image.gold {
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#494025), to(#837749)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom,#494025, #837749) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#494025, #837749) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #494025, #837749) 1 100%;
border-image:
  linear-gradient(to top, #494025, #837749) 1 100%;
}

.rank-image.platinum {
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#505a5a), to(#7d9696)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom,#505a5a, #7d9696) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#505a5a, #7d9696) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #505a5a, #7d9696) 1 100%;
border-image:
  linear-gradient(to top, #505a5a, #7d9696) 1 100%;
}

.rank-image.diamond {
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#2a4f5f), to(#437388)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom,#2a4f5f, #437388) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#2a4f5f, #437388) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #2a4f5f, #437388) 1 100%;
border-image:
  linear-gradient(to top, #2a4f5f, #437388) 1 100%;
}

.rank-image.emerald {
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
  -webkit-gradient(linear, 0 100%, 0 0, from(#213729), to(#2d5a41)) 1 100%;
-webkit-border-image: 
  -webkit-linear-gradient(bottom, #213729, #2d5a41) 1 100%;
-moz-border-image:
  -moz-linear-gradient(bottom,#213729, #2d5a41) 1 100%;  
-o-border-image:
  -o-linear-gradient(bottom, #213729, #2d5a41) 1 100%;
border-image:
  linear-gradient(to top, #213729, #2d5a41) 1 100%;
}

.tab-content__inner .icon {
  width: 36px;
  height: 36px;
  margin-bottom: 3em;
}

.react-tabs__tab:focus,
.react-tabs__tab:focus:after {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.react-tabs__tab--selected.bronze,
.tab-content__inner .bronze {
  color: #BC6D55;
}

.react-tabs__tab--selected.silver,
.tab-content__inner .silver {
  color: #bababa;
}

.react-tabs__tab--selected.gold, 
.tab-content__inner .gold {
  color: #cab459;
}

.react-tabs__tab--selected.platinum,
.tab-content__inner .platinum {
  color: #d3fffd;
}

.react-tabs__tab--selected.diamond,
.tab-content__inner .diamond {
  color: #3eabd1;
}

.react-tabs__tab--selected.emerald,
.tab-content__inner .emerald {
  color: #00d077;
}

.tab-content__benefits {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #dfe67d, #7ec2b1);
  padding: 2px;
  border-radius: 1em;
  width: 100%;
  margin-top: 4em;
}

.tab-content__benefits-box {
  background: #222;
  color: #fff;
  padding: 1rem;
  border-radius: 1em;
}

.tab-content__benefits-box-wrap {
  background: #222;
  position: relative;
  top: -24px;
  display: block;
  padding: 0 1em;
  width: fit-content;
  margin: 0 auto;
  font-size: 4rem;
}

.tab-content__benefits-heading {
  background: -webkit-linear-gradient(#dfe67d, #7ec2b1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab-content__benefits-heading::after {
  background: #222;
}

.benefits-items {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 3em;
}

.benefits-items__item {
  flex: 1;
  text-align: center;
}

.content-p {
  margin-bottom: 0;
}

.content-p .text-gray {
  color: #333;
}

/* Custom React Tabs */
.react-tabs__tab-list {
  display: flex;
}

.react-tabs__tab {
  flex: 1;
  padding: 0.5em 0;
  font-size: 24px;
  font-family: 'db_airystd_bd';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #636363;
  background: rgba(100, 100, 100, 0.15);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 5px 0 10px -5px #111;
}

.react-tabs__tab .tab-title {
  font-size: 24px;
  font-family: 'db_airystd_bd';
  display: block;
  width: 100%;
  text-align: center;
}

.react-tabs__tab .border-line {
  height: 3px;
  margin-bottom: 1.5em;
}

.bronze .tab-title  .border-line {
  background: radial-gradient(#AC644E, #614013);
}

.silver .tab-title .border-line {
  background: radial-gradient(#858585, #252525);
}

.gold .tab-title .border-line {
  background: radial-gradient(#CAB459, #6F5617);
}

.platinum .tab-title .border-line {
  background: radial-gradient(#B1E7E5, #627372);
}

.diamond .tab-title .border-line {
  background: radial-gradient(#3EABD1, #175C74);
}

.emerald .tab-title .border-line {
  background: radial-gradient(#00D077, #00572A);
}

.early-adopter .tab-title .border-line {
  background: linear-gradient(to right, #dfe67d, #7ec2b1);
}

.react-tabs__tab.early-adopter span {
  font-size: 18px;
}

.react-tabs__tab-list {
  border-bottom: transparent;
  margin: 0;
}

.react-tabs__tab-panel--selected {
  background: transparent;
  background-image: url(../../images/levels/tab-bg.svg);
}

.react-tabs__tab--selected {
  background: rgba(22, 22, 22, 1);
  border-color: transparent;
  color: #fff;
}



@media (max-width: 768px) {
  .react-tabs__tab-list {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .react-tabs__tab .tab-title {
    width: 130px;
  }
}

@media (max-width: 576px) {
  .react-tabs__tab .tab-title {
    width: 130px;
  }

  .benefits-items {
    flex-direction: column;
    align-items: center;
  }

  .tab-content__inner {
    display: flex;
    flex-direction: column;
  }

  .react-tabs__tab-list {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .tab-content__inner .btz-accumulation-info {
    margin-bottom: 6em;
  }
}

