.bitazza-text {
  font-family:  "db_airystd", "Helvetica", sans-serif;
  font-size: 18px;
}

.bitazza-text__header {
  font-family:  "db_airystd_bd", "Helvetica", sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 46px;
}

.bitazza-text__block-header {
  font-family:  "db_airystd_bd", "Helvetica", sans-serif;
  font-weight: bold;
  margin-bottom: 16px;
  letter-spacing: 0.3rem;
  font-size: 55px;
}



.bitazza-text__block-sub-header {
  font-family:  "db_airystd_bd", "Helvetica", sans-serif;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 38px;
}

.bitazza-text__lead {
  font-size: 25px;
  margin: 0px;
}

@media (min-width: 1200px) {
  .bitazza-text__header {
    font-size: 48px;
  }
}

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .bitazza-text__block-header {
    padding-top: 30px;
  }
}