.tier-levels {
  display: flex;
}

.tier-header-container {
  display: flex;
}

.tier-levels .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 3px 13px 0 rgba(8, 8, 8, 0.15);
  background-color: #e1e1e1;
  margin: 0 4px;
  flex: 1;
  font-family: 'db_airystd';
}

.tier-levels .item.is-btz-holding {
  margin-bottom: 0.5em;
}

.tier-levels .istem.is-accumulation-rate {
  margin-top: 0.5em;
}

.tier-levels .item .child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.tier-levels .item .parent {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 18px;
  padding: 1em;
}

.tier-levels .item .child p,
.tier-levels .item .parent p {
  margin-bottom: 0;
}

.tier-levels .item .has-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
}

.tier-header {
  display: flex;
  flex: 1;
  border-radius: 20px;
  box-shadow: 2.8px 5.3px 10px 0 rgba(8, 8, 8, 0.1);
  background-color: #ebebeb;
  padding: 0.75em 0.5em;
  margin-bottom: 0.25em;
  z-index: 9;
}

.tier-header-empty {
  width: 200px;
}

.header-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25em;
  padding: 0.25em;
  color: #fff;
  font-size: 14px;
  font-family: 'db_airystd';
}

.header-item.bronze {
  background: radial-gradient(#a36753, #745442);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header-item.silver {
  background: radial-gradient(#cacaca, #666);
}

.header-item.gold {
  background: radial-gradient(#c7b466, #77622b);;
}

.header-item.platinum {
  background: radial-gradient(#b7d0ef, #5d6b6c);;
}

.header-item.diamond {
  background: radial-gradient(#5ba7ca, #2e5f76);;
}

.header-item.emerald {
  background: radial-gradient(#59c379, #307040);
}

.header-item.early-adopter {
  background: linear-gradient(to right, #dfe67d, #7ec2b1);
  font-size: 12px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
  .tier-header-empty {
    width: 180px;
  }

  .tier-levels .item .parent {
    width: 180px;
  }
}

@media (max-width: 576px) {
  .tier-levels-section {
    display: flex;
  }

  .tier-header {
    padding: 0;
    margin-bottom: 0;
  }

  .tier-header-container {
    flex-direction: column;
  }

  .parent-wrapper {
    display: flex;
    text-align: center;
  }

  .tier-header-empty {
    width: 80px;
    height: 100px;
  }

  .tier-levels {
    flex-direction: column;
  }

  .tier-levels .item.is-btz-holding {
    margin-bottom: 0;
    padding: 0;
  }
  
  .tier-levels .item.is-accumulation-rate {
    margin-top: 0;
    padding: 0;
  }

  .tier-levels .istem.is-accumulation-rate .parent {
    padding: 0.5em 1em;
  }

  .tier-levels .item {
    flex-direction: row;
    padding: 1em;
    margin: 0;
  }

  .tier-levels .item .has-border-bottom {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
  }

  .tier-levels .item .parent {
    padding: 0.5em;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
  }
  .tier-header {
    flex-direction: column;
  }

  .header-item {
    padding: 0.5em;
  }

  .header-item.bronze {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .header-item.early-adopter {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    text-align: center;
  }
}