#waitlist-banner-container {
  position: fixed;
  bottom: 0;
  padding: 12px 0px;
  z-index: 1200;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, rgba(223,230, 125,1) 0%, rgba(223,230,125,1) 0%, rgba(126,194,177,1) 40%);
  color: #fff;
}

#Waitlist-submit {
  width: 110px;
  font-family:  "db_airystd_bd", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #232222;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 0.5em;
}

#waitlist-text-input {
  width: 220px;
  font-family:  "db_airystd", "Helvetica", sans-serif;
  font-size: 20px;
  padding: 8px 16px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}

#waitlist-text-input::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

#waitlist-text-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#waitlist-form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#waitlist-text-input::placeholder {
  color: #fff;
}

#waitlist-banner-message {
  font-family: "db_airystd", "Helvetica", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

#waitlist-banner-message .date-left {
  display: block;
  color: #0e6b61;
}

@media (min-width: 768px) {
  #waitlist-form-row {
    flex-direction: row;
  }

  #Waitlist-submit {
    font-size: 25px;
    width: 160px;
    margin-top: 0;
    margin-left: 1em;
  }

  #waitlist-text-input {
    width: 320px;
  }

  #waitlist-banner-message .date-left {
    display: inline-block;
  }
}

@media(min-width: 992px) { 
  #waitlist-banner-message {
    font-size: 23px;
  }

  #waitlist-text-input {
    width: 380px;
    font-size: 20px;
    padding: 0 20px;
    height: 42px;
  }

  #Waitlist-submit {
    width: 140px;
  }

}

@media(min-width: 1200px) {
  #Waitlist-submit {
    width: 180px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #waitlist-banner-message {
    font-size: 21px;
  }

  .footer-container .right-menu{
    min-height: 200px;
  }

  .bitazza-text__lead {
    font-size: 22px;
  }
}