.bank-select {
  position: relative;
  margin-bottom: 2rem;
}

.bank-select__input {
  width: 100%;
  height: 80px;
  border-radius: 3px;
  cursor: pointer;
  background: var(--secondary__bg-color);
  border: 1px solid var(--input__border-color);
}

.bank-select__input:hover,
.bank-select__input:focus {
  background: var(--input__bg-color--hover);
  border: 1px solid var(--input__border-color--hover);
}

.bank-select--dropdown {
  position: absolute;
  top: 54px;
  width: 16px;
  height: 16px;
  right: 16px;
}

.bank-select--dropdown svg {
  width: 100%;
  height: 100%;
}

.bank-select__option-container {
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;
  background: var(--secondary__bg-color);
  border: 1px solid var(--input__border-color);
}

.bank-select__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  width: 100%;

}

.bank-select__option:hover {
  background: var(--input__bg-color--hover);
}

.bank-select__bank-logo {
  width: 40px;
  height: 40px;
  /* margin: 16px; */
}

.bank-select__info-block {
  display: inline-block;
  margin-left: 16px;
}

.bank-select__bank-name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.bank-select__info {
  font-size: 14px;
  color: #868686;
  margin: 0px;
}