.trading-layout__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trading-layout__chart-header {
  height: var(--component__header-height);
  line-height: var(--component__header-height);
  background: var(--component__header-bg-color);
  padding: 0 1.75rem;
  border-bottom: 1px solid var(--component__header-separator-color);
}

.trading-layout__chart-container {
  grid-area: chart;
}

.trading-layout__tabs-container--orderbook-container {
  grid-area: orderbook;
}

.trading-layout__activity-container {
  grid-area: activity;
}

.order-entry__container {
  grid-area: orderentry;
}

.trading-layout__info-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--trading-layout__info-bar-bg-color);
  height: var(--trading-layout__info-bar-height);
}

.trading-layout__body {
  border-top: var(--trading-layout__border);
  height: var(--trading-layout__body-height);
  height: 100%;
  
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto 27rem;
  grid-template-areas: 
    "chart orderbook orderentry"
    "activity activity orderentry";
}

.order-history-table__body {
  min-width: 1024px
}

@media only screen and (max-width: 968px) {
  .trading-layout__body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1281px) {
  .order-history-table__body {
    min-width: unset;
  }
  .trading-layout__body {
    width: 100%;
    max-width: 100%;
    grid-template-columns: minmax(0, 1fr) 30.5rem 30rem 30rem;
    grid-template-rows: auto 27rem;
    grid-template-areas: 
      "chart orderbook recenttrades orderentry"
      "activity activity activity orderentry";
  }
}


.trading-layout__tabs-container {
  border-left: var(--trading-layout__border);
}

.trading-layout__chart-tabs-container {
  height: 100%;
}
@media only screen and (max-width: 968px) {
  .trading-layout__chart-tabs-container {
    height: calc(100% - 270px);
  }
}

.trading-layout__tab,
.trading-layout__tab-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trading-layout__row {
  display: flex;
  min-height: fit-content;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 968px) {
  .trading-layout__container {
    overflow-y: visible;
    height: 179rem;
    min-height: 179rem;
  }

  .trading-layout__chart-container {
    height: 69rem;
  }

  .trading-layout__menu {
    min-height: 3.6rem;
  }
}

@media only screen and (max-width: 468px) {
  .trading-layout__container {
    height: max-content;
    min-height: max-content;
  }

  .trading-layout__body {
    height: max-content;
  }

  .trading-layout__row {
    flex-direction: column;
  }
}
