.rfq__container {
  height: 100%;
  background: var(--component__header-bg-color);
  /* border-radius: 1rem; */
}

.rfq__tab-wrapper {
  display: inline-flex;
  width: 100%;
}

.rfq__content-wrapper {
  padding: 3.2rem;
  background-color: #1c1c1c;
}

.rfq__request-quote__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  font-size: 1.8rem;
}

.rfq__buy-sell-hr {
  margin-top: 0;
}

.rfq__tab {
  font-size: 1.4rem;
  width: 50%;
  text-align: center;
  height: 7rem;
  line-height: 7rem;
  border-bottom: 2px solid #4a4a49;
  color: var(--font__color-secondary);
  font-weight: bold;
  text-transform: uppercase;
}

.rfq__vertical-divider {
  width: 1px;
  background: #1c1c1c;
}

.rfq__tab--buy-selected {
  color: var(--font__color-primary);
  border-bottom: 2px solid var(--exchange-colors__buy);
}

.rfq__tab--sell-selected {
  color: var(--font__color-primary);
  border-bottom: 2px solid var(--exchange-colors__sell);
}

.rfq__tab:hover {
  color: var(--font__color-primary);
  cursor: pointer;
}

.rfq__crypto-container {
  margin: 3.2rem;
}

.rfq__extra-info-container {
  margin: 2.4rem 3.2rem 0;
}

.rfq__confirm-button-container {
  padding: 3.2rem 3.2rem 3.4rem;
}

.rfq__amount-header {
  margin: 4.5rem 3.3rem 1.2rem;
  color: var(--font__color-secondary);
  font-size: 1.4rem;
  padding-right: 2.6rem;
  display: flex;
  justify-content: space-between;
}

.rfq__form-header {
  padding: 2.8rem 3.3rem;
  color: var(--font__color-primary);
  font-size: 1.8rem;
}

.rfq__amount-container {
  border: 1px solid var(--border__color);
  margin: 0 3.2rem;
  display: block;
  background-color: var(--secondary__bg-color);
  border-radius: var(--component__border-radius);
}

.rfq__amount-row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border__color);
  padding: 1rem 1.6rem;
  height: 4.4rem;
  color: var(--font__color-secondary);
}

.rfq__amount-row--active,
.rfq__input--active {
  color: var(--font__color-primary);
}

.rfq__input--disable {
  color: var(--font__color-secondary);
}

.rfq__amount-row div {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding-bottom: 0.1rem;
}

.rfq__amount-row div:nth-of-type(2) {
  min-width: 7.2rem;
  text-align: right;
  width: 50%;
}

.rfq__amount-row div:nth-of-type(3) {
  min-width: 9rem;
  text-align: right;
  width: 50%;
}

.rfq__amount-row:not(.rfq__amount-row--one-input-layout):not(.rfq__amount-row--two-inputs-layout)
  div:nth-of-type(2),
.rfq__amount-row:not(.rfq__amount-row--two-inputs-layout) div:nth-of-type(3) {
  padding-right: 1rem;
}

.rfq__amount-row:last-child {
  border: 0;
}

.rfq__input {
  letter-spacing: 0.1rem;
  max-width: 80%;
  margin-left: 20%;
  margin-bottom: 6px;
  text-align: right;
  font-size: 1.5rem;
  border: 1px solid transparent;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 3.2rem;
  border-radius: var(--component__border-radius);
}

.rfq__input-wrapper {
  margin: 0;
  align-content: center;
}

.rfq__first-in-row .ap-radio__label {
  padding-right: 0;
  /* width: 10%; */
}

.rfq__verification {
  max-width: 90%;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: var(--component__border-radius);
}

.rfq__btn {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  border-radius: var(--component__border-radius);
  font-weight: bold;
  font-size: 1.5rem;
}

.rfq__container .ap-select__select {
  background-color: var(--secondary__bg-color);
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 4rem;
}

.rfq__container .ap-radio__check {
  border: 0 solid transparent;
  background: var(--buy-sell__radio-bg-color);
}

.ap-radio__checked {
  background-color: var(--buy-sell__radio-check-bg-color--selected);
}

.ap-radio input[type='radio']:checked ~ label > .ap-radio__check {
  background-color: var(--buy-sell__radio-bg-color--selected);
  border: 3px solid var(--buy-sell__radio-border-color--action);
}

.ap-radio__label:hover .ap-radio__check {
  border: 2px solid var(--buy-sell__radio-check-border-color--action);
  background-color: var(--buy-sell__radio-check-bg-color--selected);
}

.rfq__select-label {
  font-size: 1.4rem;
}

.rfq__select {
  -webkit-appearance: none;
  border-radius: 4px;
}

.rfq__triangles-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.3rem;
  bottom: 1.25rem;
  pointer-events: none;
}

.rfq__arrow {
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-right: -2.5rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  transition: var(--transition__settings);
}

.rfq__icon {
  padding-right: 3rem;
}

.rfq__container--alt-layout {
  background: none;
}

.rfq__vertical-divider--alt-layout,
.rfq__amount-header--alt-layout {
  display: none;
}

.rfq__amount-container--alt-layout {
  margin-top: 3.2rem;
  background-color: var(--component__header-bg-color);
}

.rfq__input--alt-layout {
  background-color: var(--secondary__bg-color);
  border: 1px solid var(--border__color);
}

/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .rfq__content-wrapper {
    padding: 1rem;
  }

  .rfq__crypto-container {
    margin: 3rem 2.4rem 2rem;
  }

  .rfq__amount-header {
    margin: 1rem 1.2rem;
  }

  .rfq__amount-container {
    margin: 0 2.4rem;
  }

  .rfq__amount-header {
    margin: 4.5rem 3.2rem 1.2rem;
  }

  .rfq__confirm-button-container {
    padding: 2.5rem 3.2rem 2.4rem;
  }

  .rfq__amount-row {
    padding: 1rem;
  }

  .rfq__arrow {
    margin-right: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .rfq__input {
    margin-left: unset;
    max-width: unset;
  }

  .rfq__container--layout-style-2 {
    background: var(--secondary__bg-color);
  }

  .rfq__amount-container--layout-style-2 {
    margin: 2.3rem 2.4rem 0;
  }

  .rfq__extra-info-container--layout-style-2 {
    margin: 1.6rem 2.4rem 0;
  }
}
