.rfq-page__container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.rfq-page__header {
  padding: 3rem 3rem 3.6rem;
  font-size: 2.4rem;
}

.rfq-card {
  display: flex;
  flex-direction: column;
  padding: 3rem 2.5rem;
  background: #1c1c1c;
  /* background: var(--component__header-bg-color); */
  border-radius: 1rem;
}

.rfq__latest-transactions-header {
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 3rem;
  background-color: #1c1c1c;
}

.rfq-transaction-table__table-header {
  background-color: #1c1c1c;
  border-bottom: none;
}

.rfq-transaction-table__header-column {
  height: var(--component__sub-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #868686;
}

.rfq-transaction-table__fixed {
  font-size: 14px;
  font-family: 'Inter UI', sans-serif;
}

.rfq-transaction-table__column {
  font-size: 14px;
  font-family: 'Inter UI', sans-serif;
  color: #fff;
  font-weight: normal;
}

.rfq-transaction-table__row {
  height: 5rem;
  line-height: 5rem;
  background-color: #1c1c1c;
}

.rfq-transaction-table__buy,
.rfq-transaction-table__sell,
.rfq-transaction-table__size,
.rfq-transaction-table__price {
  font-size: 14px;
}

.rfq-transaction-table__buy {
  color: var(--exchange-colors__buy);
}

.rfq-transaction-table__sell {
  color: var(--exchange-colors__sell);
}

.rfq-page__heading {
  margin-bottom: 2rem;
}

.rfq-page__balance-wrapper {
  display: flex;
  justify-content: space-between;
}

.rfq-page__text-lightgray {
  color: #868686;
}

.rfq-page__balance-symbol {
  color: #979797;
}

.rfq-page__balance-amount {
  color: #fff;
}

.rfq-page__divider {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid #282828;
  width: 100%;
}

.rfq-page__indicative-price-summary {
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Inter UI', sans-serif;
}

.rfq-page__indicative-price-summary.Sell {
  color: var(--exchange-colors__sell);
}

.rfq-page__indicative-price-summary.Buy {
  color: var(--exchange-colors__buy);
}

.rfq-page__indicative-price-buy {
  color: var(--exchange-colors__buy);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.rfq-page__indicative-price-sell {
  color: var(--exchange-colors__sell);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.rfq-page__indicative-price-buy.is-text,
.rfq-page__indicative-price-sell.is-text {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.rfq-indicative__container {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
}

.rfq-indicative__container.is-quote .rfq-page__flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rfq-indicative__container .rfq-page__back .rfq-page__heading {
  visibility: hidden;
}

.rfq-indicative__container.is-quote .rfq-page__front .rfq-page__heading {
  visibility: hidden;
}

.rfq-indicative__container.is-quote .rfq-page__back .rfq-page__heading {
  visibility: visible;
}

.rfq-page__flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  width: 100%;
}

.rfq-page__front,
.rfq-page__back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.rfq-page__back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rfq-page__container .is-show-on-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .rfq-indicative__container {
    height: 155px;
  }

  .rfq-transaction-table__body {
    width: 600px;
  }

  .rfq-transaction-table__fixed {
    font-size: 12px;
  }

  .rfq-transaction-table__column {
    font-size: 10px;
  }
  .rfq-transaction-table__buy,
  .rfq-transaction-table__sell,
  .rfq-transaction-table__size,
  .rfq-transaction-table__price {
    font-size: 10px;
  }
  .rfq-transaction-table__datetime {
    font-size: 8px;
  }

  .rfq-page__container .is-show-on-mobile {
    display: block;
  }

  .rfq-page__container .is-hidden-on-mobile {
    display: none;
  }
}
