.single-fluid-header-fixed-content-layout__accent-bar {
  height: 21.5rem;
  margin-bottom: -21.5rem;
  background-image: var(--accent-bar__gradient);
  width: 100%;
  flex-shrink: 0;
}

.single-fluid-header-fixed-content-layout__fixed-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.single-fluid-header-fixed-content-layout__footer {
  margin-top: 8rem;
  flex-shrink: 0;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .single-fluid-header-fixed-content-layout__footer {
    margin-top: 3.4rem;
  }
}
