.ap-select__select-error {
  color: var(--danger__color);
  padding-top: 0.5rem;
  display: inline-block;
}

.ap-select__form-text-muted {
  display: inline-block;
  color: var(--font__color-secondary);
  padding-top: 0.5rem;
}

.triangle-down,
.triangle-up {
  pointer-events: none;
  border-left: var(--dropdown__arrow-size) solid transparent;
  border-right: var(--dropdown__arrow-size) solid transparent;
}
.triangle-down{
  border-top: var(--dropdown__arrow-size) solid var(--dropdown__arrow-color);
  margin-top: var(--dropdown__arrow-size);
}
.triangle-up {
  border-bottom: var(--dropdown__arrow-size) solid var(--dropdown__arrow-color);
  margin-bottom: var(--dropdown__arrow-size);
}