.user-summary {
  width: 25rem;
  cursor: pointer;
}

.user-summary__container {
  height: 100%;
  line-height: 1.4;
  border-left: 1px solid var(--user-summary__border-color);
  border-right: 1px solid var(--user-summary__border-color);
}

.user-summary__popover-menu-trigger-triangle {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
}

.user-summary__username-in-display {
  font-size: 1.2rem;
  margin-right:1rem;
}

.user-summary__user-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.user-summary__spinner-container {
  height: 100%;
  align-items: center;
  padding: 0 1.5rem;
}

.user-summary__spinner-circle {
  margin: 0;
}

.user-summary__popover,
.user-summary__popover-menu-trigger {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.user-summary__popover-menu-trigger {
  position: relative;
  border: none;
  font-size: 1.1rem;
  text-align: left;
  cursor: pointer;
  color: var(--component__color-secondary);
}

.page-header-user-summary__user-info-container {
  margin-top: 0.6rem;
  padding: 0 1.5rem;
}

.user-summary__popover-content--with-arrow::after {
  left: 21rem;
}

.user-summary__popover-menu-trigger:hover {
  color: var(--component__color-primary);
  background: var(--component__bg-color);
}

.user-summary__popover-menu-trigger:focus {
  color: var(--component__color-primary);
  background: var(--component__bg-color);
}

.user-summary__content > div {
  background: var(--user-summary__content-bg-color);
}

/* MEDIA QUERIES */

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .user-summary__icon {
    display: none;
  }
  .page-header-user-summary__item--username-in-dropdown {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .user-summary__container {
    width: auto;
    min-width: 6rem;
  }
  .user-summary__user-info-container {
    justify-content: center;
  }
  .user-summary__username-in-display {
    display: none;
  }
  .user-summary__popover-menu-trigger-triangle {
    display: none;
  }
  .user-summary__icon {
    width: auto;
  }
}
