
.golabel-message {
  display: flex !important;
  justify-content: center;
  padding: 8px;
}

.golabel-message__blue {
  font-family: "db_airystd", "Helvetica", sans-serif;
  background: linear-gradient(81.3deg,#172d3e -5.27%, #4166bc 88.44%);
}

.golabel-message__red {
  font-family: "db_airystd", "Helvetica", sans-serif;
  background-color: #d42c5f;
}

.golabel-message__text {
  color: white;
  margin-bottom: 0px;
  font-size: 1.75rem;
}

.golabel-message__slick .slick-arrow {
  display: none !important;
}
