.rfq-selector__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rfq-selector__container-item {
  flex: 1;
  display: flex;
  border: solid 1px #3a3a3a;
  background-color: #282828;
  padding: 1.5rem 1.5em 0 1.5rem;
  position: relative;
  margin: 0.5rem 0;
}

.rfq-selector__container-item-input {
  flex: 1;
  display: flex;
  border: solid 1px #3a3a3a;
  background-color: #282828;
  padding: 0.5rem 1.5em 1rem 1.5rem;
  position: relative;
  margin: 0.5rem 0;
}

.rfq-selector__select-wrapper {
  width: 100%;
  margin-bottom: 0;
}

.rfq-selector__product-info {
  display: flex;
}

.rfq-selector__product-info .icon {
  height: 40px;
}

.rfq-selector__product-info-text {
  position: absolute;
  left: 21%;
}

.rfq-selector__triangles-container {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  right: 1.3rem;
  top: 1.25rem;
  pointer-events: none;
}

.rfq-selector__select-label {
  margin: 0 0 0 1rem;
}

.rfq-selector__input {
  background-color: var(--secondary__bg-color);
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 4rem;
  /* margin-top: 2rem; */
}

.rfq-selector__input-wrapper {
  margin-bottom: 0;
  flex: 1;
}

.rfq__container .ap-select__select,
.rfq__container .rfq-selector__input {
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  .rfq-selector__triangles-container {
    right: 0.75rem;
  }

  .rfq-selector__product-info .icon {
    height: 32px;
  }

  .rfq__container .rfq-selector__select {
    font-size: 14px;
  }

  .rfq-selector__select-label {
    font-size: 14px;
  }
}
