.rfq-modal__container {
  padding: 1rem;
  width: 470px;
  border-radius: 3px;
}

.rfq-modal__row {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  border-bottom: 1px solid #1c1c1c;
}

.rfq-modal__row:first-child {
  margin-top: 0;
}

.rfq-modal__row-title {
  color: #868686;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.4rem;
}

.rfq-modal__row-content {
  color: #fff;
  font-family: 'Inter UI', sans-serif;
  font-size: 1.4rem;
}

.rfq-modal__row-content.is-sell {
  color: var(--exchange-colors__sell);
}

.rfq-modal__row-content.is-buy {
  color: var(--exchange-colors__buy);
}

.rfq-modal__btn-confirm {
  position: relative;
  border-radius: 3px;
  width: 100%;
  height: 4.8rem;
  font-size: 1.8rem;
  font-family: 'Inter UI', sans-serif;
  /* font-weight: bold; */
  color: #fff;
}

.rfq-modal__btn-confirm.is-buy {
  color: #fff;
  background: var(--exchange-colors__buy);
}

.rfq-modal__btn-confirm.is-sell {
  color: #fff;
  background: var(--exchange-colors__sell);
}

@media only screen and (max-width: 480px) {
  .rfq-modal__container {
    padding: 0.25rem;
    width: 320px;
    border-radius: 3px;
  }
}
