.buy-sell-order-confirmation__modal {
  width: 40rem;
  height: 48rem;
}
.buy-sell-order-confirmation__modal__content {
  height: 31rem;
}

.buy-sell-order-confirmation__modal__footer {
  margin: 0;
  display: flex;
  justify-content: center;
}

.buy-sell-order-confirmation__modal__btn {
  margin: 0;
  width: 36rem;
  border-radius: 4px;
  height: 5rem;
  line-height: 5rem;
  align-items: center;
  background: var(--general__bg-color);
}

.buy-sell-order-confirmation__modal__close-icon {
  background: 0;
  right: 0;
}

.buy-sell-order-confirmation__modal__close-icon:hover {
  background: 0;
}

.buy-sell-order-confirmation__header {
  padding-bottom: 2rem;
}

.buy-sell-order-confirmation__order-type__lwt-container,
.buy-sell-order-confirmation__lwt-container {
  height: 3rem;
  padding: 0.6rem 2.7rem 0 0;
  border-top: 1px solid var(--border__color);
  font-size: 1.2rem;
}


/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .buy-sell-order-confirmation__modal {
    height: 100%
  }
  .buy-sell-order-confirmation__modal__btn {
    width: 80%
  }

}
