.market-overview__instrument-selector {
  padding: 1rem;
  height: 3.6rem;
  background: var(--component__bg-color);
}

.market-overview__instrument-selector .instrument-selector-popover__popover {
  width: 25rem;
  border: var(--instrument-selector__popover-border);
  border-radius: var(--component__border-radius);
}

.market-overview__instrument-selector .instrument-selector__trigger {
  border-bottom: 0;
  background: var(--component__header-bg-color);
  border-radius: var(--component__border-radius);
  height: 3.4rem;
  min-height: 3.4rem;
  padding:0 1rem;
}

.market-overview__chart-component-container {
  display: flex;
  flex-direction: column;
  height: 53.2rem;
  width: 74%;
}

.market-overview__market-overview-container {
  width: 26%;
}

.market-overview__body {
  display: flex;
}

.market-overview-instrument {
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-left: 2px solid var(--component__border-color);
  background-color: var(--component__bg-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.market-overview-instrument__row {
  background-color: var(--component__bg-color);
  border-right: none;
  border-bottom: 1px dashed var(--component__border-color);
  justify-content: center;
  padding-right: 1.5rem;
  padding-left: 0;
  max-height: 5.6rem;
  margin-left: 2.6rem;
}

.market-overview-instrument__row:first-child {
  max-height: 4.2rem;
}

.flex-table.market-overview-popup {
  -webkit-overflow-scrolling: touch;
  max-height: 35rem;
}

.market-overview-instrument__title {
  font-size: 12px;
  padding-top: 3px;
}

.market-overview-instrument__title:first-child {
  font-style: italic;
  padding-top: 0;
}

.market-overview-instrument__value {
  font-size: 1.6rem;
}

.market-overview__instrument-selector .instrument-selector-popover__content {
  top: 4.2rem;
}

.market-overview-popup__header-column--coin {
  flex-grow: 1.5;
}

.market-overview-popup__column--coin {
  flex-grow: 1.5;
}


/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  .market-overview__chart-component-container {
    height: auto;
    flex-direction: column;
    width: 100%;
  }

  .market-overview__body {
    flex-direction: column;
  }

  .market-overview__retail-price-chart-container__chart {
    margin-top: 2.6rem;
  }

  .market-overview__market-overview-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .market-overview-instrument{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-left: 0px;
    border-top: 2px solid var(--component__border-color);
    margin-left: 0;
  }
  
  .market-overview-instrument__row{
    margin-left: 0px;
    padding: 0 2rem;
  }
  .market-overview-instrument__row:first-child{
    flex-basis: 100%;
    max-height: unset;
  }
  .market-overview-instrument__row:nth-child(n+2):nth-last-of-type(n+2){
    border-right: 1px dashed var(--component__border-color);
  }
  .market-overview-instrument__row:nth-child(n+2){
    align-items: center;
  }

  .market-overview-instrument__row--hideable {
    display: flex;
  }

  
  /* BROWSER QUERIES */
  
  /* IE11+ specific styles */
  _:-ms-fullscreen, :root .market-overview__chart-component-container {
    height: 80rem !important;
  }

  _:-ms-fullscreen, :root .market-overview-instrument{
    height: 40rem;
  }

  _:-ms-fullscreen, :root .market-overview-instrument__row:nth-child(n+2){
    flex-basis: 33%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .market-overview__instrument-selector .instrument-selector-popover__content {
    left: -10px;
  }

  .market-overview-popup {
    width: 35rem;
    overflow-x: auto;
  }

  .market-overview-instrument__row.instrument-table__row:last-child {
    border-bottom: none;
  }
  
  /* BROWSER QUERIES */
  
  /* IE11+ specific styles */
  _:-ms-fullscreen, :root .market-overview__chart-component-container {
    height: 100rem !important;
  }

  _:-ms-fullscreen, :root .market-overview-instrument{
    height: 70rem !important;
  }

  _:-ms-fullscreen, :root .market-overview-instrument__row:nth-child(n+2){
    flex-basis: 100% !important;
  }
}