.page-header-nav__container {
  display: flex;
}

.page-header-nav__item {
  display: flex;
  align-items: center;
  width: 16rem;
  padding-top: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  justify-content: center;
  color: var(--nav-item__color);
  background: var(--nav-header__bg-gradient);
  border-right: solid 1px var(--nav-item__separator-color);
  border-color: var(--tab__separator-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: var(--z-index__navigation);
}

.page-header-nav__item:focus {
  border-right: solid 1px var(--nav-item__separator-color);
}

.page-header-nav__menu-toggle--active::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: 1.3rem;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid var(--nav-header__bg-gradient);
}

.page-header-nav__item--hoverable {
  position: relative;
}

.page-header-nav__item--hoverable:hover {
  background: var(--nav-item__bg-color--hover);
  color: var(--nav-item__color--hover);
}

.page-header-nav__item:focus:not(:hover) {
  color: var(--nav-item__color);
}

.page-header-nav__item--selected:hover,
.page-header-nav__item--selected {
  background: var(--nav-item__bg-color--selected);
  color: var(--nav-item__color--action);
  position: relative;
}

.page-header-nav__label {
  font-size: var(--nav-item__font-size);
  padding-left: 0.8rem;
}

.page-header-nav__icon.ap-icon {
  display: flex;
  width: var(--nav-item__icon-size);
}

.page-header-nav__icon--exchange {
  margin-top: 0.3rem;
}

.page-header-nav__menu-toggle {
  cursor: pointer;
  border-right: 1px solid var(--tab__separator-color);
  width: var(--nav-header__height);
  min-height: var(--nav-header__height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--nav-item__color);
  z-index: 1;
  display: none;
}

.page-header-nav__menu-toggle:hover,
.page-header-nav__menu-toggle:focus {
  color: var(--nav-item__color--action);
}

.page-header-nav__menu-toggle--active ~ .page-header-nav__item--selected,
.page-header-nav__menu-toggle:hover ~ .page-header-nav__item--selected {
  background: var(--nav-item__bg-color--selected);
  color: var(--nav-item__color--action);
}

.page-header-nav__icon--menu-toggle {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.page-header-nav__icon--menu-toggle:before {
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  display: inline-block;
  margin-top: 0rem;
}

.page-header-nav__icon--menu-toggle svg {
  display: none;
}

.page-header-nav__container--closed {
  overflow: hidden;
}

/* BROWSER QUERIES */

/* IE11+ specific styles */
_:-ms-fullscreen,
:root .page-header-nav__icon--menu-toggle:before {
  margin-top: var(--nav-header__height);
}

/* MEDIA QUERIES */

/* Medium Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .page-header-nav__container {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1200px) {
  .page-header-nav__container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .page-header-nav__item {
    border-right: 0px solid transparent;
    flex-direction: column;
    width: 7.5rem;
  }

  .page-header-nav__item:focus {
    border-right: solid 0px transparent;
  }

  .page-header-nav__item--selected:hover,
  .page-header-nav__item--selected {
    background: var(--nav-header__bg-gradient);
  }

  .page-header-nav__item--selected:after {
    display: none;
  }

  .page-header-nav__label {
    font-size: 1.1rem;
    padding-top: 0.5rem;
    padding-left: 0;
    text-align: center;
  }

  .page-header-nav__icon.ap-icon {
    height: var(--nav-item__icon-size);
  }
}

/* Small Devices, Phones */
@media only screen and (max-width: 720px) {
  .page-header-nav__container {
    order: 1;
    flex-direction: column;
    z-index: var(--z-index__navigation);
    position: absolute;
    height: var(--nav-header__height);
    flex-grow: unset;
    justify-content: unset;
  }

  .page-header-nav__item {
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: var(--nav-header__height);
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    width: 20rem;
    position: relative;
    border-top: 1px solid var(--tab__separator-color);
    order: 2;
  }

  .page-header-nav__item:not(.page-header-nav__item--selected) {
    box-shadow: var(--nav-header__box-shadow);
    background: var(--nav-item__bg-color);
  }

  .page-header-nav__item:hover:not(.page-header-nav__item--selected) {
    background: var(--nav-item__bg-color--hover);
  }

  .page-header-nav__item:last-of-type {
    -webkit-border-bottom-right-radius: var(--component__border-radius);
    -moz-border-radius-bottomright: var(--component__border-radius);
    border-bottom-right-radius: var(--component__border-radius);
  }

  .page-header-nav__item--selected:hover,
  .page-header-nav__item--selected {
    order: 1;
    z-index: -1;
    cursor: default;
  }

  .page-header-nav__menu-toggle {
    position: absolute;
    right: 0;
    width: 100%;
    display: flex;
  }

  .page-header-nav__icon--menu-toggle {
    position: absolute;
    right: 2rem;
    width: 0;
    height: 0;
  }

  .page-header-nav__label {
    font-size: var(--nav-item__font-size);
    padding-left: 0.8rem;
    padding-top: 0;
  }

  .page-header-nav__icon.ap-icon {
    height: auto;
  }

  /* BROWSER QUERIES */

  /* IE11+ specific styles */
  _:-ms-fullscreen,
  :root .page-header-nav__icon--menu-toggle {
    right: 2.5rem;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 645px) {
  .page-header-nav__menu-toggle {
    position: relative;
    width: var(--nav-header__height);
    justify-content: center;
  }

  .page-header-nav__icon--menu-toggle {
    right: unset;
  }

  .page-header-nav__icon--menu-toggle svg {
    margin-top: 0.6rem;
    display: block;
  }

  .page-header-nav__icon--menu-toggle:before {
    display: none;
  }

  .page-header-nav__item--selected:hover,
  .page-header-nav__item--selected {
    background: var(--nav-item__bg-color--selected);
  }
}
