.ap-upload {
  margin-bottom: 2rem;
}

.ap-upload__wrapper {
  background: var(--button-segmented__bg-color);
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kyc-form__input-box .ap-upload__input {
  width: 11.8rem;
}

.ap-upload__input:hover {
  background: var(--input__bg-color--hover);
  border: 1px solid var(--input__border-color--hover);
}

.ap-upload__cancel-btn {
  display: inline-block;
  margin: 0 1rem;
}

.ap-upload__error {
  color: var(--danger__color);
  padding-top: 0.5rem;
  display: inline-block;
}

.ap-upload__input-box {
  position: relative;
  display: inline-block;
}

.ap-upload__children {
  padding-right: 1.6rem;
}

.ap-upload__label {
  flex: 1 1 auto;
  color: var(--font__color-secondary);
  letter-spacing: 0.6px;
  font-size: 1.2rem;
  font-style: italic;
}

.ap-upload__btn {
  display: block;
  border-radius: 3px;
  background-color: rgb(57, 65, 84);
  padding: 0 1.7rem;
}

.ap-upload__label:hover {
  cursor: pointer;
}

.ap-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.ap-upload__preview {
  height: 4rem;
}

.kyc-form__wrapper .ap-upload__label--hasFile {
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0rem;
}

.ap-upload__wrapper--hasFile {
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
