:root {
  --font-color: #363636;
  --background-color: #fff;
}

.level-page__gradient {
  background: linear-gradient(to right, #dfe67d, #7ec2b1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'db_airystd_bd';
  letter-spacing: 4px;
}

.level-page__container {
  margin: 4em 0;
  font-family: 'db_airystd';
}

.level-page__hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.level-page__hero-heading {
  font-size: 10rem;
  font-family: 'db_airystd';
}

.level-page__hero-subheading {
  font-size: 5rem;
  font-family: 'db_airystd';
}

.level-page__video-container {
  margin-top: 2rem;
}

.level-page__section-heading {
  font-size: 5rem;
  font-family: 'db_airystd';
}

.level-page__tagline {
  font-family: 'db_airystd';
  font-size: 32px;
}

.level-page__tagline strong {
  font-family: 'db_airystd_bd';
}

.level-page__tagline span {
  color: #8dc0b2;
  font-family: 'db_airystd';
}

.level-page__text {
  letter-spacing: 1.8;
  text-align: center;
  margin: 1em 0;
  font-family: 'db_airystd';
}

.level-page__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.level-page__cover {
  width: 100%;
  object-fit: contain;
}

.level-page__info {
  background-color: var(--background-color);
  color: var(--font-color);
}

.level-page__earn-btz {
  background-color: #fff;
}

.level-page__earn-btz-info {
  padding: 2em 0;
}

.level-page__earn-btz-info img {
  margin-bottom: 1em;
  width: 150px;
  height: 150px;
}

.level-page__earn-btz-info .has-row-spacing {
  margin-bottom: 4em;
}

.level-page__call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(223,230, 125,1) 0%, rgba(223,230,125,1) 0%, rgba(126,194,177,1) 40%);
  color: #fff;
  height: 120px;
  padding: 0 6em;
}

.level-page__call-to-action p {
  margin-bottom: 0;
}

.level-page__btn-cta {
  border: 2px solid #fff;
  padding: 0.5em 1.5em;
  font-size: 24px;
  color: #fff;
  font-family: 'db_airystd_bd';
}

.level-page__faq {
  background-color: #fff;
  padding-top: 0;
}

.level-page__tooltip {
  padding-left: 4px;
}

.level-page__tooltip[tooltip]::after {
  min-width: max-content;
}

@media (max-width: 768px) {
  .level-page__btn-cta {
    padding: 0.25em 0.75em;
    font-size: 22px;
  }

  .level-page__cover {
    margin-top: 6rem;
  }

  .level-page__reward {
    margin-top: 4rem;
  }

  .level-page__earn-btz {
    padding-top: 4rem;
  }

}

@media (max-width: 576px) {
  .level-page__row {
    display: flex;
    flex-direction: column-reverse;
  }

  .level-page__cover {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .level-page__hero-heading {
    font-size: 8rem;
    font-family: 'db_airystd';
  }
  
  .level-page__hero-subheading {
    font-size: 4rem;
    font-family: 'db_airystd';
  }

  .level-page__call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
    height: 100%;
  }

  .level-page__btn-cta {
    padding: 0.5em 1em;
    margin-top: 1em;
    font-size: 20px;
  }

  .level-page__tooltip[tooltip]::after {
    min-width: 8rem;
  }
}