.btz-spinner__circle,
.btz-spinner__circle:after {
  display: inline-block;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.btz-spinner__circle {
  transform: translateZ(0);
  border-top: 0.2rem solid var(--spinner__color-secondary);
  border-right: 0.2rem solid var(--spinner__color-secondary);
  border-bottom: 0.2rem solid var(--spinner__color-secondary);
  border-left: 0.2rem solid var(--spinner__color-primary);
  animation: loading 1.1s infinite linear;
}

.btz-spinner__circle--inline {
  border-top: 0.2rem solid var(--spinner__color-tertiary);
  border-right: 0.2rem solid var(--spinner__color-tertiary);
  border-bottom: 0.2rem solid var(--spinner__color-tertiary);
}

.btz-spinner__container {
  position: absolute;
  display: flex;
  margin: 1rem 1.75rem;
  height: 3rem;
  line-height: 3rem;
}

.btz-spinner__container--inline {
  position: relative;
  margin: 0rem;
  background: transparent;
}

.btz-spinner__logo {
  background-image: url(../../../images/logo-single.png);
  background-position: center center;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  animation: loading 1.1s infinite linear;
}


@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
