.affiliate {
  padding: 1rem;
  width: 100%;
  /* background-image: url('../images/loyalty-token/bg-page.png'); */
  background-color: var(--primary__bg-color);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.affiliate__right-panel {
  background-color: transparent;
}

.affiliate__right-panel--divider {
  background-color: #979797;
}

.affiliate__share-box {
  width: 100%;
}

.affiliate__copy-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 3px;
  padding: 2px;
  border: solid 1px var(--input__border-color);
  background-color: var(--input__bg-color);
}

.affiliate__affiliate-block-container {
  margin-right: -5px;
  padding-right: 5px;
  max-height: 532px;
  overflow: auto;
}

.affiliate__affiliate-block {
  cursor: pointer;
}

.affiliate__rank-medal {
  width: 70px;
}

.tag-and-comm-container {
  padding-left: 15px;
  padding-top: 18px;
}
.tags-and-image-container{
  padding-top: 10px;
}

.affiliate__copy-custom{
  font-size: 12px !important;
  width: 100px !important;
  padding: 12px 20px !important;
}

@media only screen and (min-width: 768px) {
  .affiliate {
    padding: 2rem;
  }
}

@media (min-width: 992px) {

  .affiliate__share-box {
    width: 430px;
  }
  
  .affiliate__right-panel {
    background-color: #1c1c1c;
  }

  .affiliate__right-panel--divider {
    background-color: #282828;
  }
}

@media only screen and (min-width: 1200px) {
  .affiliate {
    padding: 5rem 5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .affiliate {
    padding: 5rem 5rem;
  }
}