
.landing-page__jumbotron {
  padding-top: 0px;
  padding-bottom: 140px;
}

.landing-page__heading-logo {
  height: 60px;
  margin-top: -10px;
}

.landing-page__iframe {
  background-color: #fff;
}

.landing-page__block-overlap {
  margin-top: -100px;
}

.landing-page__chart {
  margin-bottom: 50px;
}

.landing-page__slick .slick-arrow {
  top: 54%;
  z-index: 100;
}

.landing-page__slick .slick-next {
  right: 10px;
}

.landing-page__slick .slick-prev {
  left: 10px;
}

.landing-page__announce {
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: #111111;
  padding: 20px;
}

.landing-page__announce .logo {
  height: 30px;
  padding: 0px 10px;
}

.landing-page__why-bitazza-block {
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 3.7px 9.3px 20px 0 rgba(94, 99, 107, 0.1);
  background-color: white;
  margin-top: 30px;
  min-height: 350px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page__why-bitazza-block a {
  font-size: inherit;
  padding: 0px 8px;
  display: inline;
}

.landing-page__why-bitazza-block a:hover,
.landing-page__why-bitazza-block a:focus,
.landing-page__why-bitazza-block a:active {
  color: var(--link__color);
}

.landing-page__why-bitazza-block .logo {
  height: 100px;
}

.landing-page__why-bitazza-block .text {
  padding-top: 20px;
  text-align: center;
}

.landing-page__what-is-btz {
  background-color: #fff;
}

.landing-page__faq {
  background-color: #F5F5F5;
}

.lets-go-btn{
  width: 190px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 26px;
}

.why-bitazza-logos {
  max-width: 240px;
  padding: 30px;
}

.landing-page__app-download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.landing-page__app-download {
  position: relative;
  padding: 8px 8px 24px 8px;
}

.landing-page__app-download p {
  position: absolute;
  padding-top: 2px;
  width: 100%;
}

@media (min-width: 768px) {
  .landing-page__block-overlap {
    margin-top: -180px;
  }

  .landing-page__why-bitazza-block {
    padding: 40px;
    flex-direction: row;
  }

  .landing-page__why-bitazza-block .logo {
    height: 150px;
  }
  
  .landing-page__why-bitazza-block .text {
    padding-left: 40px;
    text-align: left;
  }

  .landing-page__app-download-container {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {

  .landing-page__why-bitazza-block {
    min-height: 420px;
  }

  .landing-page__jumbotron {
    padding-top: 200px;
    padding-bottom: 170px;
  }
}