.loyalty-token-page {
  padding: 1rem;
  width: 100%;
	background-color: var(--primary__bg-color);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.loyalty-token-page__switch__switch {
  background-color: #1c1c1c;
}

.loyalty-token-page__switch__text {
  font-size: 1.6rem;
}

.loyalty-token-page__divider {
  margin: 16px 0px;
  height: 1px;
  background-color: #282828;
}

.loyalty-token-page__btz-to-claim-tooltip {
  position: relative;
}

.loyalty-token-page__btz-to-claim-tooltip .tooltip-body {
  position: absolute;
  left: -50px;
  display: none;
  background: var(--primary__bg-color);
  color: var(--font__color-secondary);
  min-width: 170px;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  z-index: 99;
}

.loyalty-token-page__btz-to-claim-tooltip:hover .tooltip-body {
  display: block;
}

.loyalty-token-page__tooltip::after {
  min-width: 250px;
  padding: 8px;
}

.loyalty-token-page__divider--dark {
  background-color: #1c1c1c;
}

.loyalty-token-page__color-early-adopter {
  color: #8e37e9;
}

.loyalty-token-page__color-am-legendary {
  color: #f4cd21;
}

.loyalty-token-page__color-am-epic {
  color: #643adf;
}

.loyalty-token-page__color-am-rare {
  color: #4fb6ec;
}

.loyalty-token-page__color-am-normal {
  color: #84BF90;
}

.loyalty-token-page__color-whale-legendary {
  color: #f4cd21;
}

.loyalty-token-page__color-whale-killer {
  color: #643adf;
}

.loyalty-token-page__color-whale-normal {
  color: #2b84c6;
}

.loyalty-token-page__color-whale-baby {
  color: #84BF90;
}

.loyalty-token-page__color-whale-dolphin {
  color: #98c1c7;
}

.loyalty-token-page__color-bronze {
  color: #ac644e;
}

.loyalty-token-page__color-silver {
  color: #9e9e9e;
}

.loyalty-token-page__color-gold {
  color: #cab459;
}

.loyalty-token-page__color-platinum {
  color: #d3fffd;
}

.loyalty-token-page__color-diamond {
  color: #3eabd1;
}

.loyalty-token-page__color-emerald {
  color: #00d077;
}

.loyalty-token-page__bg-bronze {
  background-color: #ac644e;
}

.loyalty-token-page__bg-silver {
  background-color: #9e9e9e;
}

.loyalty-token-page__bg-gold {
  background-color: #cab459;
}

.loyalty-token-page__bg-platinum {
  background-color: #d3fffd;
}

.loyalty-token-page__bg-diamond {
  background-color: #3eabd1;
}

.loyalty-token-page__bg-emerald {
  background-color: #00d077;
}

.loyalty-token-page__border-color-am-legendary {
  border-color: #f4cd21 !important;
}

.loyalty-token-page__border-color-am-epic {
  border-color: #643adf !important;
}

.loyalty-token-page__border-color-am-rare {
  border-color: #4fb6ec !important;
}

.loyalty-token-page__border-color-am-normal {
  border-color: #84BF90 !important;
}

.loyalty-token-page__border-color-whale-legendary {
  border-color: #f4cd21 !important;
}

.loyalty-token-page__border-color-whale-killer {
  border-color: #643adf !important;
}

.loyalty-token-page__border-color-whale-normal {
  border-color: #2b84c6 !important;
}

.loyalty-token-page__border-color-whale-baby {
  border-color: #84BF90 !important;
}

.loyalty-token-page__border-color-whale-dolphin {
  border-color: #98c1c7 !important;
}

.loyalty-token-page__avatar {
  width: 130px;
  height: 110px;
  border-radius: 50%;
}

.loyalty-token-page__level__btn {
  line-height: 2.2rem;
  height: 2.2rem;
  padding: 0px 8px;
  font-weight: bold;
}

.loyalty-token-page__badge {
  position: relative;
  display: inline-block;
  padding: 4px;
}

.loyalty-token-page__badge > img {
  width: 30px;
  height: 30px;
  opacity: 0.3;
}

.loyalty-token-page__badge > img.active {
  opacity: 1;
}

.loyalty-token-page__badge > img:hover ~ .loyalty-token-page__badge-info {
  display: block;
}

.loyalty-token-page__badge-info {
  position: absolute;
  top: 42px;
  z-index: 100;
  display: none;
  width: 294px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
  background-color: #282828;
  border-radius: 3px;
  padding: 16px;
}

.loyalty-token-page__early-adopter-info {
  left: -154px;
  border-left: 2px solid #8e37e9;
}

.loyalty-token-page__am-info {
  left: -191px;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #999;
}

.loyalty-token-page__am-info-header {
  display: flex;
  padding-bottom: 16px;
}

.loyalty-token-page__am-info-header div {
  flex-basis: 25%;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.loyalty-token-page__am-info-body {
  display: flex;
  padding: 6px 0px;
  margin-bottom: 16px;
  border: 1px solid #888;
  border-radius: 8px;
}

.loyalty-token-page__am-info-body div {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.loyalty-token-page__am-info-body-badge {
  position: relative;
}

.loyalty-token-page__am-info-body-badge img {
  width: 30px;
  height: 30px;
}

.loyalty-token-page__am-info-body-badge span {
  position: absolute;
  top: 34px;
  padding: 0px 4px;
  font-size: 8px;
  background-color: #282828;
  color: white;
}

.loyalty-token-page__whale-info {
  left: -229px;
  border-left-width: 2px;
  border-left-style: solid;
  border-color: #999;
}

.loyalty-token-page__whale-info-header {
  display: flex;
  padding-bottom: 16px;
}

.loyalty-token-page__whale-info-header div {
  flex-basis: 33.33%;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.loyalty-token-page__whale-info-body {
  display: flex;
  padding: 6px 0px;
  margin-bottom: 16px;
  border: 1px solid #888;
  border-radius: 8px;
}

.loyalty-token-page__whale-info-body div {
  flex-basis: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.loyalty-token-page__whale-info-body-badge {
  position: relative;
}

.loyalty-token-page__whale-info-body-badge img {
  width: 30px;
  height: 30px;
}

.loyalty-token-page__whale-info-body-badge span {
  position: absolute;
  top: 34px;
  padding: 0px 4px;
  font-size: 8px;
  background-color: #282828;
  color: white;
  max-width: 55px;
  text-align: center;
}

.loyalty-token-page__ic-rank  {
  width: 32px;
  height: 22px;
  object-fit: contain;
  margin-right: 8px;
}

.loyalty-token-page__ic-bdg {
  width: 50px;
  padding: 0px 5px;
  object-fit: contain;
  object-position: bottom;
}

.loyalty-token-page__ic-bdg--active {
  padding: 0px;
}

.loyalty-token-page__progress {
  height: 1px;
  margin: 8px 25px;
  background-color: #4a4a49;
}

.loyalty-token-page__progress .line {
  display: block;
  height: 100%;
}

.loyalty-token-page__ic-bdg-amount {
  width: 40px;
  text-align: center;
}

.loyalty-token-page__card-rank-block {
  margin-top: 26px;
  padding-bottom: 10px;
  display: flex;
  overflow: auto;
}

.loyalty-token-page__card-rank-block > div {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  opacity: 0.6;
}

.loyalty-token-page__card-rank-block > div:first-child {
  margin-left: 0px;
}

.loyalty-token-page__card-rank-block > div.active,
.loyalty-token-page__card-rank-block > div:hover {
  opacity: 1;
}

.loyalty-token-page__card-rank-block > div > img {
  display: block;
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.loyalty-token-page__card-rank-block > div > .head-card {
  position: absolute;
  width: 100%;
  padding: 0px 16px;
  top: 12px;
}

.loyalty-token-page__card-rank-block > div > .head-card p {
  text-align: center;
}

.loyalty-token-page__card-rank-block > div > .head-card img {
  float: right;
  margin-top: -22px;
}

.loyalty-token-page__card-rank-block > div > .boby-card {
  position: absolute;
  width: 100%;
  padding: 0px 16px;
  top: 54%;
}

.loyalty-token-page__card-rank-block > div > .boby-card p {
  margin: 0px;
  line-height: 1.5;
}

.loyalty-token-page__card-rank-block > div.active  > .foot-card {
  display: block;
  text-align: center;
  line-height: 2.25;
  font-size: 8px;
  color: #2c2624;
  font-weight: bold;
}

.loyalty-token-page__card-rank-block > div > .foot-card {
  display: none;
  height: 20px;
}

.loyalty-token-page__info-rank {
  margin-top: 35px;
  width: 100%;
}

/*  bronze #ac644e */
.loyalty-token-page__card-rank-bronze {
  flex-grow: .726;
  min-width: 136px;
}

.loyalty-token-page__card-rank-bronze img {
  border-image-source: conic-gradient(from 0.5turn, #503600, #7a584e 0.09turn, #5c4d49 0.39turn, #925b4a 0.75turn);
}

.loyalty-token-page__card-rank-bronze .foot-card {
  background-image: linear-gradient(98deg, #71503d, #ac644e 49%, #614013);
}

.loyalty-token-page__info-rank-bronze {
  border-left: 2px solid #ac644e;
}

/*  silver #9e9e9e */
.loyalty-token-page__card-rank-silver {
  flex-grow: .726;
  min-width: 136px;
}

.loyalty-token-page__card-rank-silver img {
  border-image-source: conic-gradient(from 0.5turn, #525252, #585858 0.09turn, #555555 0.39turn, #dbdbdb 0.75turn)
}

.loyalty-token-page__card-rank-silver .foot-card {
  background-image: linear-gradient(98deg, #555555, #cbcbcb 49%, #666666);
}

.loyalty-token-page__info-rank-silver {
  border-left: 2px solid #9e9e9e;
}

/*  gold #cab459 */
.loyalty-token-page__card-rank-gold {
  flex-grow: .726;
  min-width: 136px;
}

.loyalty-token-page__card-rank-gold img {
  border-image-source: conic-gradient(from 0.5turn, #503600, #876f3f 0.09turn, #6f644e 0.39turn, #cab459 0.74turn, #503600);
}

.loyalty-token-page__card-rank-gold .foot-card {
  background-image: linear-gradient(98deg, #79612f, #cab459 49%, #6f5617);
}

.loyalty-token-page__info-rank-gold {
  border-left: 2px solid #cab459;
}

/*  platinum #d3fffd */
.loyalty-token-page__card-rank-platinum {
  flex-grow: 1;
  min-width: 196px;
}

.loyalty-token-page__card-rank-platinum img {
  border-image-source: conic-gradient(from 0.5turn, #3f4040, #546463 0.09turn, #b1b4b4 0.39turn, #d3fffd 0.74turn, #3f4040);
}

.loyalty-token-page__card-rank-platinum .foot-card {
  background-image: linear-gradient(96deg, #546363, #b1e7e5 50%, #627372);
}

.loyalty-token-page__info-rank-platinum {
  border-left: 2px solid #d3fffd;
}

/*  diamond #3eabd1 */
.loyalty-token-page__card-rank-diamond {
  flex-grow: 1;
  min-width: 196px;
}

.loyalty-token-page__card-rank-diamond img {
  border-image-source: conic-gradient(from 0.5turn, #00425a, #185c74 0.09turn, #2b7c99 0.39turn, #3eabd1 0.75turn, #00425a);
}

.loyalty-token-page__card-rank-diamond .foot-card {
  background-image: linear-gradient(96deg, #175c74, #3eabd1 49%, #166885);
}

.loyalty-token-page__info-rank-diamond {
  border-left: 2px solid #3eabd1;
}

/*  emerald #00d077 */
.loyalty-token-page__card-rank-emerald {
  flex-grow: 1;
  min-width: 196px;
}

.loyalty-token-page__card-rank-emerald img {
  border-image-source: conic-gradient(from 0.5turn, #004a23, #006833 0.09turn, #32b272 0.39turn, #4aab83 0.75turn);
}

.loyalty-token-page__card-rank-emerald .foot-card {
  background-image: linear-gradient(96deg, #006733, #00d077 50%, #00572a);
}

.loyalty-token-page__info-rank-emerald {
  border-left: 2px solid #00d077;
}

.badge-main-title{
  text-transform: uppercase;
}

@media only screen and (min-width: 425px) {

  .loyalty-token-page__badge-info {
    width: 343px;
  }

  .loyalty-token-page__early-adopter-info {
    left: -118px;
  }

  .loyalty-token-page__am-info {
    left: -156px;
  }

  .loyalty-token-page__whale-info {
    left: -194px;
  }

}

@media only screen and (min-width: 576px) {
  .loyalty-token-page__badge-info {
    left: 0px;
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .loyalty-token-page {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1290px) {
  .loyalty-token-page {
    padding: 5rem 5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .loyalty-token-page {
    padding: 5rem 5rem;
  }  
}


@media only screen and (min-width: 1920px) {
  .loyalty-token-page__card-rank-block > div > img {
    min-height: 440px;
  }
}

@media only screen and (min-width: 2560px) {
  .loyalty-token-page__card-rank-block > div > img {
    min-height: 640px;
  }
} 