
.wallets-page__accent-bar {
  height: 21.5rem;
  margin-bottom: -21.5rem;
  background-image: var(--accent-bar__gradient);
  width: 100%;
  flex-shrink: 0;
}

.wallets-page__container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.wallets-page__footer {
  margin-top: 8rem;
  flex-shrink: 0;
}

.wallets-page__wallet-list-container {
  box-shadow: var(--component__box-shadow);
  overflow: hidden;
  border-radius: 1rem;
}

.wallets-page__wallet-list-container-header {
  padding: 3rem 3rem 3.6rem;
  font-size: 2.4rem;
}

.wallets-page__funded_accounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 2.5rem;
  background: var(--nav-header__bg-color);
  border-radius: 1rem;
  margin: 3.7rem 0;
}

.wallets-page__funded_accounts_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.9rem;
  line-height: 1.5;
}

.wallets-page__wallet-maintenance{
  text-align: center;
  font-size: 13px;
  background-color: #d42d5f;
  color: white;
  height: 35px;
  line-height: 35px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .wallets-page__footer {
    margin-top: 3.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .wallets-page__funded_accounts_text {
    flex-direction: row;
    align-items: flex-start;
  }
}