/* stylelint-disable */
@font-face {
  font-family: 'db_airystd';
  src: url("webfontkit/db_airy_std_v3.2.1-webfont.eot");
  src: url("webfontkit/db_airy_std_v3.2.1-webfont.eot?#iefix") format("embedded-opentype"), url("webfontkit/db_airy_std_v3.2.1-webfont.woff2") format("woff2"), url("webfontkit/db_airy_std_v3.2.1-webfont.woff") format("woff"), url("webfontkit/db_airy_std_v3.2.1-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_airystd_li';
  src: url("webfontkit/db_airy_std_li_v3.2.1-webfont.eot");
  src: url("webfontkit/db_airy_std_li_v3.2.1-webfont.eot?#iefix") format("embedded-opentype"), url("webfontkit/db_airy_std_li_v3.2.1-webfont.woff2") format("woff2"), url("webfontkit/db_airy_std_li_v3.2.1-webfont.woff") format("woff"), url("webfontkit/db_airy_std_li_v3.2.1-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_airystd_bd';
  src: url("webfontkit/db_airy_std_bd_v3.2.1-webfont.eot");
  src: url("webfontkit/db_airy_std_bd_v3.2.1-webfont.eot?#iefix") format("embedded-opentype"), url("webfontkit/db_airy_std_bd_v3.2.1-webfont.woff2") format("woff2"), url("webfontkit/db_airy_std_bd_v3.2.1-webfont.woff") format("woff"), url("webfontkit/db_airy_std_bd_v3.2.1-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/******************** Reboot ********************/
html {
  font-size: 16px;
  background-color: black;
}

body {
  font-family: "db_airystd", "Helvetica", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  line-height: 1.1;
  color: #454545;
}

#landing {
  background-color: black;
}

/******************** Typography ********************/
.text-bold {
  font-family: "db_airystd_bd", "Helvetica", sans-serif !important;
}

.text-white-25 {
  color: rgba(255, 255, 255, 0.25) !important;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.text-black-25 {
  color: rgba(0, 0, 0, 0.25) !important;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-black-75 {
  color: rgba(0, 0, 0, 0.75) !important;
}

.text-letter-spacing {
  letter-spacing: 0.375rem;
}

.text-primary-color {
  color: #7dc7a9;
}

.text-lead {
  font-size: 1.175rem
}

@media (min-width: 992px) {
  .text-lead {
    font-size: 1.575rem
  }
}

.link-text, .link-text:hover {
  text-decoration-line: none;
  display: block;
}

.link-icon, .link-icon:hover {
  text-decoration-line: none;
  margin-right: 5px;
}

.collapse-header, .collapse-header:hover{
  text-decoration-line: none;
}

.collapse-header .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-color: #f3f3f3;
  transition: none;
}

.collapse-header .card-header div {
  font-size: 1.275rem;
}

.collapse-header .card-header.active {
  color: #7dc7a9;
}

/******************** Navigation menu ********************/
.navik-header .logo {
  float: none;
  padding: 17px 15px 18px 0;
}

.navik-header .logo img {
  width: 160px;
}

.navik-menu {
  float: none;
}

.navik-menu ul {
  list-style: none;
}

.navik-menu ul li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "db_airystd", "Helvetica", sans-serif;
  font-size: 1.25rem;
}

.header-transparent-on .navik-menu > ul > li.current-menu > a, .header-transparent-on .navik-menu > ul > li:hover > a, .header-dark .navik-menu ul li.current-menu > a, .header-dark .navik-menu ul li:hover > a {
  color: #7dc7a9;
}

.burger-menu {
  top: 30px;
  right: 0;
}

/******************** Viewport breakpoints ********************/
@media (min-width: 768px) {
  .navik-header {
    padding: 0 30px;
  }
  .navik-header .logo {
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  .navik-header {
    padding: 20px 50px 0;
  }
  .navik-header .logo {
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .navik-header .logo img {
    width: 224px;
  }
  .navik-header.sticky {
    padding-top: 0;
  }
  .navik-header.sticky .logo img {
    width: 180px;
  }
  .navik-menu {
    margin-right: 26px;
  }
  .navik-menu ul li > a {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5625rem;
  }
  .navik-menu > ul > li > a {
    height: 51px;
    padding: 0 15px;
    line-height: 51px;
    font-size: 22px;
  }
}

/******************** Buttons ********************/
.btn {
  margin-bottom: 1rem;
  padding: 0.25rem 1.5rem;
  font-size: 1.5625rem;
  line-height: 1.6;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  box-shadow: none;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
  background-color: #d2d6d9;
  border-color: #d2d6d9;
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  color: #fff;
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled).active:focus,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:focus {
  color: #fff;
  background-color: #bdc3c7;
  border-color: transparent;
  box-shadow: none;
}

.btn > i {
  margin-right: 0.5rem;
  font-size: 0.875rem;
}

.btn-primary {
  color: #fff;
  background-color: #7dc7a9;
  border-color: #7dc7a9;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #98d3bb;
  border-color: #98d3bb;
  box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #7dc7a9;
  border-color: #7dc7a9;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #7dc7a9;
  border-color: transparent;
  box-shadow: none;
}

.btn-secondary {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: none;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus {
  color: #fff;
  background-color: #54a8e1;
  border-color: #54a8e1;
  box-shadow: none;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle,
.show > .btn-secondary.dropdown-toggle:focus {
  color: #fff;
  background-color: #3498db;
  border-color: transparent;
  box-shadow: none;
}

.btn-success {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: none;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #4ad685;
  border-color: #4ad685;
  box-shadow: none;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle,
.show > .btn-success.dropdown-toggle:focus {
  color: #fff;
  background-color: #2ecc71;
  border-color: transparent;
  box-shadow: none;
}

.btn-info {
  color: #fff;
  background-color: #85c1e9;
  border-color: #85c1e9;
  box-shadow: none;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #a5d1ef;
  border-color: #a5d1ef;
  box-shadow: none;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #85c1e9;
  border-color: #85c1e9;
  box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle,
.show > .btn-info.dropdown-toggle:focus {
  color: #fff;
  background-color: #85c1e9;
  border-color: transparent;
  box-shadow: none;
}

.btn-warning {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
  box-shadow: none;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #f3cd33;
  border-color: #f3cd33;
  box-shadow: none;
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
  box-shadow: none;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle,
.show > .btn-warning.dropdown-toggle:focus {
  color: #fff;
  background-color: #f1c40f;
  border-color: transparent;
  box-shadow: none;
}

.btn-danger {
  color: #fff;
  background-color: #e94b35;
  border-color: #e94b35;
  box-shadow: none;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #ed6a57;
  border-color: #ed6a57;
  box-shadow: none;
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #e94b35;
  border-color: #e94b35;
  box-shadow: none;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle,
.show > .btn-danger.dropdown-toggle:focus {
  color: #fff;
  background-color: #e94b35;
  border-color: transparent;
  box-shadow: none;
}

.btn-light {
  color: #2c3e50;
  background-color: #f7f9f9;
  border-color: #f7f9f9;
  box-shadow: none;
}

.btn-light:hover, .btn-light:focus, .btn-light.focus {
  color: #2c3e50;
  background-color: white;
  border-color: white;
  box-shadow: none;
}

.btn-light.disabled, .btn-light:disabled {
  color: #2c3e50;
  background-color: #f7f9f9;
  border-color: #f7f9f9;
  box-shadow: none;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle,
.show > .btn-light.dropdown-toggle:focus {
  color: #2c3e50;
  background-color: #f7f9f9;
  border-color: transparent;
  box-shadow: none;
}

.btn-dark {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  box-shadow: none;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #3a5169;
  border-color: #3a5169;
  box-shadow: none;
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  box-shadow: none;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle,
.show > .btn-dark.dropdown-toggle:focus {
  color: #fff;
  background-color: #2c3e50;
  border-color: transparent;
  box-shadow: none;
}

.btn-outline-primary {
  color: #7dc7a9;
  background-color: transparent;
  background-image: none;
  border-color: #7dc7a9;
  box-shadow: none;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.focus {
  color: #fff;
  background-color: #7dc7a9;
  border-color: #7dc7a9;
  box-shadow: none;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #7dc7a9;
  background-color: transparent;
  border-color: #7dc7a9;
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle,
.show > .btn-outline-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #7dc7a9;
  border-color: #7dc7a9;
  box-shadow: none;
}

.btn-outline-secondary {
  color: #3498db;
  background-color: transparent;
  background-image: none;
  border-color: #3498db;
  box-shadow: none;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.focus {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: none;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #3498db;
  background-color: transparent;
  border-color: #3498db;
  box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: none;
}

.btn-outline-success {
  color: #2ecc71;
  background-color: transparent;
  background-image: none;
  border-color: #2ecc71;
  box-shadow: none;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success.focus {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: none;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #2ecc71;
  background-color: transparent;
  border-color: #2ecc71;
  box-shadow: none;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle,
.show > .btn-outline-success.dropdown-toggle:focus {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  box-shadow: none;
}

.btn-outline-info {
  color: #85c1e9;
  background-color: transparent;
  background-image: none;
  border-color: #85c1e9;
  box-shadow: none;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info.focus {
  color: #fff;
  background-color: #85c1e9;
  border-color: #85c1e9;
  box-shadow: none;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #85c1e9;
  background-color: transparent;
  border-color: #85c1e9;
  box-shadow: none;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle,
.show > .btn-outline-info.dropdown-toggle:focus {
  color: #fff;
  background-color: #85c1e9;
  border-color: #85c1e9;
  box-shadow: none;
}

.btn-outline-warning {
  color: #f1c40f;
  background-color: transparent;
  background-image: none;
  border-color: #f1c40f;
  box-shadow: none;
}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning.focus {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
  box-shadow: none;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #f1c40f;
  background-color: transparent;
  border-color: #f1c40f;
  box-shadow: none;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle,
.show > .btn-outline-warning.dropdown-toggle:focus {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
  box-shadow: none;
}

.btn-outline-danger {
  color: #e94b35;
  background-color: transparent;
  background-image: none;
  border-color: #e94b35;
  box-shadow: none;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger.focus {
  color: #fff;
  background-color: #e94b35;
  border-color: #e94b35;
  box-shadow: none;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #e94b35;
  background-color: transparent;
  border-color: #e94b35;
  box-shadow: none;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle,
.show > .btn-outline-danger.dropdown-toggle:focus {
  color: #fff;
  background-color: #e94b35;
  border-color: #e94b35;
  box-shadow: none;
}

.btn-outline-light {
  color: #f7f9f9;
  background-color: transparent;
  background-image: none;
  border-color: #f7f9f9;
  box-shadow: none;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light.focus {
  color: #2c3e50;
  background-color: #f7f9f9;
  border-color: #f7f9f9;
  box-shadow: none;
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f7f9f9;
  background-color: transparent;
  border-color: #f7f9f9;
  box-shadow: none;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle,
.show > .btn-outline-light.dropdown-toggle:focus {
  color: #2c3e50;
  background-color: #f7f9f9;
  border-color: #f7f9f9;
  box-shadow: none;
}

.btn-outline-dark {
  color: #2c3e50;
  background-color: transparent;
  background-image: none;
  border-color: #2c3e50;
  box-shadow: none;
}

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark.focus {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  box-shadow: none;
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #2c3e50;
  background-color: transparent;
  border-color: #2c3e50;
  box-shadow: none;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle,
.show > .btn-outline-dark.dropdown-toggle:focus {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
  box-shadow: none;
}

.btn-primary.btn-gray-shadow, .btn-secondary.btn-gray-shadow, .btn-success.btn-gray-shadow, .btn-info.btn-gray-shadow, .btn-warning.btn-gray-shadow, .btn-danger.btn-gray-shadow, .btn-dark.btn-gray-shadow, .btn-group-primary.btn-gray-shadow, .btn-group-secondary.btn-gray-shadow, .btn-group-success.btn-gray-shadow, .btn-group-info.btn-gray-shadow, .btn-group-warning.btn-gray-shadow, .btn-group-danger.btn-gray-shadow, .btn-group-dark.btn-gray-shadow {
  box-shadow: none;
}

.btn-light.btn-gray-shadow, .btn-group-light.btn-gray-shadow {
  box-shadow: none;
}

.btn-primary.btn-gray-shadow:hover, .btn-primary.btn-gray-shadow:focus, .btn-primary.btn-gray-shadow.focus, .btn-primary.btn-gray-shadow.disabled, .btn-primary.btn-gray-shadow:disabled, .btn-primary.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-primary.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-primary.btn-gray-shadow.dropdown-toggle:focus, .btn-secondary.btn-gray-shadow:hover, .btn-secondary.btn-gray-shadow:focus, .btn-secondary.btn-gray-shadow.focus, .btn-secondary.btn-gray-shadow.disabled, .btn-secondary.btn-gray-shadow:disabled, .btn-secondary.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-secondary.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-secondary.btn-gray-shadow.dropdown-toggle:focus, .btn-success.btn-gray-shadow:hover, .btn-success.btn-gray-shadow:focus, .btn-success.btn-gray-shadow.focus, .btn-success.btn-gray-shadow.disabled, .btn-success.btn-gray-shadow:disabled, .btn-success.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-success.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-success.btn-gray-shadow.dropdown-toggle:focus, .btn-info.btn-gray-shadow:hover, .btn-info.btn-gray-shadow:focus, .btn-info.btn-gray-shadow.focus, .btn-info.btn-gray-shadow.disabled, .btn-info.btn-gray-shadow:disabled, .btn-info.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-info.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-info.btn-gray-shadow.dropdown-toggle:focus, .btn-warning.btn-gray-shadow:hover, .btn-warning.btn-gray-shadow:focus, .btn-warning.btn-gray-shadow.focus, .btn-warning.btn-gray-shadow.disabled, .btn-warning.btn-gray-shadow:disabled, .btn-warning.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-warning.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-warning.btn-gray-shadow.dropdown-toggle:focus, .btn-danger.btn-gray-shadow:hover, .btn-danger.btn-gray-shadow:focus, .btn-danger.btn-gray-shadow.focus, .btn-danger.btn-gray-shadow.disabled, .btn-danger.btn-gray-shadow:disabled, .btn-danger.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-danger.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-danger.btn-gray-shadow.dropdown-toggle:focus, .btn-dark.btn-gray-shadow:hover, .btn-dark.btn-gray-shadow:focus, .btn-dark.btn-gray-shadow.focus, .btn-dark.btn-gray-shadow.disabled, .btn-dark.btn-gray-shadow:disabled, .btn-dark.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-dark.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-dark.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-primary.btn-gray-shadow:hover, .btn-outline-primary.btn-gray-shadow:focus, .btn-outline-primary.btn-gray-shadow.focus, .btn-outline-primary.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-primary.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-primary.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-primary.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-primary.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-primary.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-secondary.btn-gray-shadow:hover, .btn-outline-secondary.btn-gray-shadow:focus, .btn-outline-secondary.btn-gray-shadow.focus, .btn-outline-secondary.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-secondary.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-secondary.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-secondary.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-secondary.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-success.btn-gray-shadow:hover, .btn-outline-success.btn-gray-shadow:focus, .btn-outline-success.btn-gray-shadow.focus, .btn-outline-success.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-success.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-success.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-success.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-success.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-success.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-info.btn-gray-shadow:hover, .btn-outline-info.btn-gray-shadow:focus, .btn-outline-info.btn-gray-shadow.focus, .btn-outline-info.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-info.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-info.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-info.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-info.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-info.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-warning.btn-gray-shadow:hover, .btn-outline-warning.btn-gray-shadow:focus, .btn-outline-warning.btn-gray-shadow.focus, .btn-outline-warning.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-warning.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-warning.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-warning.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-warning.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-warning.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-danger.btn-gray-shadow:hover, .btn-outline-danger.btn-gray-shadow:focus, .btn-outline-danger.btn-gray-shadow.focus, .btn-outline-danger.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-danger.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-danger.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-danger.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-danger.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-danger.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-dark.btn-gray-shadow:hover, .btn-outline-dark.btn-gray-shadow:focus, .btn-outline-dark.btn-gray-shadow.focus, .btn-outline-dark.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-dark.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-dark.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-dark.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-dark.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-dark.btn-gray-shadow.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-light.btn-gray-shadow:hover, .btn-light.btn-gray-shadow:focus, .btn-light.btn-gray-shadow.focus, .btn-light.btn-gray-shadow.disabled, .btn-light.btn-gray-shadow:disabled, .btn-light.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-light.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-light.btn-gray-shadow.dropdown-toggle:focus, .btn-outline-light.btn-gray-shadow:hover, .btn-outline-light.btn-gray-shadow:focus, .btn-outline-light.btn-gray-shadow.focus, .btn-outline-light.btn-gray-shadow:not(:disabled):not(.disabled):active, .btn-outline-light.btn-gray-shadow:not(:disabled):not(.disabled):active:focus, .btn-outline-light.btn-gray-shadow.active:not(:disabled):not(.disabled), .btn-outline-light.btn-gray-shadow.active:not(:disabled):not(.disabled):focus,
.show > .btn-outline-light.btn-gray-shadow.dropdown-toggle,
.show > .btn-outline-light.btn-gray-shadow.dropdown-toggle:focus {
  box-shadow: none;
}

.btn.btn-link {
  font-weight: 600;
  text-decoration: none;
}

.btn.btn-link, .btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link.focus, .btn.btn-link:not(:disabled):not(.disabled):active, .btn.btn-link:not(:disabled):not(.disabled).active,
.show > .btn.btn-link.dropdown-toggle {
  color: #7dc7a9;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.btn.btn-link:hover, .btn.btn-link.focus, .btn.btn-link:focus {
  color: rgba(125, 199, 169, 0.8);
}

.btn-lg {
  padding: 0.5rem 1.9375rem;
  font-size: 2.125rem;
  line-height: 1.45;
  border-radius: 0.2rem;
}

.btn-lg > i {
  font-size: 0.9375rem;
}

.btn-sm {
  padding: 0.3125rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-sm > i {
  font-size: 0.75rem;
}

.btn-round {
  border-radius: 1.3125rem;
}

.btn-round.btn-lg {
  border-radius: 1.6875rem;
}

.btn-round.btn-sm {
  border-radius: 0.9375rem;
}

.btn-icon-only {
  width: 42px;
  height: 42px;
  padding: 0;
  line-height: 40px;
}

.btn-icon-only > i {
  margin: 0;
}

.btn-icon-only.btn-lg {
  width: 55px;
  height: 55px;
  line-height: 53px;
}

.btn-icon-only.btn-sm {
  width: 30px;
  height: 30px;
  line-height: 27px;
}

.btn-icon-only.btn-round {
  border-radius: 50%;
}

.btn-login {
  padding: 0px 24px;
  font-size: 22px;
  border-color: #666;
}

.btn-login:hover, .btn-login:focus {
  color: #fff !important;
  background-color: #7dc7a9 !important;
  border-color: #7dc7a9 !important;
}

.btn-sign-up {
  padding: 0px 24px;
  font-size: 22px;
}

@media (min-width: 1200px) {
  .sticky .btn-login {
    top: 0;
  }
}

/******************** Dropdown ********************/
.dropdown-toggle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 15px;
  padding-right: 15px;
  padding-left: 10px;
  font-size: 22px;
  border-color: #666;
  height: 40px;
  line-height: 1.15;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-toggle::before, .dropdown-toggle::after {
  margin-left: 1em;
  /* stylelint-disable */
  font-size: 0.875rem !important;
  line-height: .5 !important;
  /* stylelint-enable */
}

.dropdown-toggle.btn-sm::before, .dropdown-toggle.btn-sm::after {
  /* stylelint-disable-next-line declaration-no-important */
  font-size: 0.75rem !important;
}

.dropdown-toggle.btn-lg::before, .dropdown-toggle.btn-lg::after {
  /* stylelint-disable-next-line declaration-no-important */
  font-size: 1rem !important;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropup .dropdown-toggle::before, .dropup .dropdown-toggle::after {
  margin-left: 1em;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::before, .dropright .dropdown-toggle::after {
  margin-left: 1em;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle::before, .dropleft .dropdown-toggle::after {
  margin-right: 1em;
  margin-left: 0;
}

.dropdown-caret-only {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.dropdown-caret-only::after, .dropdown-caret-only::before {
  margin: 0;
}

.dropdown-menu {
  padding: 0.1875rem 0;
  font-size: 1.5625rem;
  border: none;
  box-shadow: 0 0.375rem 1.375rem rgba(0, 0, 0, 0.12);
  border-radius: 0.1875rem;
}

.dropdown-item {
  transition: all 0.2s ease-in-out;
}

.dropdown-item.language-item:active {
  background-color: #7dc7a9;
}

.dropdown-header {
  padding: 0.75rem 1.875rem;
}

.dropdown-divider {
  height: 0;
  margin: 0.625rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

/******************** Dividers ********************/
.custom-divider {
  width: 100px;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  background-image: linear-gradient(to right, #dfe77d 0%, #7fc4b3 100%);
}

@media (min-width: 768px) {
  .custom-divider {
    width: 164px;
    height: 5px;
  }
}

/******************** Switch language ********************/

#switch-language{
  border-color: #666 !important;
  padding: 2px 10px 0px 10px !important;
  font-size: 22px !important;
}

.switch-language .dropdown-toggle::after {
  color: #7dc7a9;
  transition: all 0.2s ease-in-out;
}


.switch-language .dropdown-toggle:hover, .switch-language .dropdown-toggle:focus {
  color: #fff !important;
  background-color: #7dc7a9 !important;
  border-color: #7dc7a9 !important;
}

.switch-language .dropdown-toggle:hover::after, .switch-language .dropdown-toggle:focus::after {
  color: #fff;
}

@media (min-width: 1200px) {
  .switch-language .dropdown-toggle {
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 10px;
    font-size: 22px;
    border-color: #666;
    height: 42px;
    margin-left: 0px;
  }
  .sticky .switch-language .dropdown-toggle {
    margin-top: 0;
  }
}

.banner-heading {
  font-size: 2.875rem;
}

.banner-lead {
  font-size: 1.575rem;
}


/******************** Homepage banner ********************/
.homepage-banner {
  min-height: 480px;
  padding: 60px 0;
  background-image: url("../assets/images/homepage-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.homepage-banner-heading {
  font-size: 2.875rem;
}

.homepage-banner-lead {
  font-size: 1.575rem;
}

.form-waitlist {
  display: flex;
}

.form-waitlist .form-control-lg {
  height: calc(1.5em + 1rem + 4px);
}

.form-waitlist .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(126, 198, 169, .25);
}

.form-waitlist .btn {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

/******************** Homepage why us ********************/
.homepage-why-us {
  background-image: url("../assets/images/homepage-why-us-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.homepage-why-us-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3.75rem;
}

.homepage-why-us-heading .heading-logo {
  width: 3.8em;
  margin-left: 0.1em;
}

.why-us-list-heading {
  font-size: 2.375rem;
}

.why-us-list-heading::before {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 21px;
  height: 23px;
  margin-right: 8px;
  content: "";
  background-image: url("../assets/svg/bitazza-icon-list.svg");
  background-position: center center;
  background-size: cover;
}

.why-us-list-lead {
  font-family: "db_airystd_li", "Helvetica", sans-serif;
  font-size: 1.575rem;
}

@media (min-width: 768px) {
  .homepage-why-us-heading {
    flex-direction: row;
  }
}

/******************** Homepage what awesome ********************/
.homepage-what-awesome {
  background-color: transparent;
  background-image: linear-gradient(to top, #2c2c2c 0%, #171717 100%);
}

.what-awesome-item-heading {
  font-size: 2.375rem;
}

.homepage-what-awesome-heading {
  font-size: 2.875rem;
}

.homepage-what-awesome-heading .heading-logo {
  width: 2.6em;
  margin: -0.14em 0.35em 0 0;
}

/******************** Homepage what BTZ ********************/
.homepage-what-btz{
  background-color: white;
}

.homepage-what-btz-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3.5rem;
}

.homepage-what-btz-heading .heading-logo {
  width: 0.8em;
  margin: 0 0.3em;
}

.homepage-what-btz-lead {
  font-family: "db_airystd_li", "Helvetica", sans-serif;
  font-size: 1.875rem;
}

.what-btz-item-heading {
  font-size: 2.375rem;
}

.what-btz-item-desc {
  font-family: "db_airystd_li", "Helvetica", sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .homepage-what-btz-heading {
    flex-direction: row;
  }
}

/******************** Homepage mobile experience ********************/
.mobile-experience-heading {
  font-size: 2.875rem;
}

.screenshot-section {
  position: relative;
  display: block;
  overflow: hidden;
  background-image: url("../assets/images/screenshot-bg.png");
  background-position: center center;
  background-size: cover;
}

.screenshot-contain {
  height: 630px;
}

.mob-mocup {
  position: absolute;
  z-index: 2;
  display: none;
}

.screenshot-item {
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.mobile-light-left {
  position: absolute;
  z-index: 9;
  display: none;
  width: auto;
  -webkit-animation: 2s ease-in 0s normal none infinite running highlight-left;
  animation: 2s ease-in 0s normal none infinite running highlight-left;
}

.mobile-light-right {
  position: absolute;
  z-index: 9;
  display: none;
  width: auto;
  -webkit-animation: 2s ease-in 0s normal none infinite running highlight-right;
  animation: 2s ease-in 0s normal none infinite running highlight-right;
}

/******************** Homepage FAQ ********************/
.homepage-faq {
  background-color: #F5F5F5;
}

.homepage-faq-heading {
  font-size: 3.5rem;
}

/******************** footer ********************/

.footer-container .menu-header {
  text-transform: uppercase;
} 

.footer-container .left-menu {
  font-size: 1.1rem;
  padding-top: 30px;
  min-height: 350px;
  background-color: #232222;
} 

.footer-container .right-menu {
  padding-top: 20px;
  min-height: 350px;
  background-color: #000;
}

@media only screen and (max-width: 480px) {
  .footer-container .right-menu {
    min-height: 220px;
  }
}

.footer-container .right-menu img.footer-logo-bitazza {
  width: 100px;
  margin-top: -6px;
}

@media (min-width: 768px) {
  .footer-container .left-menu {
    padding-top: 40px;
  }
  .footer-container .right-menu {
    padding-top: 40px;
  }
}


@-webkit-keyframes highlight-left {
  0% {
    top: 320px;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes highlight-left {
  0% {
    top: 320px;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

@-webkit-keyframes highlight-right {
  0% {
    bottom: 100px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: 400px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes highlight-right {
  0% {
    bottom: 100px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: 400px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

/******************** Viewport breakpoints ********************/
@media (min-width: 576px) {
  .mob-mocup {
    display: block;
    width: 282px;
    height: auto;
  }
  .screenshot-item {
    border: none;
    border-radius: 0;
  }
  .mobile-light-left {
    bottom: 50px;
    left: 20.4%;
    display: block;
  }
  .mobile-light-right {
    top: 0;
    right: 20%;
    display: block;
  }
}

@media (min-width: 768px) {
  .what-awesome-item-heading {
    font-size: 2.5rem;
  }
  .homepage-what-awesome-heading {
    font-size: 3.75rem;
  }
  .homepage-what-awesome-heading .heading-logo {
    margin: -0.13em 0.28em 0;
  }
  .homepage-what-btz-heading {
    font-size: 5.375rem;
  }
  .what-btz-item-heading {
    font-size: 2.5rem;
  }
  .what-btz-item-desc {
    font-size: 1.75rem;
  }
  .mobile-experience-heading {
    font-size: 3.75rem;
  }
  .mob-mocup {
    width: 248px;
  }
  .mobile-light-left {
    left: 30.4%;
  }
  .mobile-light-right {
    right: 30%;
  }
}

@media (min-width: 992px) {
  .mobile-light-left {
    left: 35.4%;
  }
  .mobile-light-right {
    right: 35%;
  }
}

@media (min-width: 1200px) {
  .homepage-banner {
    min-height: 680px;
  }
  .homepage-banner-heading {
    font-size: 2.875rem;
  }
  .mob-mocup {
    width: 234px;
  }
  .mobile-light-left {
    left: 38.4%;
  }
  .mobile-light-right {
    right: 38%;
  }
}
/*# sourceMappingURL=style.css.map */


/******************** About banner ********************/

.about-banner {
  min-height: 480px;
  padding: 90px 0px 60px 0px;
  background-image: url("../assets/images/about-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-banner-heading {
  font-size: 2.875rem;
  text-align: center;
}

.about-banner-lead {
  font-weight: bold;
  text-align: center;
}

/******************** About banner ********************/

.about-descrition {
  background-image: url("../assets/images/about-description-left.png"), url("../assets/images/about-description-right.png");
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-color: white;
}

/******************** About banner ********************/
.about-section-3 {
  padding: 60px 0px;
  background-image: url("../assets/images/about-section-3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-sections-3-detail {
  font-size: 1.375rem;
}


/******************** About banner ********************/

.about-vision-mission-container {
  background-color: white;
  padding: 4px 0px;
}

.about-vision-mission {
  margin: 30px 0px;
}

.about-vision-mission-row {
  position: relative;
}

.about-vision-mission-paragraph-top {
  padding: 30px 15px;
}

.about-vision-mission-paragraph-top .about-vision-mission-paragraph-heading  {
  text-align: right;
  text-transform: uppercase;
}

.about-vision-mission-paragraph-bottom {
  padding: 30px 15px;
}

.about-vision-mission-paragraph-bottom .about-vision-mission-paragraph-heading  {
  text-transform: uppercase;
}

.about-vision-mission-paragraph-text {
  text-align: justify;
}

.top-navebar-a{
  font-size: 22px !important;
}

.homepage-mobile-experience{
  background-color: white;
}

@media (min-width: 992px) {

  .about-vision-mission {
    margin-top: 60px;
    margin-bottom: 120px;
    min-height: 950px;
    background-image: url("../assets/images/about-vision-mission.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
  }

  .about-vision-mission-paragraph-top {
    width: 460px;
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .about-vision-mission-paragraph-bottom {
    width: 610px;
    position: absolute;
    top: 590px;
    left: 0px;
  }
}

@media (min-width: 1200px) {
  .about-vision-mission {
    margin-top: 60px;
    min-height: 1150px;
    background-image: url("../assets/images/about-vision-mission.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
  }

  .about-vision-mission-paragraph-top {
    width: 540px;
    position: absolute;
    top: 50px;
    right: 50px;
  }

  .about-vision-mission-paragraph-bottom {
    width: 690px;
    position: absolute;
    top: 750px;
    left: 20px;
  }
}

/******************** Document ********************/
.document-block {
  padding: 40px 0;
  background-color: #2D2D2D;
  color: #bbbbbb;
}

.document-block h1, .document-block  h2, .document-block a {
  color: white;
}

.document-block p, .document-block ul li, .document-block ol li {
  font-size: 23px;
}

@media (min-width: 1200px) {
  .document-block {
    padding: 170px 0;
  }
}

/******************** tof ********************/
.tof ol {
  counter-reset: item;
  list-style-type: none;
}

.tof ol li {
  position: relative;
}

.tof ol li:before {
  counter-increment: item;
  left: -40px;
  position: absolute;
}

ol.lower-alpha>li:before {
  content: '('counter(item, lower-alpha) ')';
}

ol.lower-roman>li:before {
  content: '('counter(item, lower-roman) ')';
}

ol.block-2>li:before {
  content: '2''.'counter(item, decimal);
}

ol.block-3>li:before {
  content: '3''.'counter(item, decimal);
}

ol.block-4>li:before {
  content: '4''.'counter(item, decimal);
}

ol.block-5>li:before {
  content: '5''.'counter(item, decimal);
}

ol.block-6>li:before {
  content: '6''.'counter(item, decimal);
}

ol.block-7>li:before {
  content: '7''.'counter(item, decimal);
}

ol.block-8>li:before {
  content: '8''.'counter(item, decimal);
}

ol.block-9>li:before {
  content: '9''.'counter(item, decimal);
}

ol.block-10>li:before {
  content: '10''.'counter(item, decimal);
}

ol.block-11>li:before {
  content: '11''.'counter(item, decimal);
}

ol.block-12>li:before {
  content: '12''.'counter(item, decimal);
}

ol.block-13>li:before {
  content: '13''.'counter(item, decimal);
}

ol.block-14>li:before {
  content: '14''.'counter(item, decimal);
}

ol.block-15>li:before {
  content: '15''.'counter(item, decimal);
}

ol.block-16>li:before {
  content: '16''.'counter(item, decimal);
}

ol.block-19>li:before {
  content: '19''.'counter(item, decimal);
}

ol.block-20>li:before {
  content: '20''.'counter(item, decimal);
}

ol.block-21>li:before {
  content: '21''.'counter(item, decimal);
}

ol.block-22>li:before {
  content: '22''.'counter(item, decimal);
}

/******************** privacy-policy ********************/
.privacy-policy .email-support {
  font-size: 29px;
  color: white;
  text-decoration: none;
}

/******************** fees page ********************/
.fees-banner {
  padding: 30px 0px;
}

.fees-banner .row {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.fees-banner .banner-heading {
  text-align: center;
}

.fees-banner .banner-lead {
  text-align: center;
}

.fees-banner .col-md-5 {
  display: flex;
  justify-content: center;
}

.fees-banner .banner-img {
  height: 280px;
}

.fees-content {
  background-color: #F7F7F7;
  padding-bottom: 30px;
}

.kyc-levels-block {
  padding-top: 30px;
}

.kyc-levels-block .tab-container {
  display: flex;
}

.kyc-levels-block .tab-container > div {
  cursor: pointer;
  font-family: "db_airystd_bd", "Helvetica", sans-serif !important;
  font-size: 28px;
  color: #ccc;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0px 5px;
  height: 35px;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.kyc-levels-block .tab-container div:first-child {
  margin-left: 0px;
}

.kyc-levels-block .tab-container div:last-child {
  margin-right: 0px;
}

.kyc-levels-block .tab-container div.active {
  z-index: 700;
  color: #7dc7a9;
}

.kyc-levels-block .tab-container > div > span {
  height: 12px;
  border-radius: 6px;
  background-color: #ccc;
  margin: 0px 25px;
}

.kyc-levels-block .tab-container div.active > span:first-child {
  background-color: #7dc7a9;
}

.kyc-levels-block .tab-container .level1 > span:first-child {
  flex: 1;
}
.kyc-levels-block .tab-container .level1 > span:last-child {
  flex: 2;
}

.kyc-levels-block .tab-container .level2 > span:first-child {
  flex: 2;
}
.kyc-levels-block .tab-container .level2 > span:last-child {
  flex: 1;
}

.kyc-levels-block .tab-container .level3 > span:first-child {
  flex: 1;
}
.kyc-levels-block .tab-container .level3 > span:last-child {
  flex: 0;
}

.kyc-levels-block .content-container {
  display: flex;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.kyc-levels-block .content-container > div {
  flex: 1;
  padding: 20px 15px;
  box-shadow: 0px -2px 49px 0 rgba(126, 194, 177, 0.15);
}


.kyc-levels-block .content-container .kyc-content-table {
  width: 100%;
}

.kyc-levels-block .content-container .kyc-content-table tr {
  border-bottom: 1px solid #F5F5F5;
}

.kyc-levels-block .content-container .kyc-content-table tr:first-child {
  border-bottom: 1px solid #7dc7a9;
}

.kyc-levels-block .content-container .kyc-content-table tr td p {
  font-size: 20px;
}

.trading-fees-block {
  padding-top: 30px;
}

.trading-fees-block .info p {
  margin: 0px;
}

.trading-fees-block .fees-table {
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: auto;
}

.trading-fees-block .divider {
  background-color: #acacac;
  height: 3px;
}

.trading-fees-block .bronze {
  background-image: linear-gradient(98deg, #71503d, #ac644e 49%, #614013);
}

.trading-fees-block .silver {
  background-image: linear-gradient(98deg, #555555, #cbcbcb 49%, #666666);
}

.trading-fees-block .gold {
  background-image: linear-gradient(98deg, #79612f, #cab459 49%, #6f5617);
}

.trading-fees-block .platinum {
  background-image: linear-gradient(96deg, #546363, #b1e7e5 50%, #627372);
}

.trading-fees-block .diamond {
  background-image: linear-gradient(96deg, #175c74, #3eabd1 49%, #166885);
}

.trading-fees-block .emerald {
  background-image: linear-gradient(96deg, #006733, #00d077 50%, #00572a);
}

.trading-fees-block .emerald.radius {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.trading-fees-block .fees-table-header {
  min-width: 930px;
  font-family: "db_airystd_bd", "Helvetica", sans-serif !important;
  font-weight: bold;
  display: flex;
  padding: 0px 8px;
  border-radius: 22.5px;
  box-shadow: -0.5px -0.9px 51px 0 rgba(255, 255, 255, 0.1), 3.8px 7.1px 8px 0 rgba(8, 8, 8, 0.2);
  background-color: #ebebeb;
}

.trading-fees-block .fees-table-body {
  min-width: 930px;
  font-family: "db_airystd_bd", "Helvetica", sans-serif !important;
  font-weight: bold;
  display: flex;
  padding: 0px 8px;
}

.trading-fees-block .fees-table-body .row-1 {
  font-size: 1.3rem;
  height: 66px;
}

.trading-fees-block .fees-table-body .row-2 {
  font-size: 1.3rem;
  height: 66px;
}

.trading-fees-block .fees-table-body .row-3 {
  font-size: 1.3rem;
  height: 111px
}

.trading-fees-block .fees-table-header > div,
.trading-fees-block .fees-table-body  > div {
  text-align: right;
  flex: 1;
}

.trading-fees-block .fees-table-header > div:first-child,
.trading-fees-block .fees-table-body > div:first-child {
  flex: 1.75;
}

.trading-fees-block .fees-panel {
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0 rgba(8, 8, 8, 0.15);
  background-color: #ebebeb;
}

.withdrawal-fees-block {
  padding-top: 30px;
}

.withdrawal-fees-block table {
  width: 90%;
}

.withdrawal-fees-block table tr {
  line-height: 1.1;
}

.withdrawal-fees-block table tr td:nth-child(2),
.withdrawal-fees-block table tr td:nth-child(3) {
  width: 100px;
}

@media (min-width: 768px) {

  .fees-banner .banner-heading {
    text-align: left;
  }
  
  .fees-banner .banner-lead {
    text-align: left;
  }

  .fees-banner .row {
    flex-direction: row;
  }

  .fees-content {
    padding-bottom: 30px;
  }

  .kyc-levels-block {
    padding-top: 60px;
  }

  .kyc-levels-block .tab-container > div {
    margin: 0px 10px;
    height: 50px;
  }

  .kyc-levels-block .content-container > div {
    padding: 40px 30px;
  }

  .trading-fees-block .trading-fees-img {
    height: 260px;
  }

  .trading-fees-block {
    padding-top: 60px;
  }

  .withdrawal-fees-block {
    padding-top: 30px;
  }
  
}

@media (min-width: 1200px) {
  .fees-banner {
    padding: 120px 0px 30px 0px;
  }

  .fees-banner .banner-img {
    height: 380px;
  }

  .fees-content {
    padding-bottom: 120px;
  }
  
  .kyc-levels-block {
    padding-top: 120px;
  }

  .trading-fees-block {
    padding-top: 120px;
  }

  .trading-fees-block .info {
    width: 400px;
  }

  .trading-fees-block .trading-fees-img {
    height: 300px;
  }

  .withdrawal-fees-block {
    padding-top: 120px;
  }
  
}

.fc_frame {
  font-size: 1.1rem;
  height: 430px !important;
}

.fc_frame.h-open-container.fc-open {
  bottom: -20px !important;
}

.chat-fc-form-outer {
  bottom: 0px !important;
}
