
.btz-panel {
  margin: 1px;
  padding: 16px;
  border-radius: 3px;
  background-color: var(--secondary__bg-color);
}

.btz-panel__no-background {
  background-color: transparent;
}

.btz-panel__secondary-background {
  background-color: #282828;
}

@media only screen and (min-width: 1200px) {
  .btz-panel {
    padding: 16px 32px;
  }  
}