.ap-switch__switch {
  min-width: 90px;
  height: 32px;
  border-radius: 16px;
  border: solid 2px var(--switch-component__border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
}

.ap-switch__toggle {
  margin: 2px;
  box-shadow: 1px 1px 1px var(--switch-component__toggle-box-shadow-color);
  width: 24px;
  height: 24px;
  left: 0;
  border-radius: 12px;
  background: var(--switch-component__toggle-bg-color);
  position: relative;
  transition: left 0.2s ease-in-out;
  cursor: inherit;
}

.ap-switch__toggle--on {
  left: 58px;
  background: var(--switch-component__toggle-bg-color--on);
  box-shadow: 0 3px 3rem 0 var(--switch-component__toggle-box-shadow-color--on);
}

.ap-switch__text {
  cursor: inherit;
  margin-left: 1rem;
}

.ap-switch__text--on {
  margin: 0;
}


.ap-switch__disabled {
  filter: brightness(0.5);
  cursor: not-allowed;;
}