.mobile-app__container {
  display: flex;
  flex-direction: column;
}

.mobile-app__btn-mobile {
  line-height: 2.5;
  padding: 0 12px;
}

.mobile-app__item {
  padding: 12px 16px;
}

.mobile-app__item-line {
  padding: 8px 16px 8px 4px;
}

@media only screen and (min-width: 992px) {
  .mobile-app__btn-mobile {
    padding: 0px 24px
  }
}