.confirm-order-modal {
  display: flex;
  flex-direction: column;
  width: 32rem;
}

.confirm-order-modal__bought__header {
  background: var(--input__bg-color);
}

.confirm-order-modal__lwt-container {
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0 1.2rem;
  background: var(--input__bg-color);
  border-bottom: 1px solid var(--secondary__bg-color);
}

.confirm-order-modal__lwt-container:last-child {
  border-bottom: 0;
}

.confirm-order-modal__bought__content {
  background: var(--secondary__bg-color);
}

.confirm-order-modal__bought__btn {
  padding: 0 5rem;
  background: var(--success__bg-color);
}

.confirm-order-modal__sold__btn {
  padding: 0 5rem;
  background: var(--danger__bg-color);
}

.confirm-order-modal__bought__footer {
  margin-left: 0;
  background: var(--secondary__bg-color);
}

.confirm-order-modal__bought__btn {
  margin-left: 2.5rem;
}

.confirm-order-modal__disclaimer {
  width: 32rem;
  margin-top: 24px;
}

.confirm-order-modal__disclaimer p {
  line-height: 1.5;
}


.confirm-order-modal__disclaimer_icon {
  color: var(--danger__bg-color);
  margin-right: 4px;
}