.btz-animation__scale {
  display: inline-block;
  animation: btz-animation-scale .2s ease-in-out;
}

@keyframes btz-animation-scale {
  0% {
    transform: scale(.7);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}