.ap-timepicker-dropdown__select-wrapper {
    margin-bottom: 2rem;
}

.ap-timepicker-dropdown__select {
    margin-right: 1rem;
}

.ap-timepicker-dropdown__select:last-child {
    margin: 0;
}

.ap-timepicker-dropdown__error {
    color: var(--danger__color);
    padding-top: 0.5rem;
    display: inline-block;
}

.ap-timepicker-dropdown__info {
    padding-top: 0.5rem;
}