.asset-activity-details-component .order-history__tab {
  height: calc(100vh - 14rem);
  max-height: unset;
}

.asset-activity-details-component .ap-icon--cancel {
  height: fit-content;
  width: fit-content;
}