.link-line__btn {
  padding-right: 10px;
  padding-left: 10px;
}

.link-line__line-icon {
  width: 25px;
}

.link-line__modal__content {
  padding: 0px;
}

@media (min-width: 1024px) {
  .link-line__add-line-poster {
    width: 580px;
  }
}

@media (min-width: 1920px) {
  .link-line__add-line-poster {
    width: 780px;
  }
}