
.fiat-side-pane-component__container {
  max-width: 88.8rem !important;
}

.fiat-side-pane-component__container .slide-pane__content {
  overflow-y: scroll;
}

.fiat-side-pane-component__header {
  padding: 32px 0px;
}

.fiat-side-pane-component__header-text-top {
  font-size: 18px;
  font-weight: bold;
  padding-left: 116px;
  margin: 0px;
}

.fiat-side-pane-component__icon-container {
  display: inline-block;
  padding: 0px 34px;
}

.fiat-side-pane-component__header-product-name {
  display: inline;
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
}