.ap-padded-decimal {
  display: inline-block !important;
  width: 70px !important;
}

.ap-padded-decimal__units {
  color: var(--padded-decimal__separator-color) !important;
}

.ap-padded-decimal__decimals {
  color: var(--padded-units__separator-color) !important;
}

.ap-padded-decimal__padding {
  visibility: unset !important;
}

.ap-padded-decimal,
.ap-padded-decimal--buy,
.ap-padded-decimal--sell,
.recent-trades__table-time {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3rem;
}