.standalone-form__input-wrapper {
  margin-bottom: 2.5rem;
}

.standalone-form__input-box {
  height: 3rem;
}

.standalone-form__close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--font__color-primary);
}

.standalone-form__container {
  margin: auto;
  width: var(--standalone-form__container-width);
  min-height: min-content;
  display: flex;
  flex-direction: column;
  background: var(--standalone-form__container-bg-color);
  box-shadow: var(--component__box-shadow);
}

.standalone-form__header {
  position: relative;
  height: 6.4rem;
  display: flex;
  align-items: center;
  color: var(--standalone-form__header-color);
  background: var(--standalone-form__header-bg-color);
  padding-left: 2.8rem;
  box-shadow: var(--standalone-form__header-box-shadow);
}

.standalone-form__message-text,
.standalone-form__header-text {
  font-size: 1.6rem;
  color: var(--font__color-primary);
}

.standalone-form__message {
  height: 14rem;
  display: flex;
  align-items: center;
  color: var(--standalone-form__message-color);
  background: var(--standalone-form__header-bg-color);
  padding: 0 2.8rem;
  box-shadow: var(--standalone-form__message-box-shadow);
}

.standalone-form__message-footer {
  height: 6.2rem;
  margin: 0 2.8rem;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--border__color);
}

.standalone-form__message-footer .standalone-form__btn--subtractive,
.standalone-form__message-footer .standalone-form__btn--additive {
  font-size: 1.1rem;
  display: inline-block;
  height: 3.2rem;
  line-height: 3.2rem;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  padding: 0 1rem;
  border: 1px solid transparent;
  color: var(--font__color-primary);
  white-space: nowrap;
  width: auto;
  min-width: var(--standalone-form__btn-width);
}

.standalone-form__message-footer .standalone-form__btn--subtractive {
  background: var(--danger__bg-color);
}

.standalone-form__message-footer .standalone-form__btn--additive {
  background: var(--success__bg-color);
}

.standalone-form__message-footer .standalone-form__btn--subtractive:hover {
  background: var(--danger__bg-color--hover);
}

.standalone-form__message-footer .standalone-form__btn--additive:hover {
  background: var(--success__bg-color--hover);
}

.standalone-form__message-footer .standalone-form__btn--subtractive:focus {
  background: var(--danger__bg-color--focus);
  border: solid 1px var(--danger__border-color--focus);
}

.standalone-form__message-footer .standalone-form__btn--additive:focus {
  background: var(--success__bg-color--focus);
  border: solid 1px var(--success__border-color--focus);
}

.standalone-form__success {
  padding: 1rem;
}

.standalone-form__terms-text {
  margin: 1rem 0;
  line-height: 1.45;
  color: var(--font__color-secondary);
}

.standalone-form__information-text {
  margin-bottom: 2.8rem;
  font-size: 1.4rem;
  color: var(--font__color-secondary);
}

.standalone-form__password-strength {
  color: var(--information__color);
}

.standalone-form__password-error {
  color: var(--danger__bg-color);
  margin-bottom: 2.5rem;
}

.standalone-form__footer {
  height: 6.2rem;
  margin: 0 2.8rem;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--border__color);
}

.standalone-form__footer-separator {
  width: 0;
  height: 2rem;
  border-right: solid 1px var(--border__color);
  margin: 0 1.5rem;
}

.standalone-form__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.75rem;
}

.standalone-form__btn {
  width: var(--standalone-form__btn-width);
  height: var(--standalone-form__btn-height);
  background-color: var(--standalone-form__btn-bg-color);
}

.standalone-form__separator {
  margin: 0 0 2.5rem 0;
  display: block;
  border-top: solid 1px var(--border__color);
}

.standalone-form__auto-tab-input {
  margin-bottom: 2.5rem;
}

.standalone-form__radio-list {
  margin-bottom: 2.5rem;
}

.standalone-form__error {
  color: var(--danger__color);
  padding-top: 0.5rem;
  display: inline-block;
}

.standalone-form__info {
  padding-top: 0.5rem;
}
/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media (max-width: 576px) {
  .standalone-form__wrapper {
    justify-content: flex-start;
  }
  .standalone-form__container {
    width: auto;
    box-shadow: initial;
    margin: 2rem 2rem 5rem 2rem;
  }
  .standalone-form__logo {
    align-self: flex-start;
    position: initial;
    top: initial;
    left: initial;
  }
}
