.flex-table.instrument-selector-popup {
  margin-top: -2px;
  max-height: var(--instrument-selector-popup__max-height);
  overflow: auto;
  color: var(--component__color-secondary);
  width: 100%;
}

.flex-table__header-cell.instrument-selector-popup__fixed {
  margin: 0;
}

.instrument-selector-popup__table-header:not(.flex-table__header--background) {
  height: var(--component__sub-header-height);
  margin-top: calc(var(--component__sub-header-height) * -1);
}

.instrument-selector-popup__header-column {
  height: var(--component__sub-header-height);
  border-bottom: 1px solid var(--table__row-separator-color);
  padding: 0px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instrument-selector-popover__popover{
  flex-direction: column;
}

.instrument-selector-popover__popover
  .instrument-selector-popup__body:first-of-type {
  border-top-right-radius: var(--component__border-radius);
}

.instrument-selector-popup__table-header{
  background: var(--font__color-secondary);
}

.instrument-selector-popup__table-header .flex-table__column{
  color: var(--instrument-selector-popup__bg-color);
  font-weight: bold;
}

.instrument-selector-popover__popover .instrument-selector-popup__body {
  background: var(--instrument-selector-popup__bg-color);
  max-height: 80vh;
}

.instrument-selector-popup__column {
  padding: 0px 6px;
  cursor: pointer;
}

.flex-table__row.instrument-selector-popup__row {
  height: 3.5rem;
  line-height: 3.5rem;
}

.instrument-selector-popup__coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.instrument-selector-popup__coin img {
  margin-right: 6px;
}

.instrument-selector-popup__24h-change {
  overflow: hidden;
  text-overflow: ellipsis;
}

.instrument-selector-popup__24h-positive {
  color: var(--success__color);
}

.instrument-selector-popup__24h-negative {
  color: var(--danger__color);
}

.flex-table__column.instrument-selector-popup__header-column--coin {
  justify-content: flex-start;
  flex-grow: 1.5;
}

.flex-table__column.instrument-selector-popup__column--coin {
  flex-grow: 1.5;
}

.flex-table__column.instrument-selector-popup__header-column--price {
  justify-content: flex-start;
}

.flex-table__column.instrument-selector-popup__column--price {
  text-align: left;
}

.flex-table__column.instrument-selector-popup__header-column--24hr-chg {
  justify-content: flex-end;
}

.flex-table__column.instrument-selector-popup__column--24hr-chg {
  text-align: right;
}

.instrument-selector-popover__content::after {
  border-bottom-color: var(--font__color-secondary);
}

.instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row:hover {
  background: var(--instrument-selector-popup__row-bg-color--hover);
}
.instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row--selected:hover,
.instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row--selected {
  background: var(--instrument-selector-popup__row-bg-color--selected);
}

.instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row--selected:before {
  content: '';
  height: 100%;
  border-left: 2px solid var(--popover__selector-border-color--selected);
}

.instrument-selector-popup__btn-sort {
  cursor: pointer;
}

.instrument-selector-popup__btn-sort .fa.fa-sort,
.instrument-selector-popup__btn-sort .fa.fa-sort-desc,
.instrument-selector-popup__btn-sort .fa.fa-sort-asc {
  margin-left: 4px;
  opacity: 0.5;
}

.instrument-selector-popup__btn-sort .fa.fa-sort-desc,
.instrument-selector-popup__btn-sort .fa.fa-sort-asc {
  opacity: 1;
}

/* BROWSER QUERIES */

/* IE11+ specific styles */
_:-ms-fullscreen, :root .instrument-selector-popup__fixed{
  margin-left: -1rem;
}

_:-ms-fullscreen, :root .instrument-selector-popup__table-header,
_:-ms-fullscreen, :root .instrument-selector-popover__popover .instrument-selector-popup__body,
_:-ms-fullscreen, :root 
  .instrument-selector-popover__popover
  .instrument-selector-popup__body
  .instrument-selector-popup__row {
  max-height: inherit;
}

_:-ms-fullscreen, :root .instrument-selector-popup__body {
  height: var(--dropdown__height--ie);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 968px) {
  .flex-table.instrument-selector-popup {
    box-shadow: none;
  }
  .ap-popover__content.instrument-selector-popover__content {
    right: 0px;
    left: 0px;
  }
}


/* Small Devices, Tablets */
/* @media only screen and (max-width: 768px) {
  .instrument-selector-popover__popover 
  .instrument-selector-popup__body{
    max-height: 80vh;
  }
} */