.instrument-selector-popover__popover {
  display: flex;
  flex-basis: 12.5%;
  flex-shrink: 0;
  border-right: var(--instrument-selector__popover-border);
}

.instrument-selector__trigger {
  font-size: 1.6rem;
  text-align: left;
  border: none;
  color: var(--component__color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  justify-content: space-between;
  height: var(--instrument-selector__trigger-height);
  min-height: var(--instrument-selector__trigger-height);
  border-bottom: var(--instrument-selector__trigger-border);
  font-weight: bold;
}
.instrument-selector__symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
}

.instrument-selector__symbol img {
  margin-right: 6px;
}

.instrument-selector__symbol-title {
  font-size: 1.1rem;
  color: var(--component__color-secondary);
  line-height: normal;
}

.instrument-selector__trigger:focus {
  outline: none;
}

.instrument-selector__triangle {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--component__color-primary);
  display: inline-block;
}

.instrument-selector__triangles-container {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.instrument-selector-popover__content--with-arrow::after {
  left: 3rem;
  right: auto;
}

.ap-popover__content.instrument-selector-popover__content {
  min-width: 320px;
  right: auto;
  top: var(--instrument-selector__trigger-height);
}

.instrument-selector__trigger:hover,
.instrument-selector__trigger:focus {
  background: var(--secondary__bg-color--hover);
}

.instrument-selector-popover__content
.flex-table__wide-row-container {
  max-width: 100vw;
}

/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width: 968px) {
  .instrument-selector-popover__popover {
    flex: 1 0 auto;
    width: 100%;
  }
  .instrument-selector__symbol {
    padding-right: 0.1rem;
  }

  .instrument-selector-popover__content--with-arrow::after {
    color: var(--font__color-secondary);
  }

  .instrument-selector__trigger {
    min-height: var(--nav-header__height);
    background: var(--settings__header-background-gradient);
    color: var(--font__color-secondary);
    font-weight: bold;
    font-size: 1.9rem;
    border: 0;
    padding: 0 3rem;
  }

  .instrument-selector__trigger:hover,
  .instrument-selector__trigger:focus {
    background: var(--settings__header-background-gradient);
  }
}

/* Extra Small Devices */
@media only screen and (max-width: 480px) {
  .instrument-selector__trigger {
    padding: 0 2rem;
  }

}
