.ap-modal__content.add-bank-account__content {
  max-width: 580px;
}

.add-bank-account__btn,
.add-bank-account__btn:hover,
.add-bank-account__btn:focus  {
  background: none;
  border: none;
}

.add-bank-account__btn {
  color: #00b58f;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
}

.add-bank-account__input {
  height: 4.4rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  background: var(--secondary__bg-color);
}

.add-bank-account__with-label {
  padding-left: 6rem;
}

.add-bank-account__label-in-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.2rem;
  width: 5rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}

.add-bank-account__text-body {
  font-size: 14px;
  line-height: 1.43;
  margin: 18px 0px;
  color: #868686;
}

.add-bank-account__select-bank-account-input {
  margin-bottom: 2rem;
}

.add-bank-account__select-bank-account-input .bank-account {
  cursor: pointer;
  margin: 4px;
  border: 3px solid transparent;
  border-radius: 50%;
}

.add-bank-account__select-bank-account-input .bank-account.selected {
  border: 3px solid #00b58f;
}

.add-bank-account__select-bank-account-input img {
  width: 60px;
  padding: 2px;
}

.add-bank-account__successful-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.add-bank-account__successful-container img {
  height: 68px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.add-bank-account__successful-container h4 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.add-bank-account__successful-container p {
  font-size: 14px;
  text-align: center;
  color: #bbbbbb;
}

.add-bank-account__successful__btn {
  width: 100%;
  margin-top: 32px;
  border-radius: 3px;
}

.add-bank-account__successful__btn,
.add-bank-account__successful__btn:hover,
.add-bank-account__successful__btn:focus {
  background-image: linear-gradient(96deg, #00c18a, #00a494 100%);
}
