.thb-deposit__container {
  height: 100%;
  border-top: 1px solid #666;
}

.thb-deposit__cancel-deposit-modal {
  max-width: 400px;
}

.thb-deposit__divider-top {
  border-top: 1px solid #666;
}

.thb-deposit__divider-side {
  border-right: none;
}

.thb-deposit__form-container {
  padding: 24px 16px;
}

.thb-deposit__info-container {
  padding: 24px 16px;
}

.thb-deposit__text-header {
  font-size: 18px;
  font-weight: bold;
}

.thb-deposit__text-body {
  font-size: 14px;
  line-height: 1.43;
  margin: 18px 0px;
  color: #868686;
}

.thb-deposit__input {
  height: 4.4rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  background: var(--secondary__bg-color);
}

.thb-deposit__with-label {
  padding-left: 6rem;
}

.thb-deposit__label-in-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.2rem;
  width: 5rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}

.thb-deposit__btn {
  border-radius: 5px;
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
}

.thb-deposit__qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thb-deposit__qr-container p {
  font-size: 12px;
  text-align: center;
}

.thb-deposit__qr-container p.warning {
  background-color: var(--danger__color);
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
  text-align: center;
}

.thb-deposit__qr-container img {
  height: 250px;
}

.thb-deposit__qr-container > * {
  margin-bottom: 24px;
}

.thb-deposit__download-qr-link {
  border-radius: 1px;
  font-size: 12px;
  color: #ffffff;
  padding: 10px 16px;
  background-color: #282828;
}

.thb-deposit__successful-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.thb-deposit__successful-container img {
  height: 120px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.thb-deposit__successful-container h4 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.thb-deposit__successful-container p {
  font-size: 14px;
  text-align: center;
  color: #bbbbbb;
}

.thb-deposit__info-title {
  margin-top: 24px;
  font-size: 14px;
  color: #bbbbbb;
}

.thb-deposit__info {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

@media (min-width: 960px) {
  .thb-deposit__divider-side {
    border-right: 1px solid #666;
  }
}