.thb-withdraw__container {
  height: 100%;
  border-top: 1px solid #666;
}

.thb-withdraw__divider {
  height: 1px;
  background-color: #666;
}

.thb-withdraw__divider-top {
  border-top: 1px solid #666;
}

.thb-withdraw__divider-side {
  border-right: none;
}

.thb-withdraw__form-container {
  padding: 24px 16px;
}

.thb-withdraw__info-container {
  padding: 24px 16px;
}

.thb-withdraw__text-header {
  font-size: 18px;
  font-weight: bold;
}

.thb-withdraw__text-body {
  font-size: 14px;
  line-height: 1.43;
  margin: 18px 0px;
  color: #868686;
}

.thb-withdraw__selector-container {
  position: relative;
}

.thb-withdraw__selector-container img {
  position: absolute;
  z-index: 100;
  width: 32px;
  height: 32px;
  top: 25px;
  left: 14px;
}

.thb-withdraw__select {
  padding-left: 6rem;
}

.thb-withdraw__input,
.thb-withdraw__select {
  height: 4.4rem;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  background: var(--secondary__bg-color);
}

.thb-withdraw__with-label {
  padding-left: 6rem;
}

.thb-withdraw__label {
  line-height: 1.5rem;
}

.thb-withdraw__label-in-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.2rem;
  width: 5rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}

.thb-withdraw__btn {
  border-radius: 5px;
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
}

.thb-withdraw__triangles-container {
  right: 1.5rem;
  bottom: 1.5rem;
}

.thb-withdraw__text-body span {
  color: #ffffff;
}

.thb-withdraw__successful-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.thb-withdraw__successful-container img {
  height: 68px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.thb-withdraw__successful-container h4 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.thb-withdraw__successful-container p {
  font-size: 14px;
  text-align: center;
  color: #bbbbbb;
}

.thb-withdraw__successful__btn {
  width: 100%;
  margin-top: 32px;
  border-radius: 3px;
}

.thb-withdraw__successful__btn,
.thb-withdraw__successful__btn:hover,
.thb-withdraw__successful__btn:focus {
  background-image: linear-gradient(96deg, #00c18a, #00a494 100%);
}


@media (min-width: 960px) {
  .thb-withdraw__divider-side {
    border-right: 1px solid #666;
  }
}