.navbar {
  position: inherit;
  width: 100%;
  background-color: #111;
  padding: 0px;
}

.navbar__logo {
  width: 160px;
  padding: 18px 0px
}

.navbar__language {
  height: 40px;
  margin-left: 16px;
}

.navbar__link-sub-menu {
  font-size: 20px;
}

.navbar__list-menu {
  display: none;
}

.navbar__list-menu  > * {
  display: inline-block;
  margin: 0px 8px;
}

.navbar__list-menu  > *:last-child {
  margin-right: 0px;
}

.navbar__sub-list-menu-desktop-container {
  position: relative;
  z-index: 1000;
}

.navbar__sub-list-menu-desktop {
  position: absolute;
  width: 240px;
  top: 8px;
  right: 0;
  background-color: #131313;
  padding: 8px 0px;
  border-radius: 3px;
}

.navbar__fa-bars {
  display: block;
}

.navbar__list-menu-collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-out;
}

.navbar__list-menu-collapse a, 
.navbar__list-menu-collapse span, 
.navbar__sub-list-menu-desktop a {
  display: block;
  padding: 8px 16px;
  text-transform: uppercase;
}

.navbar__list-menu-collapse a:hover {
  background-color: #313131;
}

.navbar__list-menu-collapse-open {
  max-height: 400px;
}

.navbar__line-icon {
  width: 25px;
  margin-right: 10px;
}

.navbar__divider {
  background-color: var(--public-page-primary);
  margin: 8px 16px;
  opacity: 0.7;
}

.navbar__coming-soon {
  margin: 0;
  font-size: 14px;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0px 30px 0px 30px;
  }
  .navbar__golabel-message {
    margin: 0px -30px 0px -30px;;
  }
}

@media (min-width: 1400px) {
  .navbar__list-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: fixed;
    z-index: 2000;
    background-color: transparent;
    padding: 20px 50px 0px 50px;
  }

  .navbar__golabel-message {
    margin: -20px -50px 0px -50px;
  }

  .navbar__scall-down {
    -webkit-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: stickyTransition;
    animation-name: stickyTransition;
    
    background-color:#111;
    padding: 0px 50px 0px 50px;
  }

  .navbar__scall-down .navbar__golabel-message {
    margin: 0px -50px 0px -50px;
  }
  
  .navbar__scall-down .navbar__logo {
    width: 180px;
  }
  
  .navbar__logo {
    width: 224px;
  }

  .navbar__fa-bars {
    display: none;
  }

  .navbar__list-menu-collapse  {
    display: none;
  }
}

@media (min-width: 1290px) {
  .navbar__language {
    height: 40px;
    margin-left: 30px;
  }

  .navbar__list-menu  > * {
    display: inline-block;
    margin: 0px 12px;
  }
}

@-webkit-keyframes stickyTransition {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes stickyTransition {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
