.streaming-card-grid {
  display: flex;
  flex-wrap: wrap;    
  margin: 0 -2rem;
  min-height: 5rem;
  margin-bottom: 4rem;
  margin-top: -2.5rem;
}

.streaming-card-grid__header {
  padding: 3rem 3rem 3.6rem;
  font-size: 2.4rem;
}

.streaming-card__seperator {
  width: 100%;
  height: 2px;
  background: #222834;
}

.streaming-card__qty-container {
  margin-left: 2.6rem;
  margin-right: 2.6rem;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: justify-content;
  height: 30px;
  border-radius: 6px;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .streaming-card-grid__header {
    font-size: 1.8rem;
    padding: 3rem 2.4rem 1.6rem;
  }

  .streaming-card-grid {
    margin: 0;
  }
}
