.streaming-card {
  width: 31.5rem;
  height: 28rem;
  background: var(--streaming-card__bg-color);
  border-radius: 1rem;
  margin: 2.5rem 0rem 1rem 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.streaming-card__expanded {
  width: 31.5rem;
  height: 36.9rem;
  background: var(--streaming-card__bg-color);
  border-radius: 1rem;
  margin: 2.5rem 0rem 1rem 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.streaming-card__row {
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid var(--border__color);
}

.streaming-card__textHighlighter {
  background: transparent;
  color: white;
  font-size: 2.2rem;
}

.streaming-card__sell-buy-container-for-graph {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: -2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 30px;
  border-radius: 6px;
}

.streaming-card__min-max {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
}

.streaming-card__sell-buy-container1 {
   width: 45%;
}

.streaming-card__sell-buy-container2 {
   width: 45%;
}


.streaming-card__sell-buy-container-graph {
  position: relative;
}


.streaming-card__sell-buy-container-graph-mirror {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


.streaming-card__lshapevertical-sell {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  background-color: var(--exchange-colors__sell);
  width: 75px;
  height: 63px;
  top: 37px;
  left: 60px;
  border-width: 1px 1px 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.streaming-card__lshapehorizontal-sell {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  background-color: var(--exchange-colors__sell);
  width: 95px;
  height: 35px;
  left: 0px;
  top: 80px;
  border-width: 0 0 1px 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.streaming-card__lshapeinside-sell {
  position: absolute;
  border-style: solid;
  width: 58px;
  height: 39px;
  border-color: var(--exchange-colors__sell);
  top: 45px;
  left: 5px;
  border-width: 0 3px 3px 0;
  border-bottom-right-radius: 8px;
}

.streaming-card__lshapeoutside-sell {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 75px;
  height: 40px;
  top: 75px;
  background-color: var(--exchange-colors__sell);
  left: 60px;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.streaming-card__lshapevertical-buy {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  background-color: var(--exchange-colors__buy);
  width: 75px;
  height: 63px;
  top: 37px;
  left: 60px;
  border-width: 1px 1px 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.streaming-card__lshapehorizontal-buy {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  background-color: var(--exchange-colors__buy);
  width: 95px;
  height: 35px;
  left: 0px;
  top: 80px;
  border-width: 0 0 1px 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.streaming-card__lshapeinside-buy {
  position: absolute;
  border-style: solid;
  width: 58px;
  height: 39px;
  border-color: var(--exchange-colors__buy);
  top: 45px;
  left: 5px;
  border-width: 0 3px 3px 0;
  border-bottom-right-radius: 8px;
}

.streaming-card__lshapeoutside-buy {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 75px;
  height: 40px;
  top: 75px;
  background-color: var(--exchange-colors__buy);
  left: 60px;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}



.streaming-card__buy-sell-text-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.streaming-card__buy-sell-text-container-top {
  display: flex;
  position: relative;
  margin-top: 1.5rem;
  justify-content: space-between;
  cursor: pointer;
}

.streaming-card__buy-sell-text-container-bottom {
  display: flex;
  position: relative;
}

.streaming-card__buy-text-container-arrow {
  margin-top: -1rem;
  margin-left: 1.2rem;
}

.streaming-card__sell-text-container-arrow {
  margin-top: -1rem;
  margin-left: 1.2rem;
}

.streaming-card__buy-text-container {
  width:75px;
  display: flex;
  margin-left: 2rem;
  cursor: pointer;
  text-align: center;
}

.streaming-card__width-match-parent {
  width: inherit;
}
.streaming-card__magnifyNumber {
  font-size: 2rem;
}

.streaming-card__sell-text-container {
  width: 75px;
  margin-right: 2rem;
  justify-content: space-between;
  text-align: center;
}

.streaming-card__sell-text-container-span-left {
  font-size: 1.4rem;
  cursor: pointer;
}

.streaming-card__sell-text-container-span-right {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.streaming-card__lwt-text--spread-text {
  text-align: center;
}

.streaming-card__lwt-label--spread-text {
  text-align: center;
}

.streaming-card__lwt-text--high-hour-text {
  text-align: right;
  /* margin-right: 2rem; */
}

.streaming-card__lwt-label--high-hour-text {
  text-align: right;
  /* margin-right: 2rem !important; */
}

.streaming-card__product-icon {
  margin-right: 2rem;
}

.streaming-card__lwt-container {
  flex-direction: column-reverse;
  width: 50%;
}

.streaming-card__lwt-label {
  padding-top: 0.2rem;
  font-size: 1.0rem;
  margin: 0;
  color: var(--font__color-secondary);
}

.streaming-card__lwt-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.0rem;
  color: var(--font__color-primary);
}

.streaming-card__lwt-label--header {
  color: var(--font__color-secondary);
}

.streaming-card__lwt-text--header {
  font-weight: bold;
  font-size: 1.8rem;
}

.streaming-card__icon {
  margin-left: 2.25rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
}

.streaming-card__icon-label-row {
  display: flex;
  align-items: flex-end;
  flex: 1.3;
  padding-bottom: 3.3rem;
}

.streaming-card__symbol-label {
  font-size: 2rem;
  margin-left: 1.5rem;
  color: var(--font__color-primary);
  line-height: 4rem;
}

.streaming-card__balance-row {
  display: flex;
  flex: 1;
  width: 100%;
}

.streaming-card__balance {
  width: 50%;
  padding: 2rem 2.25rem 3rem;
  border-right: solid 1px var(--streaming-card__divider-border-color-secondary);
}

.streaming-card__label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--font__color-secondary);
}

.streaming-card__value {
  width: 50%;
  border-left: 1px solid var(--border__color);
  padding: 2rem 2rem 3rem;
}

.streaming-card__amount {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  letter-spacing: -0.6px;
}

.streaming-card__amount-text {
  font-size: 2rem;
  color: var(--font__color-primary);
  padding-right: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.streaming-card__activity-link-row {
  background: var(--streaming-card__activity-link-row-bg-color);
  padding: 1.5rem 2.25rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.streaming-card__activity-link {
  font-size: 1.4rem;
}

.streaming-card__next-icon {
  margin-left: 0.75rem;
}

.streaming-card__icon-nav-buttons {
  display: flex;
}

.streaming-card__balance-symbol-label {
  font-size: 1.4rem;
  color: var(--font__color-secondary);
}

.streaming-card__buy-sell-price-container {
  display: flex;
  position: relative;
}

.streaming-card__sell-price {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.streaming-card__buy-price {
  width: 50%;
  display: flex;
  justify-content: center;
}

.streaming-card__sell-text-span {
  margin-top: 3.0rem;
  position: absolute;
  margin-left: 7.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.streaming-card__buy-text-span {
  margin-top: 3.0rem;
  position: absolute;
  margin-left: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.streaming-card__timezone {
  margin-top: 5.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
}

.streaming-card__small-text-span {
  padding-top: 0.2rem;
  font-size: 1.2rem;
  margin: 0;
  color: var(--font__color-secondary);
}

.streaming-card__ap-instrument-type-select {
  background-color: transparent;
  color: white;
}

.streaming-card__slip-page {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.streaming-card__slip-page-text{
  width: 90%;
  margin-bottom: 1rem;
}

.streaming-card__input-wrapper--slippage {
  width: 50%;
}


.streaming-card__input--slipage {
    width: 10rem;
    margin-top: 10rem;
    z-index: 1;
}

.streaming-card__input--quantity {
    width: 10rem;
    margin-top: 10rem;
    z-index: 1;
    font-size: 16px;
}

.streaming-card__input--quantity::-webkit-outer-spin-button,
.streaming-card__input--quantity::-webkit-inner-spin-button {
  appearance: none;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .streaming-card {
    max-width: 29.6rem;
    height: 28rem;
    margin: 2.5rem 0rem 1rem 1rem;
  }

  .streaming-card__expanded {
    max-width: 29.6rem;
    height: 36.9rem;
    margin: 2.5rem 0rem 1rem 1rem;
  }

  .streaming-card__balance-row {
    flex: 1.3;
  }

  .streaming-card__balance {
    padding: 1.5rem 2.5rem 2rem 2.25rem;
  }

  .streaming-card__amount-text {
    font-size: 1.6rem;
  }

  .streaming-card__balance-symbol-label {
    font-size: 1.2rem;
  }

  .streaming-card__icon-label-row {
    padding-bottom: 1rem;
  }

  .streaming-card__symbol-label {
    line-height: 2.8rem;
  }

   .streaming-card__sell-text-container{
    margin-right: 3rem;
  }

  .streaming-card__buy-text-container-arrow {
    margin-top: -1rem;
    margin-left: 2.2rem;

  }
}

@media (min-width: 768px) and (max-width: 982px) {
  .streaming-card {
    min-width: 29.6rem;
    max-width: 33rem;
  }

  .streaming-card__sell-text-container-span-left {
    font-size: 1.4rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  .streaming-card__sell-text-container{
    margin-right: 3rem;
  }


  .streaming-card__buy-text-container-arrow {
    margin-top: -1rem;
    margin-left: 2.2rem;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  .streaming-card {
    width: 35.1rem;
    height: 28rem;
    margin: 2.5rem 0rem 1rem 1rem;
  }

  .streaming-card__sell-text-span {
    margin-left: 0rem;
  }

  .streaming-card__expanded {
    width: 35.1rem;
    height: 36.9rem;
    margin: 2.5rem 0rem 1rem 1rem;
  }

  .streaming-card__buy-text-container-arrow {
    margin-top: -1rem;
    margin-left: 2.2rem;
  }

  .streaming-card__balance-row {
    flex: 1.3;
  }

  .streaming-card__balance {
    padding: 1.2rem 2.5rem 2rem 2.7rem;
  }

  .streaming-card__amount-text {
    font-size: 1.8rem;
  }

  .streaming-card__balance-symbol-label {
    font-size: 1.4rem;
  }

  .streaming-card__icon-label-row {
    padding-bottom: 1rem;
  }

  .streaming-card__icon {
    margin-left: 2.7rem;
  }

  .streaming-card__symbol-label {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .streaming-card__activity-link-row {
    padding: 1.5rem 1.2rem 1.5rem 2.7rem;
  }

  .streaming-card__sell-text-container{
    margin-right: 3rem;
  }

}
