:root {
  --retail-dashboard__card-header-title-font-size: 1.8rem !important;
}

.dashboard-page {
  width: 95%;
  max-width: 1200px;
  margin: 4rem auto 0;
  flex: 1 0 auto;
}

.dashboard-page__accent-bar {
  height: 21.5rem;
  margin-bottom: -21.5rem;
  background-image: var(--accent-bar__gradient);
  width: 100%;
  flex-shrink: 0;
}

.dashboard-page__notification-row {
  box-shadow: var(--component__box-shadow);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3.7rem;
}

.dashboard-page__merchant-overview-container {
  display: flex;
  height: var(--retail-dashboard__layout-top-row-height);
  margin-bottom: var(--retail-dashboard__layout-top-row-margin);
}

.dashboard-page__merchant-overview-container-left {
  position: relative;
  background: var(--body__gradient);
  width: 68rem;
  margin-right: 3%;
  border-radius: 1rem;
  background: var(--component__bg-color);
  box-shadow: var(--component__box-shadow);
  overflow: hidden;
}

.dashboard-page__merchant-overview-container-right {
  width: 48rem;
  overflow: hidden;
  border-radius: 1rem;
  background: var(--component__bg-color);
  box-shadow: var(--component__box-shadow);
  height: 100%;
}

.dashboard-page__footer {
  margin-top: 8rem;
  flex-shrink: 0;
}

.dashboard-page__balances-header {
  display: flex;
  align-items: center;
  padding-left: var(--retail-dashboard__card-header-title-padding);
  height: var(--retail-dashboard__card-header-height);
  font-size: var(--retail-dashboard__card-header-title-font-size);
  color: var(--retail-dashboard__card-header-title-font-color);
  background: var(--component__header-bg-color);
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dashboard-page__balances-header::after {
  content: '';
  width: 100%;
  height: 0.2rem;
  background-color: var(--component__border-color--glow);
  position: absolute;
  bottom: 0;
  left: 0;
}

.dashboard-page__merchant-overview-container-right .product-balances__container {
  height: calc(100% - var(--retail-dashboard__card-header-height));
}

.dashboard-page__merchant-header {
  display: flex;
  height: var(--retail-dashboard__card-header-height);
  background-color: var(--component__header-bg-color);
  align-items: center;
  padding-left: var(--retail-dashboard__card-header-title-padding);
  font-size: var(--retail-dashboard__card-header-title-font-size);
  color: var(--retail-dashboard__card-header-title-font-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
}

.dashboard-page__merchant-header::after {
  content: '';
  width: 100%;
  height: 0.2rem;
  background-color: var(--component__border-color--glow);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* MEDIA QUERIES */

/* Medium Devices, Tablets */
@media only screen and (max-width: 1228px) {
  .dashboard-page__merchant-overview-container {
    flex-direction: row;
    justify-content: center;
  }

  .dashboard-page__merchant-overview-container-left {
    width: 100%;
    max-width: 52.2rem;
    margin-bottom: 0;
  }

  .dashboard-page__merchant-overview-container-right {
    width: 42.2rem;
  }

  .dashboard-page__recent-activity-container {
    max-width: 96.8rem;
    margin: 0 auto;
  }

  .dashboard-page__notification-row {
    max-width: 96.8rem;
    margin: 0 auto 3.7rem;
  }
}

/* Small Devices, Phones */
@media only screen and (max-width: 720px) {
  .dashboard-page__merchant-overview-container {
    height: 130rem;
    flex-direction: column;
  }

  .dashboard-page__merchant-overview-container-left,
  .dashboard-page__merchant-overview-container-right {
    height: 54rem;
    max-width: unset;
    width: 100%;
  }

  .dashboard-page__merchant-overview-container-right {
    margin-top: var(--retail-dashboard__layout-top-row-margin);
    height: 40rem;
  }

  .dashboard-page__merchant-overview-container-right .product-balances__container {
    height: calc(40rem - var(--retail-dashboard__card-header-height));
  }
}
