.btz-stepper {
  position: relative;
  display: flex;
}

.btz-stepper__step-item {
  position: relative;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #868686;
}

.btz-stepper__step-item:not(:last-child) .line {
  position: absolute;
  width: 100%;
  background-color: #4a4a49;
  height: 1px;
  left: 50%;
  top: 16px;
}

.btz-stepper__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 50%;
  font-size: 14px;
  height: 32px;
  width: 32px;
  background-color: #4a4a49;
}

.btz-stepper__circle.active {
  color: #fff;
  background-image: linear-gradient(135deg, #00c18a, #00a494);
}

.btz-stepper__text {
  font-size: 12px;
  margin-top: 10px;
}

.btz-stepper__text.active {
  color: #7fc6ae;
}