.order-entry {
  background: var(--component__bg-color);
  flex-grow: 1;
}

.order-entry__container {
  height: 100%;
  border-left: var(--component__border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--component__bg-color);
}

.order-entry__container .trade-component__body {
  height: 100%;
}
.trade-component__body {
  overflow: scroll;
}

.order-entry__body {
  height: calc(100% - 6rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0 2rem;
}

.order-entry__body .trade-component__section {
  padding: 2rem 1.6rem 0;
}

.order-entry__sb-container,
.order-entry__input-wrapper,
.order-entry__select-wrapper,
.order-entry-product1__input-wrapper,
.order-entry-product2__input-wrapper,
.order-entry-percent__sb-container {
  padding: 0 1.6rem;
}

.order-entry__select-wrapper {
  margin-bottom: 2rem;
}

.order-entry-product1__input-wrapper,
.order-entry-percent__sb-container {
  margin-bottom: 0.5rem;
}

.order-entry-product2__label {
  display: none;
}

.order-entry-percent__rt-wrapper {
  height: calc(var(--input__height));
  border: 1px solid var(--input__border-color);
  background: var(--input__bg-color);
}

.order-entry-percent__rt-label:hover {
  background: var(--input__label-bg-color);
}

.order-entry-percent__rt-label--checked {
  color: var(--font__color-secondary);
  background: var(--input__bg-color);
}

.order-entry__select{
  -webkit-appearance: none;
}

.order-entry__triangles-container {
  right: 2.5rem;
}

.order-entry__form {
  height: calc(100% - 3.2rem);
}

.order-entry__buy-sell-wrapper {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--border__color);
}

.order-entry__buy-sell-radio-tab-wrapper {
  display: flex;
  padding: 0 1.6rem;
  justify-content: left;
}

.ap-radio-tab__label--subtractive:hover {
  border-color: var(--exchange-colors__sell);
  color: var(--radio__tab-color--hover);
}

.ap-radio-tab__label--additive:hover {
  border-color: var(--exchange-colors__buy);
  color: var(--radio__tab-color--hover);
}

.ap-radio-tab__label--additive:active {
  color: var(--exchange-colors__buy);
}

.ap-radio-tab__label--subtractive:active {
  color: var(--exchange-colors__sell);
}

.ap-radio-tab__label--checked-subtractive,
.ap-radio-tab__label--checked-subtractive:hover {
  color: var(--radio__tab-color--hover);
  border-color: var(--exchange-colors__sell);
}

.ap-radio-tab__label--checked-additive,
.ap-radio-tab__label--checked-additive:hover {
  color: var(--radio__tab-color--hover);
  border-color: var(--exchange-colors__buy);
}

.order-entry__sb-container {
  width: 100%;
  padding-bottom: 20px;
}

.order-entry__rt-wrapper {
  display: flex;
  width: 100%;
}

.order-entry__rt-label {
  text-align: center;
  width: 50%;
}

.order-entry__btn {
  width: 100%;
}

.order-entry__item-button {
  letter-spacing: 0.5px;
  border-radius: 4px;
  padding: 1.5rem;
  margin: -1.25rem -1rem;
  color: var(--link__color);
  cursor: pointer;
}

.order-entry__item-button:hover {
  color: var(--order-entry__item-btn-color--hover);
  background: var(--order-entry__item-btn-bg-color--hover);
}

.order-entry__item-button:active {
  color: var(--order-entry__item-btn-color--hover);
  background: var(--order-entry__item-btn-bg-color--hover);
}

.order-entry__hr {
  margin: 1.3rem -1.6rem;
}

.order-entry__buy-sell-hr {
  margin: -1px 0 0 0;
}

.order-entry__lwt-text {
  color: var(--font__color-primary);
}

.order-entry__input-box {
  flex-direction: column;
}

/* TEMPLATE MEDIA QUERIES */
@media (max-height: 1080px) and (max-width: 1280px) {
  .order-entry {
    height: inherit;
  }
}

@media (max-height: 1080px) {
  .order-entry {
    height: inherit;
  }
}

/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 968px) {
  .order-entry__form {
    height: 100%;
  }
  
  .order-entry__container {
    border-left: unset;
    border-top: var(--component__border);
    height: 84rem;
  }
  
  .order-entry__container .trade-component__body {
    height: unset;
  }
}
