.signup-form__form-container {
  border-radius: var(--standalone-form__border-radius);
  width: 50rem;
}

.signup-form__form {
  margin: 0;
}

.signup-form__container {
  width: 100%;
  padding: 3rem 2.8rem 4rem 2.8rem;
  padding-top: 0;
  border-right: solid 1px var(--component__border-color);
  border-bottom: solid 1px var(--component__border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-form__container:last-child {
  border-right: none;
}

.signup-form__header {
  height: 6.8rem;
  border-top-left-radius: var(--standalone-form__border-radius);
  border-top-right-radius: var(--standalone-form__border-radius);
  border-bottom: 2px solid var(--standalone-form__header-border-color);
}

.signup-form__header-text {
  font-size: 2rem;
}

.signup-form__footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2.8rem 2.8rem;
}

.signup-form__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 23.2rem;
}

.signup-form__text {
  line-height: 1.45;
  color: var(--component__color-secondary);
  font-size: 1.2rem;
  width: 100%;
}

.signup-form__btn {
  width:100%;
  height: 4rem;
  border-radius: 5px;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  background: #74CDA1;
}

.signup-form__input-wrapper {
  margin-bottom: 0px;
  margin-top: 3.6rem;
}

.signup-form__select-wrapper {
  margin-top: 3.6rem;
}

.signup-form__input {
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--border__color);
}

.signup-form__select {
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--border__color);
}

.signup-form__label {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}

.signup-form__select-label {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}

.signup-form__links {
  padding: 0 2.8rem;
  margin: 0;
}

.signup-form__link {
  font-size: 1.2rem;
}

.signup-form__info {
  padding-top: 0.5rem;
}

.signup-form__error {
  height: 0px;
  margin-bottom: 0px;
  position: relative;
}

@media (max-width: 820px) {
  .signup-form__form-container {
    width: var(--standalone-form__container-width);
  }
  
  .signup-form__wrapper {
    flex-direction: column;
  }

  .signup-form__container {
    min-width: initial;
  }
  
  .signup-form__container:nth-of-type(2){
    padding-top: initial;
    border-bottom: solid 1px var(--component__border-color);
  }

  .signup-form:nth-of-type(2) {
    margin-top: 3.6rem;
  }

  .signup-form__footer{
    flex-direction: column;
  }

  .signup-form__btn {
    width: 100%;
  }

  .signup-form__text{
    margin-top: 2.8rem;
    max-width: 100%;
    width: 100%;
  }

  .signup-form__bold-text{
    font-weight: 600;
    color: var(--component__color-primary);
  }
}

/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media (max-width: 576px) {
  .signup-form__form-container {
    width: auto;
  }
}