.rfq__btn-wrapper {
  display: flex;
  margin-top: 2rem;
  background-color: #1c1c1c;
}

.rfq__tab-wrapper {
  background-color: #1c1c1c;
}

.rfq__btn-reset {
  width: 120px;
  height: 4.8rem;
  font-size: 1.8rem;
  margin-right: 2rem;
  border-radius: 6px;
  font-family: 'Inter UI', sans-serif;
  color: #000;
  background-color: #fff;
}

.rfq__request-quote {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 4.8rem;
  font-size: 1.8rem;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  color: #fff;
  background: var(--success__bg-color);
  /* background-image: linear-gradient(to right, #00c18a 0%, #00a494 100%); */
}

.rfq__request-quote:disabled {
  background-color: #2c514a;
  background-image: none;
}

.rfq__request-quote.is-sell {
  background: var(--danger__bg-color);
  /* background-image: linear-gradient(to right, #e72424 0%, #be0000 100%); */
}

.rfq__request-quote.is-sell:disabled {
  background-color: #592b2b;
  background-image: none;
}

.rfq__request-quote-label {
  position: absolute;
  top: 25%;
  display: inline-block;
}

.rfq__request-quote-timer {
  font-size: 16px;
  font-family: 'db_airystd';
  display: inline-block;
  position: absolute;
  right: 4rem;
  top: 33.333%;
}

.rfq__request-quote-timer-overlay {
  background-color: #000;
  opacity: 0.25;
  display: block;
  position: relative;
  height: 4.8rem;
}

@media only screen and (max-width: 480px) {
  .rfq__request-quote-label {
    top: 27%;
    right: 2rem;
  }
  .rfq__request-quote-timer {
    left: 2rem;
    text-align: left;
  }
}
