:root {

  /* 18, 23, 34 */

  
  /* PC == palette color */
  /* BASE COLORS */
  --pc__branding: 29, 200, 183;
  --pc__branding-gradient-start: 219, 230, 133;
  --pc__branding-gradient-end: 129, 200, 183;
  --pc__font-primary: 255, 255, 255;
  --pc__font-secondary: 177, 177, 177;

  /* BACKGROUND COLORS (order=light-dark)*/
  --pc__background-primary: 29, 33, 44;
  --pc__background-secondary: 18, 23, 34;
  --pc__background-tertiary: 20, 20, 20;
  --pc__background-quaternary: 40, 25, 63;

  /* ACCENT COLORS */
  --pc__accent-additive: 29, 200, 183;
  --pc__accent-subtractive: 212, 44, 95;
  --pc__accent-warning: 249, 133, 48;
  --pc__accent-success: 79, 203, 133;
  --pc__accent-danger: 212, 44, 95;
  --pc__accent-highlight: 29, 200, 183;

  /* TH = theme  */

  /* GENERAL */
  --th__component-box-shadow-color: 0, 0, 0, 0.21;
  
  /* SETTINGS PAGES*/
  --th-settings__accent-bar-display: none;
  /* SETTINGS -- container */
  --th-settings__body-bg-color: rgb(var(--pc__background-secondary));
  --th-settings__body-max-width: 100%;
  --th-settings__body-height: 100%;
  --th-settings__body-margin: 0;
  --th-settings__body-padding: 0;
  /* SETTINGS -- container - header */
  --th-settings__body-header-bg-color: transparent;
  --th-settings__body-header-margin: 2rem;
  --th-settings__body-header-with-border-height: 7rem;
  /* SETTINGS -- container - header title */
  --th-settings__body-header-title-font-size: 2rem;
  --th-settings__body-header-title-font-color: rgb(var(--pc__font-primary));
  --th-settings__body-header-title-letter-spacing: 0.08rem;
  --th-settings__body-header-title-padding-bottom: 1rem;
  --th-settings__body-header-title-padding-left: 2.8rem;
  --th-settings__body-header-title-padding-right: 1.6rem;
  /* SETTINGS -- container - header sub title*/
  --th-settings__body-header-sub-title-font-size: 1.1rem;
  --th-settings__body-header-sub-title-font-color: rgb(var(--pc__font-secondary));
  --th-settings__body-header-sub-title-letter-spacing: 0.05rem;
  --th-settings__body-header-sub-title-line-height: 1.5rem;
  /* SETTINGS -- card */
  --th-settings__card-box-shadow: 0 0.5rem 2rem 0 transparent;
  --th-settings__card-border-radius-size: 0;
  /* SETTINGS -- card - header*/
  --th-settings__card-header-bg-color: rgb(var(--pc__background-primary));
  --th-settings__card-header-accent-border: 2px solid transparent;
  --th-settings__card-header-padding: 1rem 2rem;
  --th-settings__card-header-title-font-size: 1.2rem;
  --th-settings__card-header-title-font-color: rgb(var(--pc__font-primary));
  --th-settings__card-header-title-letter-spacing: 0.02rem;
  /* SETTINGS PAGES --- SPECIFIC SETTINGS*/
  /* SETTINGS -- profile & security */
  --th-settings__profile-and-security-card-max-width: 50%;
  --th-settings__profile-and-security-card-margin-r: 0;
  --th-settings__profile-and-security-card-margin-b: 0;
  --th-settings__profile-and-security-row-width: 100%;
  --th-settings__profile-and-security-card-border-right: 1px solid rgb(var(--pc__background-tertiary));
  --th-settings__profile-and-security-card-border-bottom: 1px solid rgb(var(--pc__background-tertiary));
  /* SETTINGS -- kyc */
  --th-settings__kyc-cards-container-margin-l: 2rem;
  --th-settings__kyc-card-border-radius: 0.75rem;
  --th-settings__kyc-card-bg-color: rgb(var(--pc__background-secondary));
  --th-settings__kyc-card-container-border-color: rgba(var(--pc__font-secondary),0.4);
  --th-settings__kyc-card-container-border-color--selected: rgb(var(--pc__font-secondary));
  --th-settings__kyc-card-container-border-size: 0.1rem;
  --th-settings__kyc-card-container-border-size--selected: 0.2rem;
  --th-settings__kyc-card-header-bg-color: transparent;
  --th-settings__kyc-card-body-top-border-color: rgba(var(--pc__font-secondary),0.4);
  --th-settings__kyc-card-body-top-border-size: var(
    --th-settings__kyc-card-container-border-size
  );
  --th-settings__kyc-card-body-bottom-border-color: rgba(var(--pc__font-secondary),0.4);
  --th-settings__kyc-card-body-bottom-border-size: var(--th-settings__kyc-card-container-border-size);
  --th-settings__kyc-card-footer-color--verified: rgb(var(--pc__accent-success));
  /* SETTINGS -- kyc - star */
  --th-settings__kyc-card-star-display: none;
  --th-settings__kyc-card-star-bg-color: rgb(var(--pc__font-primary));
  --th-settings__kyc-card-star-fill-color: rgb(var(--pc__accent-additive));
  --th-settings__kyc-card-star-box-shadow: -0.5rem 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  /* SETTINGS -- trade reports*/
  --th-settings__trade-reports-create-new-header-display: none;
  --th-settings__trade-reports-create-new-actions-holder-padding: 0;
  --th-settings__trade-reports-create-new-actions-holder-flex-direction: column;
  --th-settings__trade-reports-create-new-actions-holder-border: none;
  --th-settings__trade-reports-create-new-actions-btn-width: 100%;
  --th-settings__trade-reports-create-new-actions-top-btn-margin-b: 2rem;
  --th-settings__trade-reports-create-new-actions-btn-font-color: rgb(var(--pc__font-primary));
  --th-settings__trade-reports-create-new-actions-btn-bg-color: rgba(var(--pc__accent-additive),0.9);
  /* SETTINGS -- API keys*/
  --th-settings__api-keys-create-new-header-display: none;
  --th-settings__api-keys-create-new-actions-holder-margin: 0;
  --th-settings__api-keys-create-new-actions-holder-btn-width: 100%;
  --th-settings__api-keys-create-new-actions-holder-btn-border: none;
  --th-settings__api-keys-create-new-actions-documentation-btn-margin-t: 0;
  --th-settings__api-keys-create-new-actions-documentation-btn-justify-content: left;
  --th-settings__api-keys-create-new-actions-documentation-btn-font-color: rgb(var(--pc__accent-additive));
  --th-settings__api-keys-create-new-actions-btn-font-color: rgb(var(--pc__font-primary));
  --th-settings__api-keys-create-new-actions-btn-bg-color: rgba(var(--pc__accent-additive),0.9);
  --settings__api-keys-secondary-color: rgb(var(--pc__font-secondary));
  /* SETTINGS -- TrustPay External Credit Card Form */
  --th-settings__trustpay-form-font-color: 0, 0, 0;
}
