:root {
  /* PC == palette color */

  /* BASE COLORS */
  --pc__branding: 64, 80, 144;
  --pc__branding-gradient-start: 99, 127, 234;
  --pc__branding-gradient-end: 77, 105, 211;
  --pc__font-primary: 61, 71, 84;
  --pc__font-secondary: 139, 155, 179;

  /* BACKGROUND COLORS (order=light-dark)*/
  --pc__background-primary: 255, 255, 255;
  --pc__background-secondary: 250, 251, 252;
  --pc__background-tertiary: 234, 234, 234;
  --pc__background-quaternary: 200, 200, 200;

  /* ACCENT COLORS */
  --pc__accent-additive: 79, 203, 133;
  --pc__accent-subtractive: 255, 71, 114;
  --pc__accent-warning: 249, 133, 48;
  --pc__accent-success: 79, 203, 133;
  --pc__accent-danger: 255, 71, 71;
  --pc__accent-highlight: 85, 118, 250;

  /* TH = theme  */

  /* GENERAL */
  --th__component-box-shadow-color: 76, 100, 138, 0.17;
  
  /* SETTINGS PAGES*/
  --th-settings__accent-bar-display: block;
  /* SETTINGS -- container */
  --th-settings__body-bg-color: transparent;
  --th-settings__body-max-width: 106rem;
  --th-settings__body-height: auto;
  --th-settings__body-margin: 0;
  --th-settings__body-padding: 3rem;
  /* SETTINGS -- container - header */
  --th-settings__body-header-bg-color: transparent;
  --th-settings__body-header-margin: 2rem;
  --th-settings__body-header-with-border-height: 7rem;
  /* SETTINGS -- container - header title */
  --th-settings__body-header-title-font-size: 2rem;
  --th-settings__body-header-title-font-color: #ffffff;
  --th-settings__body-header-title-letter-spacing: 0.05rem;
  --th-settings__body-header-title-padding-bottom: 2rem;
  --th-settings__body-header-title-padding-left: 2.8rem;
  --th-settings__body-header-title-padding-right: 1.6rem;
  /* SETTINGS -- container - header sub title*/
  --th-settings__body-header-sub-title-font-size: 1.2rem;
  --th-settings__body-header-sub-title-font-color: #ffffff;
  --th-settings__body-header-sub-title-letter-spacing: 0.05rem;
  --th-settings__body-header-sub-title-line-height: 1.5rem;
  /* SETTINGS -- card */
  --th-settings__card-box-shadow: 0 0.5rem 2rem 0 rgba(var(--th__component-box-shadow-color));
  --th-settings__card-border-radius-size: 1rem;
  /* SETTINGS -- card - header*/
  --th-settings__card-header-bg-color: rgb(var(--pc__background-primary));
  --th-settings__card-header-accent-border: 2px solid rgb(var(--pc__accent-highlight));
  --th-settings__card-header-padding: 2rem;
  --th-settings__card-header-title-font-size: 2rem;
  --th-settings__card-header-title-font-color: rgb(var(--pc__font-primary));
  --th-settings__card-header-title-letter-spacing: 0.05rem;
  /* SETTINGS PAGES --- SPECIFIC SETTINGS*/
  /* SETTINGS -- profile & security */
  --th-settings__profile-and-security-card-max-width: calc((var(--th-settings__body-max-width) / 2) - (var(--th-settings__body-padding) * 3));
  --th-settings__profile-and-security-card-margin-r: 3rem;
  --th-settings__profile-and-security-card-margin-b: 4rem;
  --th-settings__profile-and-security-row-width: 100%;
  --th-settings__profile-and-security-card-border-right: none;
  --th-settings__profile-and-security-card-border-bottom: none;
  /* SETTINGS -- kyc */
  --th-settings__kyc-cards-container-margin-l: 0;
  --th-settings__kyc-card-border-radius: var(--th-settings__card-border-radius-size);
  --th-settings__kyc-card-bg-color: rgb(var(--pc__background-secondary));
  --th-settings__kyc-card-container-border-color: transparent;
  --th-settings__kyc-card-container-border-color--selected: transparent;
  --th-settings__kyc-card-container-border-size: 0;
  --th-settings__kyc-card-container-border-size--selected: 0;
  --th-settings__kyc-card-header-bg-color: rgb(var(--pc__background-primary));
  --th-settings__kyc-card-body-top-border-color: transparent;
  --th-settings__kyc-card-body-top-border-size: 0;
  --th-settings__kyc-card-body-bottom-border-color: rgb(var(--pc__background-tertiary));
  --th-settings__kyc-card-body-bottom-border-size: 0.1rem;
  --th-settings__kyc-card-footer-color--verified: rgb(var(--pc__accent-success));
  /* SETTINGS -- kyc - star */
  --th-settings__kyc-card-star-display: block;
  --th-settings__kyc-card-star-bg-color: rgb(var(--pc__background-primary));
  --th-settings__kyc-card-star-fill-color: rgb(var(--pc__accent-additive));
  --th-settings__kyc-card-star-box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.2);
  /* SETTINGS -- trade reports*/
  --th-settings__trade-reports-create-new-header-display: flex;
  --th-settings__trade-reports-create-new-actions-holder-padding: 2rem;
  --th-settings__trade-reports-create-new-actions-holder-flex-direction: row;
  --th-settings__trade-reports-create-new-actions-holder-border: 1px solid rgba(255, 255, 255, 0.5);
  --th-settings__trade-reports-create-new-actions-btn-width: 45%;
  --th-settings__trade-reports-create-new-actions-top-btn-margin-b: 0;
  --th-settings__trade-reports-create-new-actions-btn-font-color: rgb(var(--pc__font-primary));
  --th-settings__trade-reports-create-new-actions-btn-bg-color: #ffffff;
  --th-settings__trade-reports-border-radius: 0.4rem;
  /* SETTINGS -- API keys*/
  --th-settings__api-keys-create-new-header-display: flex;
  --th-settings__api-keys-create-new-actions-holder-margin: 1.4rem;
  --th-settings__api-keys-create-new-actions-holder-btn-width: 24rem;
  --th-settings__api-keys-create-new-actions-holder-btn-border: 1px solid var(--retail-api-keys-form__create-new-border-color);
  --th-settings__api-keys-create-new-actions-documentation-btn-margin-t: 1.6rem;
  --th-settings__api-keys-create-new-actions-documentation-btn-justify-content: center;
  --th-settings__api-keys-create-new-actions-documentation-btn-font-color: #ffffff;
  --th-settings__api-keys-create-new-actions-btn-font-color: rgb(var(--pc__font-primary));
  --th-settings__api-keys-create-new-actions-btn-bg-color: #ffffff;
  --settings__api-keys-secondary-color: #fff;
  /* SETTINGS -- TrustPay External Credit Card Form */
  --th-settings__trustpay-form-font-color: 0, 0, 0;
}
