.merchant-activity {
  border-radius: 1rem;
  background: var(--component__bg-color);
  overflow: hidden;
  box-shadow: var(--component__box-shadow);
}

.merchant-activity__body {
  min-width: 117rem;
  max-height: 52rem;
  -webkit-overflow-scrolling: touch;
}

.merchant-activity__header-column .merchant-activity__fixed {
  line-height: 3.3rem;
  margin-top: -3.3rem;
}

.flex-table__column.merchant-activity__header-column,
.flex-table__column.merchant-activity__column {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.flex-table__column.merchant-activity__column .activity__date,
.flex-table__column.merchant-activity__column .activity__amount {
  padding: 0px
}

.flex-table__column.merchant-activity__header-column {
  border-right: 1px solid var(--border__color);
  padding-top: 3.3rem;
}

.flex-table__header.merchant-activity__table-header .flex-table__column,
.flex-table__row.merchant-activity__row .flex-table__column {
  min-width: 18rem;
}

.flex-table__header.merchant-activity__table-header .flex-table__column:nth-child(2),
.flex-table__row.merchant-activity__row .flex-table__column:nth-child(2) {
  min-width: 11rem;
}

.merchant-activity__body {
  border-radius: 0;
}

.merchant-activity__header-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: var(--retail-dashboard__card-header-title-padding);
  padding-right: var(--retail-dashboard__card-header-title-padding);
  height: var(--retail-dashboard__card-header-height);
  justify-content: space-between;
  background-color: var(--component__header-bg-color);
  border-bottom: 2px solid var(--component__border-color--glow);
}

.merchant-activity__header-text {
  font-size: var(--retail-dashboard__card-header-title-font-size);
  color: var(--retail-dashboard__card-header-title-font-color);
}

.merchant-activity__modal-text {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border__color);
  width: 320px;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.6rem 0rem;
}

.merchant-activity__modal-text label {
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  color: var(--font__color-secondary);
}

.merchant-activity__modal-invoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  border-radius: 6px;
  border: solid 1px #394154;
  padding: 1.1rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.merchant-activity__modal-invoice span {
  display: block;
  word-break: break-all;
  text-align: center;
}


.flex-table__row.merchant-activity__row {
  height: 7rem;
  line-height: 7rem;
  display: flex;
  padding: 0 2.8rem;
}

.merchant-activity__table-header {
  padding: 0 2.8rem;
}

.merchant-activity__table-header--background {
  height: 3.3rem;
  border-top: 1px solid var(--table__row-separator-color);
  border-bottom: 2px solid var(--table__header-separator-color);
}

.merchant-activity-pagination__container {
  background: var(--component__header-bg-color);
  height: 6.4rem;
  padding: 0 1.4rem;
}

.merchant-activity-pagination__text {
  height: 3.8rem;
  width: 12.5rem;
  border: 1px solid var(--border__color);
  text-align: center;
  background: var(--table__row-bg-color);
  font-size: 1.4rem;
}

.merchant-activity-pagination__text--disabled {
  background: transparent;
}

.merchant-activity-pagination__pages {
  line-height: 3.6rem;
  text-align: center;
}

.merchant-activity-pagination__page {
  width: 3.6rem;
  padding: 0;
  background: var(--table__row-bg-color);
  font-size: 1.4rem;
}

.merchant-activity-pagination__page--active {
  background: var(--pagination__bg-color--active);
}

.merchant-activity-pagination__page--active:last-child {
  border-right: 1px solid var(--border_color);
}

.flex-table__wide-row-container {
  overflow-x: unset;
}


/* BROWSER QUERIES */

/* IE11+ specific styles */
_:-ms-fullscreen, :root .merchant-activity__select{
  padding-right: 0;
}

_:-ms-fullscreen, :root .merchant-activity__select-label::before,
.merchant-activity__select-label::after {
  display: none;
}

_:-ms-fullscreen, :root .merchant-activity .flex-table__header-cell--absolute{
  position: relative !important;
}

_:-ms-fullscreen, :root .merchant-activity__header-bar {
  flex-wrap: nowrap;
}

/* MEDIA QUERIES */

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  .merchant-activity__select-wrapper {
    width: 100%;
  }

  .merchant-activity__from__dpk-label {
    margin-left: 0;
  }


  .merchant-activity-pagination__text {
    width: auto;
    padding: 0 1rem;
  }

  /* BROWSER QUERIES */
  
  /* IE11+ specific styles */
  _:-ms-fullscreen, :root .merchant-activity__header-bar{
    height: 27rem !important;
  }

  _:-ms-fullscreen, :root .merchant-activity__header-text {
    width: 100%;
    align-items:flex-end;
  }

  _:-ms-fullscreen, :root .merchant-activity__select-buttons {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  _:-ms-fullscreen, :root .merchant-activity__to__dpk-wrapper,
  .merchant-activity__from__dpk-wrapper{
    width: 100%;
  }

  _:-ms-fullscreen, :root .merchant-activity__btn--clear-filters{
    margin-left: 0;
  }
}