
.confirm-withdraw__footer {
  display: flex;
}

.confirm-withdraw__footer > a {
  flex-grow: 1;
  border-radius: 0px;
  border: 0px;
  padding: 0.5rem 1rem;
}

.confirm-withdraw__login-btn {
  background: #707070;
}