.reset-password__container {
  border-radius: var(--standalone-form__border-radius);
}

.reset-password__header {
  height: 6.8rem;
  border-top-left-radius: var(--standalone-form__border-radius);
  border-top-right-radius: var(--standalone-form__border-radius);
  border-bottom: 2px solid var(--standalone-form__header-border-color);
}

.reset-password__separator {
  margin: 0.9rem -2.8rem 3rem -2.8rem;
}

.reset-password__btn {
  height: 5rem;
  border-radius: 5px;
  font-size: 1.4rem;
}

.reset-password__label {
  font-size: 1.4rem;
  letter-spacing: -0.5px;
}
  
.reset-password__input {
  height: 3.6rem;
  border-radius: 5px;
  border: 1px solid var(--border__color);
}
  
.reset-password__input-wrapper {
  padding-bottom: 3.6rem;
  margin: 0;
}