.enable-2fa-modal {
  display: flex;
  padding-left: 0.6rem;
}

.enable-2fa-modal__text-item {
  color: var(--font__color-secondary);
  font-size: 1.1rem;
  margin-bottom: 2rem;
  width: 25rem;
  padding-left: 1.6rem;
}

.enable-2fa-modal__qr-code {
  margin-left: 2rem;
}

.enable-2fa-modal__text-container {
  padding-left: 1.2rem;
}

.enable-2fa-modal__input-wrapper {
  width: 9rem;
  margin-left: 2.5rem;
}

.enable-2fa-modal__input {
  text-align: center;
}

.enable-2fa-modal__footer {
  border-top: 1px solid var(--border__color);
  padding-top: 2.6rem;
  padding-bottom: 0.6rem;
  margin-left: 2.6rem;
  margin-top: 2rem;
}

.enable-2fa-modal__btn {
  width: 14.3rem;
}

.enable-2fa-modal .ap-auto-tab-input {
  transition: var(--transition__settings);
  border: 1px solid transparent;
}
.enable-2fa-modal .ap-auto-tab-input:hover {
  border: 1px solid
    var(--enable-2fa-modal__ap-auto-tab-input-border-color--hover);
}
.enable-2fa-modal .ap-auto-tab-input:focus {
  border: 1px solid
    var(--enable-2fa-modal__ap-auto-tab-input-border-color--focus);
}

.enable-2fa-modal__google-code {
  margin-top: 2rem;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.enable-2fa-modal__google-code p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

/* MEDIA QUERIES */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .enable-2fa-modal__qr-code {
    width: 16rem;
    margin-left: -1rem;
    margin-top: 2rem;
  }
  .enable-2fa-modal {
    display: block;
  }
}

