*,
*::before,
*::after,
*:focus {
  border: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  line-height: 1.15;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--font__color-primary);
  font-family: var(--font__typeface);
  font-weight: normal;
}
body:before {
  background: var(--body__gradient);
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

a,
div,
input,
button,
small,
label,
tr,
li {
  font-size: 1.1rem;
  transition: var(--transition__settings);
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: normal;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Link */

a {
  cursor: pointer;
  display: inline-block;
  color: var(--link__color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--link__color--hover);
}

a:disabled {
  color: var(--link__color--disabled);
}

/*
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}
*/

pre,
code,
kbd,
samp {
  font-family: var(--font__typeface-code);
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  font: inherit;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--border__color);
}

small {
  font-size: 1rem;
  font-weight: 400;
}

button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

option {
  border: none;
  outline: none;
  box-shadow: none;
  background: var(--input__bg-color);
}

/* custon scrollbars only for webkit - not supported on all browsers - use javascript? */

div::-webkit-scrollbar,
::-webkit-scrollbar {
  width: var(--component-scrollbar__size);
  height: var(--component-scrollbar__size);
  background: var(--scrollbar__bg-color);
  border-radius: 1px;
}

/* browser scrollbar should be thicker than element scrollbars */
::-webkit-scrollbar {
  width: var(--scrollbar__size);
  height: var(--scrollbar__size);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--scrollbar__thumb-bg-color);
}

.container-with-shadow {
  box-shadow: var(--component__box-shadow);
  overflow: hidden;
  border-radius: 1rem;
}

.hide {
  display: none;
  visibility: hidden;
}

#landing.hide,
#landing {
  animation: fade 0.5s linear forwards;
}
#root,
#root.hide {
  animation: fade 0.5s linear forwards;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
